[2016-03-02 21:42] Tratcher commented on #619
@JunTaoLuo @troydai

[2016-03-02 23:07] muratg commented on #528
@lodejard @Eilon mentioned that you can take this one.

[2016-03-02 23:10] Tratcher commented on #603
Not until we get a solid repro on his original complaint. It's harder to interact over in WebListener land.

[2016-03-02 23:29] lodejard commented on #528
Sure - assuming we're all signed off on the change

[2016-03-03 05:29] PRebba opened #624 "HTTP Error 502.3 - Bad Gateway- The specified CGI application encountered an error and the server terminated the process."
I am getting this error only on PUT after upgrading dnx to 1.0.0 rc1 update. In eventvwr, I can see the below logged as Application Error:
Faulting application name: dnx.exe, version: 1.0.0.11123, time stamp: 0x5653996f
Faulting module name: MSVCR80.dll, version: 8.0.50727.9193, time stamp: 0x56048aec
Exception code: 0xc000000d
Fault offset: 0x000000000001da44
Faulting process id: 0x1958
Faulting

[2016-03-03 17:25] muratg commented on #612
This makes sense to me. @Tratcher let me know what you think.

[2016-03-03 18:15] moozzyk commented on #624
MSVCR80.dll? dnx should not use it at all. Are you using any 3rd party dependencies/libraries (possibly native) that are loading MSVCR80.dll? What OS is this? Do you have .NET Framework 4.5.1 installed? If you run the application directly (i.e. without http platform handler) does it crash as well? Can you `set DNX_TRACE=1` and show the output?

[2016-03-03 18:30] troydai commented on #619
I added translation in the original report. @Tratcher

[2016-03-04 04:17] PRebba commented on #624
My OS is Windows 10. Framework 4.5.1 is installed.

[2016-03-04 08:39] davidfowl commented on #622
This already exists in rc2 as an option that can be set in the same ways as server.urls.

[2016-03-04 09:05] cwe1ss commented on #622
Hi David, thank you for your response! Looks like a lot has changed since RC1 (which is a good thing!! :-) )

Regarding the logging: [Are we talking about this code?](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/WebHost.cs#L187)

Right now, if `CaptureStartupErrors` is `false`, exceptions never enter the catch block and therefore, `logger.ApplicationError(ex

[2016-03-04 09:21] davidfowl commented on #622
@Eilon @lodejard @rynowak @Tratcher What did we say about logging and re-throwing? Wasn't that one of the logging no nos?

[2016-03-04 09:26] cwe1ss commented on #622
That's not great, yes. Maybe something like this would be better:

[code]

[2016-03-04 18:08] moozzyk commented on #624
Can you show your project.json file? Also, can you provide a minimal repro?

[2016-03-04 18:32] JunTaoLuo opened #626 "Deployment targets need to be updated for published apps"
Currently we use the RuntimeFlavor to determine which TFM to publish for but this will no longer be valid since we may have a mix of `dnxcore50` and `netstandardapp1.x`. I propose we add another deployment parameter that tests can set to specify which target framework to actually publish for. An alternative is to parse the project's json file and look for a list of targets that are compatible with

[2016-03-04 18:46] JunTaoLuo commented on #626
cc @BrennanConroy

[2016-03-04 20:30] JunTaoLuo commented on #626
Merged to dev, closing. Working on reactions to this change:
- [x] ServerTest
- [x] IISIntegration
- [x] MusicStore
- [ ] Entropy
- [ ] Performance
- [x] Localization, no need for update since none of the tests requires publishing before deployment

[2016-03-04 20:30] #626 closed

[2016-03-04 21:23] Tratcher commented on #619
The browser may be sending two requests. You can use tools like Fiddler or Message Analyzer to see the raw requests as they come over the wire.

[2016-03-04 22:04] Tratcher commented on #612
Sounds good.

[2016-03-04 23:10] #612 closed

[2016-03-07 05:46] troydai commented on #619
@lmxin123 需要翻译吗？

[2016-03-08 18:49] Mady007 opened #629 "IIS Hosting Issues"
I'm trying to host application on IIS, windows server 2008 R2, under **default website**. I tried to access the site through browser and it loads forever with below error in logs file.

`
      Error: Unable to load application or execute command 'Microsoft.AspNet.Server.WebListener'.   Available commands: web, ef.
       System.IO.FileNotFoundException: The system cannot find the file specified.

[2016-03-08 18:54] Tratcher commented on #629
WebListener cannot be used with IIS/Express, you must use Kestrel: https://github.com/aspnet/IISIntegration/issues/8

[2016-03-08 19:44] Mady007 commented on #629
I did tried using Kestrel. I have got the following errors.

**In Log file:**

`
             Error: Unable to load application or execute command 'Microsoft.AspNet.Server.Kestrel'. Available commands: web, ef.
             System.IO.FileNotFoundException: The system cannot find the file specified. (Exception from  HRESULT: 0x80070002)
             at System.Reflection.RuntimeAssembly.nLoadFile(St

[2016-03-08 19:57] Tratcher commented on #629
@halter73?

[2016-03-08 20:18] DavidObando opened #630 "Application deployer in testing package doesn't work when user's home dir contains whitespace"
The issue is rooted in the line that sends the [`" -o {DeploymentParameters.PublishedApplicationRootPath}"`](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/Deployers/ApplicationDeployer.cs#L52) parameter.

[2016-03-08 22:06] Mady007 commented on #629
You want me talk to him @halter73?

[2016-03-08 22:11] davidfowl commented on #629
No, he's making @halter73 aware of the issue

[2016-03-08 22:25] Mady007 commented on #629
Thanks for the quick response.

There seems to be some issue with Https schema. I tried to set manually as suggested here [Manually setting Https Schema](https://github.com/aspnet/KestrelHttpServer/issues/454)

Also,
I came across article [here](http://tostring.it/2016/01/12/Using-Kestrel-with-ASPNET-5/) which talks about accessing certificates thru middle ware as follows. To make the site accessi

[2016-03-08 23:04] Tratcher commented on #629
You only need to configure the server certificate with Kestrel if you're accessing kestrel directly rather than via IIS. When you proxy through IIS it only uses SSL/TLS/HTTPS between the client and IIS, it uses HTTP between IIS and Kestrel.

[2016-03-09 01:07] halter73 commented on #629
@Mady007 Are you still having the permission issue when running web.cmd? If so, can you provide the full output of the command including the address you are attempting to listen on?

[2016-03-09 03:11] lmxin123 commented on #619
This problem happen when the project.json like this
"commands": {
    "web": "Microsoft.AspNet.Server.Kestrel --server.urls http://localhost:5001",
    "ef": "EntityFramework.Commands"
  }

But this problem has be solve when I change the project.json like this

"commands": {
    "web": "Microsoft.AspNet.Server.WebListener --server.urls http://localhost:5001",
    "ef": "EntityFramework.Commands"

[2016-03-09 04:35] Mady007 commented on #629
Yes, I do have the permission issue but however I could get it go away when I provided the port number as part of server urls argument in project.json.  But that is not what I desire.

"web": "Microsoft.AspNet.Server.WebListener --server.urls https://MyMainSite.com:1234/MySite"

When I'm attempt to listen on something similar to https://MyMainSite.com/MySite, without port number  by running web.cm

[2016-03-09 08:34] halter73 commented on #629
So the error indicates you're running into a permissions issue trying to bind to port 443 but not 1234. Typically, if it's simply that another process is already listening on the same port, you would get an error like:

    UvException: Error -4091 EADDRINUSE address already in use

@Tratcher do you know why there might be a problem with permissions? On my Windows machine I'm able to bind to 443 e

[2016-03-09 09:01] troydai commented on #619
Meaning `Kestrel` and `WebListener` responds the requests different. It will be more helpful if you can provide us the raw requests.

[2016-03-09 15:57] Tratcher commented on #629
I'd bet IIS is already running on 80 and 443.

[2016-03-09 17:03] Mady007 commented on #629
@Tratcher is correct. IIS is already running on 80 and 443. There are multiple asp.net 4 applications which are deployed under the default website and they are up and running.

Does IIS have to be configured as reverse proxy?

[2016-03-09 17:06] Tratcher commented on #629
Kestrel cannot share ports with IIS, you have to give IIS the port and have it reverse proxy the request to Kestrel on a random port.

[2016-03-09 17:14] Mady007 commented on #629
Ok. It would be great help if you can point to some documentation ?

[2016-03-09 22:14] Tratcher opened #631 "Test deployers cause console popup windows"
The test deployers are written to avoid opening any new windows, but something has regressed recently where `dotnet run` and `dotnet publish` cause new very short lived console windows. This is annoying because the new windows grab focus and interrupt typing on the machine.

See https://github.com/aspnet/Hosting/blob/a04dae1b1487ba4cd00753b86d2b6d153b46d503/src/Microsoft.AspNetCore.Server.Testing/

[2016-03-10 00:22] GuardRex commented on #629
@Mady007 There is the official doc at https://docs.asp.net/en/latest/publishing/iis.html and my notes for IIS that apply to `rc1-final` at  https://github.com/aspnet/Hosting/issues/364#issuecomment-148567294.

[2016-03-10 05:36] xatabhk opened #632 "An unhandled exception has occurred: Sequence contains no matching element"
"dotnet run" fails, but "dnx web" works.
dnx: 1.0.0-rc2-16595
dotnet:1.0.0-beta-001694

Error message:
info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://localhost:5000/Downloads
fail: Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware[0]
      An unhandled exception has occurred: Sequence contains no matching element
System.InvalidOperationE

[2016-03-10 05:38] davidfowl commented on #632
/cc @pakrym.

This is a known issue and was fixed here https://github.com/dotnet/cli/commit/85b7336529049ec78fa76b7c7e6e11833a4dc32d.

[2016-03-10 05:38] #632 closed

[2016-03-10 11:21] davidfowl opened #633 "Add ContentRootPath to IHostingEnvironment"
See discussion at https://github.com/aspnet/PlatformAbstractions/issues/26. We're going to leave out `IApplicationEnvironment` as it's intended as a pure BCL abstraction API and instead we're going to add the `ContentRootPath` property (and maybe file provider) to `IHostingEnvironment`.

/cc @DamianEdwards @lodejard @JunTaoLuo

[2016-03-10 17:18] davidfowl commented on #633
[code]

[2016-03-10 18:51] Mady007 commented on #629
@GuardRex Thank you! I have gone through those both links earlier. I have requested the documentation of reverse proxy the request from IIS to Kestrel. Anyways, I'm on it. There is no luck so far but will update once I'm done.

@Tratcher : You mentioned "..reverse proxy the request to Kestrel on a random port".So the application has to listen on the random port. How to make application listen on t

[2016-03-10 19:36] moozzyk commented on #629
Http platform handler sets an environment variable with the port number to listen on. By using `UseIISPlatformHandler` you tell your application to read this variable and listen on this port.

[2016-03-10 19:37] Tratcher commented on #629
In RC1 Hosting automatically listens on the port specified by IIS via environment variable. See https://github.com/aspnet/Hosting/blob/1.0.0-rc1/src/Microsoft.AspNet.Hosting/Internal/HostingEngine.cs#L262-L276

This will move in RC2.

[2016-03-10 21:44] davidfowl opened #635 "Add Name to IHostingEnvironment"
[code]

[2016-03-10 21:45] Tratcher commented on #635
ApplicationName?

[2016-03-10 21:55] davidfowl commented on #635
Sounds good

[2016-03-10 22:40] muratg opened #636 "Rename UseDefaultConfiguration extension method to UseDefaultHostingConfiguration"
[Came up in the Templates review]

[2016-03-10 23:46] JunTaoLuo commented on #613
Merged to dev

[2016-03-10 23:46] #613 closed

[2016-03-11 00:15] rustd commented on #636
Add XML doc comments for the API as well.

[2016-03-11 14:49] neridonk opened #638 "Iis Hosting 500 Internal Server Error workaround"
im Hosting my files on port 80:

this is my Startup

[code]

which i have from

https://github.com/aspnet/IISIntegration/issues/14#issuecomment-171451445

but i still get this damn error . did i miss something for the workaround?

[2016-03-11 18:21] divega opened #639 "File database relative path connection string issue"
_From @andrew-vandenbrink on February 19, 2016 11:2_

Not sure if this can be solved but an issue anyway
This is the configuration
![image](https://cloud.githubusercontent.com/assets/12871379/13173635/087de5fe-d6ff-11e5-869e-06d3ed47be96.png)

When developing with local machine its expect the databases to reside in the same level of source code
![image](https://cloud.githubusercontent.com/assets/1

[2016-03-11 18:21] divega commented on #639
@Eilon any insights on this feedback and what the "ideal" location for a database file would be at development time and on deployment?

FWIW, our SQLite provider simply uses `AppContext.BaseDirectory` (or equivalent) to resolve file name locations in the connection string.

[2016-03-11 18:21] divega commented on #639
_From @Eilon on February 27, 2016 18:59_

I have no strong opinion on this, as long as it's not in `wwwroot` :smile:

[2016-03-11 18:21] divega commented on #639
_From @MaximRouiller on February 29, 2016 13:47_

`App_Data`? :stuck_out_tongue_winking_eye:

[2016-03-11 18:21] divega commented on #639
_From @blowdart on March 2, 2016 22:5_

This really isn't an identity issue, it's more a configuration one. @Eilon where should this bug end up?

[2016-03-11 18:21] divega commented on #639
It a question/suggestion about what should the base path be at development and deployment so I don't think @blowdart means "configuration" in the [aspnet/Configuration](http://github.com/aspnet/Configuration) sense.
Maybe [aspnet/Hosting](http://github.com/aspnet/Hosting)?

[2016-03-11 18:52] davidfowl commented on #639
I'm not sure this belongs anywhere. It's about guidance, there's no code change here

[2016-03-11 21:45] JunTaoLuo opened #641 "ApplicationBasePath set to temporary folder"
Using `Assembly.Location` to set the application base path does not work for tests launched with xunit console runner.

It seems that the location of the test assembly is set to somewhere in the temporary folder such as `AppData\Local\Temp\7e915e1e-22f9-4172-8ade-491b924bf79c\7e915e1e-22f9-4172-8ade-491b924bf79c\assembly\dl3\815768c5\09292b41_dd7bd101\Microsoft.AspNetCore.Hosting.Tests.dll`. We ex

[2016-03-12 04:19] JunTaoLuo commented on #641
`Path.Get(new Uri(Assembly.CodeBase).LocalPath)` seems to do the trick.

[2016-03-12 05:06] davidfowl commented on #641
Ohhhh shadow copying hmmmm maybe we should hair stick to the original application base path

[2016-03-12 07:34] dieterhowest opened #642 "Error when publishing on docker"
Hello

When I publish my app to docker using visual studio I got the following error:
[code]

regards
Dieter

[2016-03-14 07:02] andrew-vandenbrink commented on #639
@davidfowl Not true, if the code use this
[code]

It will ensure the root path of application will be at

![image](https://cloud.githubusercontent.com/assets/12871379/13737113/0acdf49c-e9bb-11e5-8bf3-723c7a6fa69a.png)

[2016-03-14 07:18] #638 closed

[2016-03-14 09:09] Itempas opened #644 "Not able to use Web Api 2 as Self Console Host in C#"
Hey guys,

i m not able to set up a Web Api 2 service as a self hosted console applicaton.
My problem is more precisely in this Stack Overflow Post:

http://stackoverflow.com/questions/35943690/using-web-api-2-as-self-console-host-in-c-sharp

Hope you can help me :+1:

[2016-03-14 10:49] davidfowl commented on #644
Are you using RC1? These new APIs are only in the upcoming RC2 build. If you're looking for RC1 bits I'd suggest:

https://github.com/aspnet/Hosting/blob/1.0.0-rc1/test/Microsoft.AspNet.Hosting.Tests/WebHostBuilderTests.cs#L115

or making a new empty web project and looking at the Main method

[2016-03-14 15:47] ildmth opened #645 "HTTP Error 502.3 – Bad Gateway on long runnig task."
1. I have platformhandler 1.2 installed.
2. I am not using ARR.
3. Actually my app works.

But:
When running long running operation (more than 120 sec), i am getting error:

**HTTP Error 502.3 - Bad Gateway
The specified CGI application encountered an error and the server terminated the process.**

In empty project:
[code]

[code]

EventViewer:

The description for Event ID 1000 from source HttpPl

[2016-03-14 16:01] Mady007 commented on #629
I have reverse proxy the request in IIS by adding rewrite rules to my application web.config. Just to add my application is 2 level deep from Default web site.

'

     Default Web Site
        Dir1
           Dir1.1
                MySite

'
Here is how web.config looks like
`

         <configuration>
           <system.webServer>
             <handlers>
                       <add name="httppla

[2016-03-14 16:41] Tratcher commented on #629
web.config does not apply to selfhost, and there is no url-rewrite there. I recommend removing the url-rewrite. HttpPlatformHandler takes care of it's own redirection to a dynamic port.

You also can't use WebListener with IIS/Express, you need to use Kestrel.

[2016-03-14 17:16] Mady007 commented on #629
Sorry, I'm not using WebListener its a typo. I'm using Kestrel and want to host application in IIS. I'm trying to achieve your suggestion in earlier response "Kestrel cannot share ports with IIS, you have to give IIS the port and have it reverse proxy the request to Kestrel on a random port."

How do I give IIS the port when it already have one(443)?
How do I reverse proxy the request to Kestrel,

[2016-03-14 17:27] Tratcher commented on #629
You configure IIS as normal to use whatever public ports you like, usually 80 and 443.  HttpPlatformHandler implements the reverse proxy functionality, you don't need additional url-rewrite. HttpPlatformHandler will run web.cmd and specify the port to use via environment variable. Do not configure any addresses for kestrel, Hosting will take care of it (in RC1).

[2016-03-14 18:04] Tratcher commented on #645
Do not use WebListener with IIS, use Kestrel instead. https://github.com/aspnet/IISIntegration/issues/8

[2016-03-14 18:10] #641 closed

[2016-03-14 18:15] Mady007 commented on #629
I did everything but no luck so far. Please guide me.

Since my app is two levels deep from Default website do I have to add environment variable as below?
`

        <environmentVariables>
           <environmentVariable name="HTTP_PLATFORM_APPL_PATH" value="dir1/dir1.1/mysite" />
        </environmentVariables>`

[2016-03-14 18:45] muratg commented on #644
@Itempas You mean ASP.NET 4 Web API 2?  Because this repo tracks ASP.NET Core 1 work.  And Web API has been merged with MVC in MVC Core 1.

[2016-03-14 18:49] muratg commented on #642
Does the same app work fine without publishing to Docker?

[2016-03-14 18:51] muratg commented on #631
@JunTaoLuo could you investigate? The actual issue could be in the CLI...

[2016-03-14 18:52] muratg commented on #619
@Lxiamail any updates on the raw requests?

[2016-03-14 18:54] muratg commented on #624
No repro... closing for now. @PRebba If you still have an issue, please either re-open or file another one and provide a minimal repro.

[2016-03-14 18:54] #624 closed

[2016-03-14 18:57] muratg commented on #607
@omnoms Please re-open or file another issue if the above suggestion doesn't work for you

[2016-03-14 18:57] #607 closed

[2016-03-14 19:29] Tratcher commented on #629
@Mady007 That workaround only applies to RC2 packages. For RC1 use this one instead: https://github.com/aspnet/IISIntegration/issues/14#issuecomment-171451445

[2016-03-14 22:39] halter73 commented on #633
When I saw `ContentRoot`, I assumed that it was the `wwwroot` directory.

It seems that isn't the case, but instead `ContentRoot` is really what I'd expect to be `ApplicationRoot` and `WebRoot` is where I put my static content. I don't have a big problem with `WebRoot`, but `ContentRoot` is misleading.

[2016-03-14 22:46] JunTaoLuo commented on #633
We had this conversation last week. I believe @DamianEdwards mentioned that elsewhere they were using something like `contentBase` as application base and we should follow the precedence.

[2016-03-14 22:58] DamianEdwards commented on #633
The prior art I was referring to was the msbuild "build action" concept where "Content" meant it's not input to the compiler, but may get copied to the output, depending on the value of the "Copy to output dir" setting. That, and there isn't really another good name for it :sad: but I'm all ears on suggestions.

[2016-03-14 23:22] danroth27 opened #648 "Rename UseCaptureStartupErrors to CaptureStartupErrors"
Consistency is not an excuse for nonsensical English :smile:

[2016-03-14 23:23] Tratcher commented on #648
How about `UseStartupErrorPage`?

[2016-03-14 23:23] danroth27 commented on #648
Sure

[2016-03-15 00:04] #635 closed

[2016-03-15 00:04] #633 closed

[2016-03-15 00:04] #528 closed

[2016-03-15 00:14] xatabhk opened #649 "An item with the same key has already been added"
dnx web
or
donet run
[code]

[2016-03-15 02:05] Tratcher commented on #649
This issue was moved to aspnet/dnx#3381

[2016-03-15 02:05] #649 closed

[2016-03-15 02:16] JunTaoLuo commented on #633
We made the following changes in our updates in `IHostingEnvironment`:

- Added `ApplicationName`. This replaces `IApplicationEnvironment.ApplicationName` but otherwise contain the same information.
- Added `ContentRootPath`. This replaces `IApplicationEnvironment.ApplicationBasePath` but otherwise contain the same information.
- Removed Configuration
- Removed MapPath

[2016-03-15 02:38] lmxin123 commented on #619
@troydai How can get the raw requests?

[2016-03-15 02:55] Tratcher commented on #619
By using a tool like Fiddler, NetMon, WireShark, etc..

[2016-03-15 07:25] robbaman commented on #633
The announcement also mentions the removal of the ```MapPath(string virtualPath)``` method. Is there still a way to do what MapPath used to do?

[2016-03-15 07:31] davidfowl commented on #633
I added a code snippet to the announcement to show the MapPath replacement.

[2016-03-15 08:23] Itempas commented on #644
@muratg  i m using  RC2 and also asp.net core 1. i can make it compile now but till i am very new to web api thing i need some more experience and time.

i get now the: The given assembly name or codebase was invalid. with the following code:

var host = new WebHostBuilder()
                .UseDefaultConfiguration(args)
                .UseServer("http://localhost:5004")
                .UseStart

[2016-03-15 14:35] Tratcher commented on #644
What's the full exception and stack trace?

[2016-03-15 15:07] Itempas commented on #644
Ah sry my bad, forget to take the complete stack trace :)

   at System.Reflection.AssemblyName.nInit(RuntimeAssembly& assembly, Boolean forIntrospection, Boolean raiseResolveEvent)
   at System.Reflection.AssemblyName..ctor(String assemblyName)
   at Microsoft.AspNetCore.Hosting.Server.ServerLoader.LoadServerFactory(String assemblyName)
   at Microsoft.AspNetCore.Hosting.Internal.WebHost.EnsureSe

[2016-03-15 15:17] davidfowl commented on #644
@Itempas can you make a repository on github with the repo and instructions on how you ran it?

[2016-03-15 15:20] #645 closed

[2016-03-15 16:01] Itempas commented on #644
yeah sure :)

https://github.com/Itempas/WebApi2Test

I hope i did not miss anything :$

[2016-03-15 16:09] davidfowl commented on #644
How did you end up with this solution? There are a few problems:

WebApi2
- You're mixing RC1 and RC2, that will not work. Also, you're not even referencing the web server. This doesn't really have a chance at working. Also, you have a `-*` version in there. Pick a specific version across the board and stick with it. If you mix and match while we're in pre-release, you'll be in a world of hurt.

C

[2016-03-15 16:11] pranavkm commented on #633
Could we create a separate discussion work item for this?

[2016-03-15 16:34] davidfowl commented on #402
Yea, we're not going to do this

[2016-03-15 16:34] #402 closed

[2016-03-15 16:39] vsotov opened #650 "Hosting problems on azure"
I've deployed project to Azure App Service, everything went ok, except after some random amount of time kestrel seems to loose requests.

In logs I see something like
info: Microsoft.AspNet.Hosting.Internal.HostingEngine[1]
      Request starting HTTP/1.1 GET http://renta-api.azurewebsites.net/projects

without any continuation. Than after some time everything is working ok.
Maybe this is an issue

[2016-03-15 16:52] Tratcher commented on #644
Note your ConsoleHost `.UseStartup<Program>()` won't work because Program does not have a Configure method to setup the app. It should be referring to WebApi2's Startup class instead.

[2016-03-15 16:53] Tratcher commented on #650
This issue was moved to aspnet/KestrelHttpServer#698

[2016-03-15 16:53] #650 closed

[2016-03-15 17:11] JunTaoLuo commented on #633
I'll move it

[2016-03-15 17:12] JunTaoLuo opened #651 "Discussion for IHostingEnvironment updates"
Discussion for https://github.com/aspnet/Announcements/issues/157

We made the following changes in our updates in `IHostingEnvironment`:
- Added `ApplicationName`. This replaces `IApplicationEnvironment.ApplicationName` but otherwise contain the same information.
- Added `ContentRootPath`. This replaces `IApplicationEnvironment.ApplicationBasePath` but otherwise contain the same information.
- Re

[2016-03-15 19:25] javiercn commented on #402
Things like https://github.com/aspnet/mvc/issues/4014 require this to access IApplicationEnvironment without having to change the public API of AddMvc and similar.

In general, any framework that needs to do any sort of discovery requires these services (Like discover controllers, discover views, etc).

@davidfowl @rynowak

[2016-03-15 19:58] halter73 commented on #651
@DamianEdwards I think `ApplicationContentBasePath` like you suggested in https://github.com/aspnet/PlatformAbstractions/issues/26 is better than `ContentRootPath`. The latter *might* have made sense if it were still on `IApplicationEnvironment` (even then...), but I really disagree now that it's on `IHostingEnvironment`.

In a vacuum, I'd totally expect `IHostingEnvironment.ContentRootPath` to be

[2016-03-15 20:01] JunTaoLuo commented on #651
I like `ApplicationContentPath` slightly better. Or maybe `ApplicationContentRoot` or `ApplicationContentBase` since we know that it is a path.

[2016-03-15 20:04] davidfowl commented on #651
`ApplicaitonFilesPath` bhahah

[2016-03-15 20:05] DamianEdwards commented on #651
I don't think any of the suggested names are better than what we have already.

[2016-03-15 22:42] weidazhao opened #653 "Make RequestServicesContainerMiddleware the first middleware in the pipeline"
When we add a middleware through IStartupFilter, it will be added before RequestServicesContainerMiddleware in the pipeline (see the impl at https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/WebHost.cs#L163) Therefore, the middleware won't be able to get any scoped service instance from HttpContext.RequestServices since RequestServices is not constructed by Reque

[2016-03-16 01:14] JunTaoLuo commented on #631
The pop ups are generated by the processes we create to kill the deployed apps https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/Deployers/ApplicationDeployer.cs#L127-L133. I'll also probably update the code to correctly recursively kill the process tree as is done in dotnet-watch

cc @victorhurdugaci

[2016-03-16 01:25] muratg commented on #631
Makes sense. Recursively killing the processes sounds like it would work.

[2016-03-16 01:44] victorhurdugaci commented on #631
Can you please move the kill process tree code in common and reference it from here and from dotnet-watch

On Tue, Mar 15, 2016 at 6:25 PM -0700, "Murat Girgin" <notifications@github.com<mailto:notifications@github.com>> wrote:

Makes sense. Recursively killing the processes sounds like it would work.

-
You are receiving this because you were mentioned.
Reply to this email directly or view it on

[2016-03-16 07:17] muratg commented on #631
:+1: Less duplication

[2016-03-16 18:33] #630 closed

[2016-03-16 22:29] pranavkm commented on #651
An FYI for folks using `dotnet run` with an Mvc application serving Views - with this change, your applications would have to use `dotnet run -- --contentRoot $PWD` to allow Mvc to locate views correctly.

[2016-03-17 01:25] JunTaoLuo commented on #631
will be addressed by https://github.com/aspnet/Common/issues/100

[2016-03-17 01:25] #631 closed

[2016-03-17 07:43] weidazhao commented on #653
Took a further look at the code when I was trying to make a pull request.

I think I understand the reason that RequestServicesContainerMiddleware is currently added after the middlewares registered by IStartupFilter so that those 3rd party middlewares can plug in their own implementations of IServiceProvidersFeature. However, IServiceProvidersFeature is now defined under Microsoft.AspNetCore.Http

[2016-03-17 08:24] davidfowl commented on #653
I think it's reasonable to pick an order that allows hosts that plug into the system the ability to run after the built in middleware. The main reason we add ours to the collection first is because we want configure services to see all of the registered services so it can add/remove or replace them. If we add them after the callback then it's impossible to observe/change that specific hosting serv

[2016-03-17 09:00] weidazhao commented on #653
Thanks. Fair enough.

The special place in my scenario is that I need the built-in feature IServiceProvidersFeature to be present in my middleware that is pluged in via IStartupFilter, which is then invoked before RequestServicesContainerMiddleware, So I would have to provide an instance of IServiceProvidersFeature by my own in the middleware. Since I don't have any special requirement on the impl

[2016-03-17 15:14] davidfowl commented on #653
@weidazhao We're running startup filters in the wrong order. We actually want it to behave more like middleware where the ones registered first, get run first.

[2016-03-17 16:03] weidazhao commented on #653
lol, that makes more sense. I like 'first in first run', which is consistent with how middlewares run, as you said. Thanks.

[2016-03-17 18:18] weidazhao commented on #653
For completeness, after the discussion with @davidfowl , now I think the right fix will be adding Reverse() to https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/WebHost.cs#L165

foreach (var filter in startupFilters.Reverse())

[2016-03-17 22:09] cwe1ss opened #658 "Pass existing LoggerFactory to WebHostBuilder"
Initializing the logging system should be one of the first things in an app. Now the `LoggerFactory` is created in the constructor of `WebHostBuilder` and it can be configured by calling `webHostBuilder.ConfigureLogging` or by configuring the logger in your `Startup` class.

However, there are scenarios where you want to initialize your logging system before creating a `WebHostBuilder`:
* your app

[2016-03-17 22:24] cwe1ss commented on #658
Of course, we could also just use the existing constructor with an optional parameter:

[code]

[2016-03-17 22:57] #653 closed

[2016-03-19 21:05] cwe1ss commented on #658
Closed to continue discussion directly in the pull request. I hope that's ok - I haven't figured out yet, whether it's better to have discussions in an issue or PR.

[2016-03-19 21:46] cwe1ss commented on #622
Not knowing that CaptureStartupErrors exists was my bad. I renamed the issue to better reflect the current discussion. Or do you think that a new issue should have been created for this?

Let me also rephrase the question:

*If CaptureStartupErrors is false, do you think that the framework should still log startup errors or is it up to the application developer to catch and log the exception?*

I

[2016-03-19 22:53] cwe1ss commented on #651
From the announcement:

Will `IApplicationEnvironment` be removed? If not, under which circumstances would we still have to use it and what would we have to do if you no longer set these properties?

[2016-03-20 03:24] davidfowl commented on #622
Just wrap the build method in a try catch then log

[2016-03-20 08:33] cwe1ss commented on #622
I would do so if I had access to the logger already. If I'm correct, I would have to write something like this at the moment:
[code]
So I would have to somehow "steal" the loggerFactory from the ConfigureLogging method because there's no way to get it from DI yet. This code is absolutely horrible IMO.

As I said, I think passing an existing LoggerFactory into the WebHostBuilder completely solves t

[2016-03-21 09:14] YahavGB opened #666 "Microsoft.AspNet.TestHost.TestServer application base path mismatch"
Hey guys,

I'm in the middle of adding a unit-tests for my ASP.NET Core application, and I'm struggling with some difficulty using the TestServer.

My project is based on an N-Tier architecture, so I got Project.Core, Project.Infrastructure etc. Likewise, my ASP.NET is located at Project.Web.UI and my unit tests is under Project.UnitTests.

My Startup.cs class used to read some files, such as conf

[2016-03-21 17:30] JunTaoLuo commented on #651
@cwe1ss You should be using `IHostingEnvironment` instead as it contains the information we used to set in `IApplicationEnvironment. You should be using `IHostingEnvironment.ApplicationName` and `IHostingEnvironment.ContentRootPath`.

[2016-03-21 18:58] JunTaoLuo commented on #658
@cwe1ss Don't close the issue until you have merged the PR. We use issues to track progress. Discussions can happen in both places though it's more design oriented in issues and more implementation oriented in PRs

[2016-03-21 20:22] ciel opened #669 "Latest build has an error with "System.Collections"."
I was unsure if this belonged in the `/mvc` repository, or here - so I'm placing it in both. Please let me know if this is not right.

I am attempting to run a project using the latest builds, and am getting a peculiar error regarding `System.Collections` that I've never encountered before. I think there is some kind of error in the `WebHostBuilder` class causing it, though. I'm attempting to dig

[2016-03-21 23:14] dmccaffery commented on #666
@YahavGB This is normal behavior and was true with Owin self-hosting used for testing in the past when settings existed in an application configuration. Usually one would have a different configuration for test servers executing as part of an integration test (such as running on different port or using a different db) so that you can write tests that are non-destructive to real-world infrastructur

[2016-03-22 00:07] #669 closed

[2016-03-22 16:24] bbehrens opened #670 "Method not found exception when creating a TestServer"
### Title
I'm getting a method not found exception when trying to create a TestServer for testing my application

[code]

### Functional impact
Can't create a test server for hosting tests

### Minimal repro steps
My Test class:

[code]

My project.json

[code]

SDK Version 1.0.0-rc2-16595

### Expected result
Test server created to host tests

### Actual result
I get the above stack trace

### Fu

[2016-03-22 16:37] Tratcher commented on #670
You're mixing versions. Make everything RC2 or just *. Also, don't mix Ms.AspNet and Ms.AspNetCore packages, update them all to AspNetCore.

[2016-03-22 17:05] bbehrens commented on #670
/facepalm

Thanks

[2016-03-22 17:05] #670 closed

[2016-03-23 15:01] Mady007 commented on #629
I redid all the steps from my initial comment except using Kestrel instead of WebListner and everything is working like charm. The main issue i faced was with copying the build over to server via ftp. Some of the dlls and nuspec files from  packages directory were not copied over. I used a different client which copied everything then it worked fine.

I never had this issue with vs2013 MsDeploy wh

[2016-03-23 16:15] muratg commented on #516
https://github.com/dotnet/cli/issues/812

[2016-03-23 16:17] muratg commented on #449
Things have changed quite a bit in RC2. We'll see if this is still a problem in 1.0

[2016-03-23 16:29] CoskunSunali commented on #449
Thanks, Murat.

[2016-03-23 16:47] muratg commented on #614
@cottsak Let us know if you still have issues. Please make sure to add a simple repro.

[2016-03-23 16:47] #614 closed

[2016-03-23 16:50] muratg commented on #623
We should do more investigation on this in 1.0.0

[2016-03-23 16:50] muratg commented on #642
Closing... @dieterhowest re-open or file another one if you're still having issues.

[2016-03-23 16:50] #642 closed

[2016-03-23 16:52] muratg commented on #644
@Itempas Let us know if fixing the references + using Startup instead of Program did not fix your issue.

[2016-03-23 16:52] #644 closed

[2016-03-23 16:53] VaclavElias commented on #623
I will also update this once I have got my hands on RC2 :)

[2016-03-23 17:02] cwe1ss commented on #623
when I moved from dnx based hosting to exe-based hosting with dotnet cli, the memory footprint of my apps dropped from ~ 250 MB to ~ 30-40 MB. so that's actually quite an improvement :)

[2016-03-23 21:54] mikes-gh opened #672 "Publishing to IIS from VS"
Used to work.
I am using platform handler 1.2 on IIS 7.5
I am using rc2 vnext latest bits.
I am publishing via file share to iis using right click deploy.
This is the powershell script
When I publish I don't get any runtimes folder in approot.
Also my webconfig doesn't get copied as in my project
It is missing
[code]

[code]
Maybe its because of dotnet cli transition ?

[2016-03-23 21:59] Tratcher commented on #672
Yes, VS doesn't know about RC2. Try `dotnet publish` from the command line.

[2016-03-23 23:24] moozzyk commented on #672
When using `dotnet publish`:
- make sure you [include `wwwroot` in your `content`](https://github.com/aspnet/cli-samples/blob/master/HelloMvc/project.json#L3)  otherwise it won't be published
- add [these](https://github.com/aspnet/cli-samples/blob/master/HelloMvc/project.json#L32-L37) to your project.json file - this will update your web.config accordingly (or create a new one if one does not exi

[2016-03-24 02:01] GuardRex commented on #672
Hey @moozzyk ... curious b/c I have PowerShell doing my publishing and haven't checked out your `dotnet-publish-iis` tooling, does `dotnet-publish-iis` tooling publish `Release`, or would we still perform a `dotnet publish --configuration Release` with the tool to get `Release` output?

[2016-03-24 02:36] moozzyk commented on #672
@GuardRex - dotnet-publish-iis merely updates (or creates if needed) web.config file of a published application. It just takes the path to the folder the application was published to and goes to wwwroot opens web.config file and makes sure that httpPlatfomHandler (AspNetCoreModule) entries exists and sets the path to the executable.

[2016-03-24 02:48] GuardRex commented on #672
@moozzyk I see. I'm looking forward to checking it out. I was just wondering, because `dotnet publish` still provides `Debug` bits unless one calls for `Release` output explicitly. [It's still not clear yet if `Debug

[2016-03-24 16:28] moozzyk commented on #672
@GuardRex - My understanding is that Debug vs. Release is basically the setting that is eventually being passed to the compiler (csc?). When you do `dotnet publish` it will compile the project first and this is where the configuration setting is passed. Once the project is compiled the output is being published to the target folder. Finally, postpublish scripts are being run - which is how dotnet-

[2016-03-24 16:39] mikes-gh commented on #672
Still doesn't work for me. (And I tired hard)
Does my project json look OK?
[code]
Running the command
[code]

[2016-03-24 16:44] moozzyk commented on #672
@mikes-gh - I assume restore worked fine. if you try `dotnet run` does it work? What feeds are you using and what is your dotnet version (dotnet --version)? If I have this information I could try reproducing it.

[2016-03-24 18:44] #648 closed

[2016-03-24 18:44] #636 closed

[2016-03-24 18:52] rustd commented on #636
@JunTaoLuo can you please send a PR to templates with the changes.

[2016-03-24 19:34] JunTaoLuo opened #674 "Discussion for WebHostBuilder extension renames"
Discussion for https://github.com/aspnet/Announcements/issues/163.

Changes were made in #660

[2016-03-24 19:36] Tratcher commented on #674
However, UseIIS will call `CaptureStartupErrors(true)` if it detects you're running behind IIS/Express.

[2016-03-24 20:59] mikes-gh commented on #672
[code]
dotnet restore ok.
dotnet build ok

[code]

[2016-03-24 21:09] mikes-gh commented on #672
Oh maybe coreclr x86 with dotnet x64 mismatch or arch

Whats the consensus on architectures btw.  Should I be sticking to x86 all round?

[2016-03-24 21:18] moozzyk commented on #672
if you are using dotnet you are not using dnx and therefore what dnvm list shows is irrelevant.

[2016-03-24 21:26] Tratcher opened #675 "Move some WebHostBuilderExtensions to Hosting.Abstractions"
IISIntegration was able to depend just on Hosting.Abstractions until it called CaptureStartupErrors.

Move extensions that may be used by extensions from other packages and not just app code. E.g:
- UseConfiguration
- CaptureStartupErrors
- UseEnvironment
- UseUrls
- Start

Don't move:
- UseStartup
- UseDefaultHostingConfiguration
- UseServer? - What if I wanted a UseKestrel extension?
- UseConten

[2016-03-25 09:56] mikes-gh commented on #672
Didnt realise that.,
So how does an app run get published with dotnet.
Were are the core libraries stored/compiled to.   The dotnet magic seems confusing to me.

The reason I ask is because this may be a path thing.  When installing dotnet cli via administrator prompt, path variables are not appended to the current user but to adminnistator.

[2016-03-25 15:45] Mady007 commented on #629
Before I close I have one issue with copying files to server. If a user is using the application then I cannot copy the files to the virtual path on server. It says Files are being used by another program.

[2016-03-25 16:15] Tratcher commented on #629
@Mady007 coming soon... https://github.com/aspnet/IISIntegration/issues/81

[2016-03-25 21:06] moozzyk commented on #672
@mikes-gh - I looked a bit into this today. The `Could not resolve coreclr path` error is because you have a newer version of dotnet and the `publish-iis` tool was not updated accordingly to work with this version. There is even more changes in dotnet in this area and we are trying to bring aspnet tools up to date as we speak.

With dotnet you bring the runtime as the package. So, you select your

[2016-03-25 23:22] Tratcher commented on #364
FYI: HttpPlatformHandler is being replaced by AspNetCoreModule: https://github.com/aspnet/IISIntegration/issues/105

[2016-03-26 23:59] #658 closed

[2016-03-27 00:01] davidfowl commented on #527
We killed this extension method

[2016-03-27 00:01] #527 closed

[2016-03-28 19:20] cwe1ss commented on #622
As it is now possible to create the LoggerFactory myself and to pass it into the WebHostBuilder (#661), I will solve this by catching the error myself.

I would like to thank you for making this work! :+1:

[2016-03-28 19:20] #622 closed

[2016-03-29 13:28] Itempas commented on #644
Sry guys, i was on vacation for a few days.

I updated my code now and get the following stack strace:

at System.Reflection.AssemblyName.nInit(RuntimeAssembly& assembly, Boolean forIntrospection, Boolean raiseResolveEvent)
   at System.Reflection.AssemblyName..ctor(String assemblyName)
   at Microsoft.AspNet.Hosting.Server.ServerLoader.LoadServerFactory(String assemblyName)
   at Microsoft.AspNet

[2016-03-29 15:09] Tratcher commented on #644
[code]
Also add "Microsoft.AspNet.Server.Kestrel" to your project dependencies.

[2016-03-29 15:42] dumbledad opened #679 "'The name WebApplication does not exist in the current context' when swapping to ASP.Net 5 RC2"
When you make an ASP.Net 5 application in Visual Studio you get this line at the end of your Startup.cs file

    // Entry point for the application.
    public static void Main(string[] args) => WebApplication.Run<Startup>(args);

(The class is `Microsoft.AspNet.Hosting.WebApplication`.)

If you replace `rc1-final` with `*` in the project.json file and thus pick up the latest RC2 the project no-l

[2016-03-29 17:00] rynowak opened #680 "RequestServicesFeature.get_RequestServices is too expensive"
Sampling data from HelloWorldMvc (TechEmpowerish) https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc

![image](https://cloud.githubusercontent.com/assets/1430011/14116527/fe9f91e0-f594-11e5-98d1-b480de470ffd.png)

After adjusting for GC, creating the request services is pretty expensive. Would it be possible to cache the `IServiceScopeFactory`?

[2016-03-29 17:02] rynowak commented on #680
/cc @davidfowl @mnltejaswini

[2016-03-29 17:10] Tratcher commented on #679
See the updated templates: https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/EmptyWeb/Program.cs

[2016-03-29 17:12] davidfowl commented on #680
Wow, @rynowak can you paste the get_RequestServices subtree?

[2016-03-29 17:28] rynowak commented on #680
There's a bit of strangeness going on here

![image](https://cloud.githubusercontent.com/assets/1430011/14117250/afdceedc-f598-11e5-9b95-673c9ec7b903.png)

There's nothing really **in** the method that's showing up as hot
[code]

[2016-03-30 08:07] Itempas commented on #644
Hey @Tratcher , thanks for your reply!

i tried that, but i get an error with .UseUrls()

'WebHostBuilder' does not contain a definition for 'UseUrls' and no extension method 'UseUrls' accepting a first argument of type 'WebHostBuilder' could be found (are you missing a using directive or an assembly reference?)	ConsoleHost.DNX Core 5.0

[2016-03-30 08:11] davidfowl commented on #644
@Itempas instead of this back and forth can you make a project that reproduces the issue? We cant tell what versions you;re using so it would be better if you could provide a project on github with the project.json and project.lock.json so we can take a look.

[2016-03-30 08:14] Itempas commented on #644
@davidfowl yeah , sure.

i just added the code from Tratcher to my Program.cs + the reference in project.json

https://github.com/Itempas/UpdatedWebApi2Test/tree/Test

[2016-03-30 08:17] davidfowl commented on #644
So you're using rc1

[2016-03-30 08:21] Itempas commented on #644
yep, since i couldn´t found a rc2-final

[2016-03-30 08:27] davidfowl commented on #644
rc2 is far from final.

[2016-03-30 08:30] Itempas commented on #644
Thats the reason why i decided to stick with rc1 :D
sry if it´s annoying, i just began with Web API :x

[2016-03-30 12:40] Itempas commented on #644
Hey guys, i got it!!

The server is running but now he is refusing my connections :/

The code is here : https://github.com/Itempas/UpdatedWebApi2Test/tree/Test

[2016-03-30 14:39] Tratcher commented on #644
Locally or remotely?

[2016-03-30 14:42] Itempas commented on #644
I m testing it locally on my computer

[2016-03-30 17:22] javiercn opened #683 "Fix TestHost deadlocks properly"
Right now there are deadlocks when running functional tests on MVC. We have a temporary solution for it that we are going to merge. but we need to revisit this and fix it properly.
https://github.com/aspnet/Hosting/pull/677/files

[2016-03-31 08:19] Itempas commented on #644
or shall i open a new issue for that ?

[2016-03-31 08:20] davidfowl commented on #644
I'm not sure there's any issue yet. I think you just have a mix of package versions and it's causing problems.

[2016-03-31 08:24] Itempas commented on #644
The important packages are:
"Microsoft.AspNet.Hosting": "1.0.0-rc1-final",
    "Microsoft.AspNet.Mvc.Core": "6.0.0-rc1-final",
        "Microsoft.AspNet.Server.Kestrel": "1.0.0-rc1-final"
Am i right?

[2016-03-31 08:33] davidfowl commented on #644
Sure, it looks like all Rc1 bits now.

[2016-03-31 10:01] Itempas commented on #644
that would mean that the packages are right ?

[2016-03-31 17:15] DavidObando opened #684 "Issue with Microsoft.AspNetCore.Server.Testing IISDeployer on net451"
In [ApplicationDeployerFactory.cs](https://github.com/aspnet/Hosting/blob/22eab75005bd92386d95864d6ae2ecf672393edf/src/Microsoft.AspNetCore.Server.Testing/Deployers/ApplicationDeployerFactory.cs#L36) we're ifdeffing on DNX451 but not on NET451. **Is this by design?** Is there a reason we can't include NET451 too?

It's currently making a couple of tests in the Performance repository to fail with m

[2016-03-31 17:27] Tratcher commented on #684
FYI we're not using the IIS Deployer in any of our automated tests because it requires running as admin. As such it hasn't been actively maintained and may have regressed due to recent framework churn.

[2016-03-31 17:43] davidfowl commented on #684
So yes it's a bug and should be net451 instead of dnx451. The ifdef wasn't updated

[2016-03-31 17:56] JunTaoLuo commented on #684
I think we can also remove `DNX451` from https://github.com/aspnet/Hosting/find/dev#L60 as well

[2016-03-31 18:09] BrennanConroy commented on #684
b5816f22cf476542e989fc500f793a2149f27c55

[2016-03-31 18:09] #684 closed

[2016-04-01 14:52] rynowak commented on #680
Per discussion with @davidfowl it should be safe to have the middleware close over `IServiceScopeFactory` to avoid looking it up per-request.

We will need the feature to actually create the scope lazily.

[2016-04-02 03:39] #680 closed

[2016-04-02 14:35] davidfowl commented on #679
@JunTaoLuo can you make sure the announcements have the appropriate updates?

[2016-04-03 03:56] xatabhk opened #688 "Cannot start debugging in IDE (update 2)"
VS2K15 Update 2 broke Asp.net core debugging.
![ide_dnx_error](https://cloud.githubusercontent.com/assets/6814395/14230648/1973db64-f993-11e5-844f-a7c6b0d2a296.png)

[2016-04-03 04:15] davidfowl commented on #688
File this issue on https://github.com/aspnet/Tooling

[2016-04-03 04:15] #688 closed

[2016-04-04 22:25] JunTaoLuo commented on #679
@dumbledad In addition to the announcement you mentioned, there is also https://github.com/aspnet/Announcements/issues/157 and https://github.com/aspnet/Announcements/issues/163.

@davidfowl Each announcement illustrate the usage before and after the change. It might be difficult to keep track of the changes required for upgrading an older sample. The best way to do that is probably to look at the

[2016-04-05 21:38] muratg commented on #619
@lmxin123 If you still have the issue, please re-open or file another one with the traces.

[2016-04-05 21:38] #619 closed

[2016-04-05 21:40] muratg commented on #672
We'll need to see if this is still an issue in 1.0.0 with the newer VS tooling.

[2016-04-06 22:40] Bartmax opened #689 "Announcement on hosting have old configuration keys?"
On https://github.com/aspnet/Announcements/issues/108 it says that new key is `ASPNET_ENVIRONMENT` but I found that the correct one is `ASPNETCORE_ENVIRONMENT` so I think this was changed after the announcement issue, but it's tagged as rc2.

I guess other variables have similar problem.

[2016-04-06 22:40] Bartmax commented on #689
nevermind, there's a note at the bottom of the issue...

[2016-04-06 22:40] #689 closed

[2016-04-06 22:45] JunTaoLuo opened #690 "Microsoft.AspNetCore.Server.Testing inconsistency between shipping status and version number"
This package is used by our functional tests and we need to decide whether it should be shipped or not. If we decide to ship it, we will probably need to clean up the code and update `packages.csv` to `ship`. If not, we should change the version number to `0.1.0` from `1.0.0`  to be consistent with other noship packages and remove `1.0.0` versions from our feeds.

cc @davidfowl @Eilon @muratg

[2016-04-07 17:02] Tratcher commented on #644
Note you're getting a 500 response from the controller. When I added `app.UseDeveloperExceptionPage();` from `Microsoft.AspNet.Diagnostics` I see this error:

`InvalidOperationException: No service for type 'WebApi2.Repository.IContactsRepository' has been registered.`

Adding the following fixed it:
[code]

[2016-04-08 21:42] dougbu opened #693 "Need a way to inform user of Hosting-supported command-line arguments`"
Command-line arguments such as `--contentRoot {root}` are `<sarcasm>`:100:% discoverable`</sarcasm>` -- if you've received the right email from @NTaylorMullen or are reading the code. Users are not even informed that all supported options are name / value pairs, let alone that they map to configuration options. Then, there's nothing available to list the configuration options that Hosting (in part

[2016-04-10 07:37] jijiechen commented on #604
@Alienwaren  Did you post it to Mono repo? What's the current status for this topic?
I just ran into same issue on a CentOS 7 server with a 4.2.1 version Mono.

[2016-04-11 07:25] rmja opened #694 "base path for hosting.json"
The base path for finding the hosting.json file is not configurable in https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/WebHostConfiguration.cs, so my question is: What is the recommended way to setting the base path for finding the hosting.json file to e.g. `Directory.GetCurrentDirectory()`?

[2016-04-11 07:29] davidfowl commented on #694
What exactly are you trying to do?

[2016-04-11 07:39] rmja commented on #694
@davidfowl I was trying to work may way throug putting the hosting configuration in the hosting.json file.   Specifically the `server.urls` configuration parameter. The different sample projects seems to not use it anymore, so I was going through the source, and found that the hosting.json file was not loaded because its location was expected to be in the `bin\Debug\netcoreapp1.0` directory instea

[2016-04-11 07:43] davidfowl commented on #694
@rmja It's no obsolete but we've mostly moved to putting settings in code since there's a Program.Main now. If you want to get your hosting.json to load, you need to set the content property to have it in `project.json`. That will make sure it gets copied to the output folder:

[code]

[2016-04-11 07:52] rmja commented on #694
@davidfowl ... and that was exactly what I was missing. Thanks!

[2016-04-11 07:52] #694 closed

[2016-04-11 12:29] vladcvoinescu commented on #466
@jijiechen could you please elaborate on this:

How did you do this? I am having the same issue as you had and I already went through all of the steps that you described so throughly - thank you for that. I do have some issues with the one that solved your problem in the end.

Kind regards.

[2016-04-11 13:35] jijiechen commented on #466
@vladcvoinescu In my last comment, the first part is about verifying your app works correctly; and second part is trying to solve problems that can cause failures on writing output logs or creating the process for launching your app.
So after all those steps, if still get any problems, You will see logs, and diagnose according to the output.

[2016-04-11 13:39] vladcvoinescu commented on #466
@jijiechen Thank you for your response. I went through all the steps with no luck. Stdout logs are created but are empty. I get a lot of those in the Server Manager -> Local Server -> Events: http://imgur.com/7SIufhb

Any ideas?

[2016-04-11 13:42] jijiechen commented on #466
@vladcvoinescu  Form your image, I can only see a title without details, could you please post them as well?

[2016-04-11 13:44] vladcvoinescu commented on #466
@jijiechen The details for both the Warnings and the Errors are empty: http://imgur.com/HZMFgNv

[2016-04-11 13:55] jijiechen commented on #604
@Alienwaren  I don't know if you are still interested in this topic, but I finally made a workaround. I upgrade my Mono runtime to 4.2.3 and the error continues.

Configure Mvc to use a wrapped synchronous IFileProvider instance instead of the builtin
async one (which may produce errors)
Please refer to this code:
https://gist.github.com/jijiechen/2b5e88923c156ed17e29cf6900d6cfd5#file-aspnetcore-m

[2016-04-11 14:14] jijiechen commented on #466
From your posted image, I can see the process can not be started.
You can check the _process startup command_ manually:

1. launch a command prompt or powershell, _**cd**_ to your **_wwwroot_** directory
2. enter the _processPath_ and execute, see what happens

You can find the _process startup command_ in your **_web.config_** file, _**processPath **_attribute of **_httpPlatform_** section.

If i

[2016-04-11 14:21] vladcvoinescu commented on #466
I currently have this in my httpPlatform section:
`<httpPlatform stdoutLogEnabled="false" processPath="%DNX_PATH%" arguments="%DNX_ARGS%" forwardWindowsAuthToken="false" startupTimeLimit="3600" />`

[2016-04-11 14:31] jijiechen commented on #466
OK, let me show an example that run successfully:

<httpPlatform processPath="..\approot\web.cmd" arguments="" stdoutLogEnabled="false" stdoutLogFile="..\logs\stdout.log" startupTimeLimit="3600"></httpPlatform>

In your configuration, you sepcified to use **_%DNX_PATH%_** environment variable and  **_%DNX_ARGS%_** as arguments.
So please check if them are correctly configured, make it can access t

[2016-04-11 14:35] jijiechen commented on #466
And here is content in the web.cmd, I hope it helps:

`

@echo off
SET DNX_FOLDER=dnx-clr-win-x64.1.0.0-rc1-update1
SET "LOCAL_DNX=%~dp0runtimes\%DNX_FOLDER%\bin\dnx.exe"

IF EXIST %LOCAL_DNX% (
  SET "DNX_PATH=%LOCAL_DNX%"
)

for %%a in (%DNX_HOME%) do (
    IF EXIST %%a\runtimes\%DNX_FOLDER%\bin\dnx.exe (
        SET "HOME_DNX=%%a\runtimes\%DNX_FOLDER%\bin\dnx.exe"
        goto :continue
    )
)

[2016-04-11 15:51] muratg commented on #693
@dougbu Were you thinking documentation or cmd line help?

[2016-04-11 15:55] Eilon commented on #690
We can't avoid doing this in RC2 and then do it in RTM. This is either done in RC2 or never.

@muratg thoughts?

[2016-04-11 15:58] dougbu commented on #693
Either but command-line help would likely be more discoverable.

[2016-04-11 16:22] Tratcher commented on #693
Command line help is problematic as hosting does not own Program.Main, the app does.

[2016-04-11 16:47] dougbu commented on #693
@Tratcher command-line help would depend on a bit o' magic in `UseDefaultHostingConfiguration()`.

[2016-04-11 16:53] Tratcher commented on #693
UseDefaultHostingConfiguration doesn't control the flow of the application. It can't terminate the app if there's a "--help" in the config, it doesn't control when Main exists.

[2016-04-11 16:59] davidfowl commented on #693
Maybe we should just remove support for args and support the config file and env variables by default.

[2016-04-11 17:05] Tratcher commented on #693
How does that help?  Note we need the environment variable support for IIS.

[2016-04-11 17:05] dougbu commented on #693
And then document the configuration options Hosting supports for all ASP.NET Core web applications? How would you make that information discoverable?

[2016-04-11 17:08] muratg commented on #690
Let me clarify one point:
 - **ship/noship/ext** -- this distinction is for the packages that we own and ship on nuget, packages we own but not push to nuget and partner packages
 - **Prerelease/RTM** -- this distinction is ONLY valid for "ship" packages (i.e. the ones we push to nuget.org).  Prerelease versions would have 0.1.0 version, and RTM ones would have 1.0.0.

This package is currently [n

[2016-04-11 17:15] davidfowl commented on #693
Docs, like the other things of the same nature.

Not sure what you mean. The entire issue is about obscure command line arguments. We don't own the program so showing help is kinda odd. Env variables and config would still be supported...

[2016-04-11 17:33] Tratcher commented on #690
We can change the version for no-ship packages at any time, it's the same amount of work to purge them from our myget feeds. That said, the sooner the better.

Is there any reason not to change all of our no-ship package versions to v0.1?

[2016-04-11 17:37] Tratcher commented on #693
Oh, nevermind, I read that as "Maybe we should just remove support for the config file and env variables by default."

Args are useful during development and maybe even in production. Removing them does not address the undiscovered nature of configuring Hosting, it just makes configuring Hosting even more difficult.

[2016-04-11 17:42] davidfowl commented on #693
I think the big difference between args and the other things it that it collides with the real application's args. That's why it's messy and sure you can say it doesn't address the problem but it makes it more difficult to reason about.

When it comes down to it, we have a hosting API and nothing more. The way you discover what APIs do is via intellisense and documentation.

[2016-04-11 23:07] Tratcher opened #695 "Startup failure with rc2-20466 and dotnet rc2-002339"
_From @nil4 on April 10, 2016 22:23_

When an exception is thrown in the constructor of a service, and that service is injected in the `Configure` method, the application crashes on startup, but does not include any trace of the actual exception.

I encountered the issue in a larger project, and reduced the repro [to this gist](https://gist.github.com/nil4/dfb742b35fe1e7b87de80a62be773371). Versio

[2016-04-11 23:07] Tratcher commented on #695
_From @davidfowl on April 11, 2016 4:22_

We're throwing the stack away here https://github.com/aspnet/Hosting/blob/b7bdc9c40494f8e0f0eac22db91b8d5c58811ee2/src/Microsoft.AspNetCore.Hosting/Startup/ConfigureBuilder.cs#L45

/cc @Tratcher @JunTaoLuo

[2016-04-11 23:46] Eilon commented on #690
@muratg ah ok so not urgent.

@Tratcher I suppose we could.

[2016-04-12 14:54] LeandroPT commented on #672
not working
**\cli-samples-master\HelloMvc>dotnet --info**
.NET Command Line Tools (1.0.0-rc2-002347)

Product Information:
 Version:     1.0.0-rc2-002347
 Commit Sha:  5f2183489f

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

**dnvm list**
[code]
**cli-samples-master\HelloMvc>dotnet publish -o bin\pub**
[code]

[2016-04-12 15:31] GuardRex commented on #672
@LeandroPT

Side Note: DNX (the runtimes you listed with the `dnvm` command) are not in use for `dotnet cli`. DNX is going away and doesn't have a bearing on your issue.

The `dotnet-publish-iis` tool looks to be involved in this exception. AFAIK the tool is under development (e.g., https://github.com/aspnet/IISIntegration/issues/109).

If you would like to temporarily try publishing the app witho

[2016-04-12 16:02] mikes-gh commented on #672
I can get dotnet publish to work OK now.

dotnet ef and dotnet razor-tooling both run

However if I try and use dotnet publish-iis
from the command line or in a postpublish script I get

I get
[code]
I am only building for net461 (no core targets)

Is this because dotnet publish-iis is not cross compiling like the other tools.

[2016-04-12 16:08] muratg commented on #672
@mikes-gh You may be hitting https://github.com/dotnet/cli/issues/2071

[2016-04-12 16:28] moozzyk commented on #672
publish-iis is in a Heisenber state right now. The old publish-iis (in the dotnet-publish-iis package) spits out the config for httpPlatformHandler and not for aspNetCoreModule. On top of that I don't think it accounted for the change where the web.config file was moved out of the wwwroot. The new publish-iis tool (from the Microsoft.AspNetCore.Server.IISIntegration.Tools) cannot work yet since th

[2016-04-12 16:36] mikes-gh commented on #672
Ok got it.  Bit confusing having a new package different to tool name. Whats the resoning behind that.  It might confuse new users.

So to clarify  dotnet-publish-iis package is being replaced by Microsoft.AspNetCore.Server.IISIntegration.Tools.

Will that go in the tools section aswell.?

[2016-04-12 16:43] moozzyk commented on #672
It will look something like this in project.json:

[code]

There are pros and cons of each approach. We discussed it a lot and we settled on new names for each our tools (not only publish-iis). The work is being tracked here: https://github.com/aspnet/Coherence-Signed/issues/243

[2016-04-12 16:44] GuardRex commented on #672
@moozzyk That link 404's.

[2016-04-12 16:49] mikes-gh commented on #672
Looks like a private repo

[2016-04-12 16:51] moozzyk commented on #672
Yeah, forgot about this...

[2016-04-12 16:57] mikes-gh commented on #672
So to clarify
We'll have

Microsoft.EntityFrameworkCore.Tools
Microsoft.AspNetCore.Mvc.Tools

aswell?

[2016-04-12 17:03] moozzyk commented on #672
Yes, something along these lines.

[2016-04-12 17:45] LeandroPT commented on #672
@GuardRex

[2016-04-12 22:57] kimbaudi opened #697 "Hosting:Environment value does not persist for web profile when switching between IIS Express and web profiles. Value is reset to 'Development'"
In Visual Studios 2015, I set the Hosting:Environment value to 'Staging' or 'Production' for the web profile using the Debug tab of my web application project's Properties menu or from the launchSettings.json file. Whenever I switch running my application to IIS Server, checking the Environment Variables value for the web profile shows 'Development'. Shouldn't the value I set for Hosting:Environme

[2016-04-12 23:11] Tratcher commented on #697
Duplicate of https://github.com/aspnet/Tooling/issues/354 ?

[2016-04-12 23:16] kimbaudi commented on #697
Closing

[2016-04-12 23:16] #697 closed

[2016-04-13 03:59] davidfowl opened #698 "Remove IServerFactory from Hosting.Server.Abstractions"
- Remove `IServerFactory` and instead resolve the `IServer` instance directly from the container
- Set the `IServerAddressesFeature` in Hosting prepopulated from the hosting specific configuration.
- Remove `UseServer` overloads

/cc @Tratcher @DamianEdwards

[2016-04-13 09:19] Cloud5-2016 opened #699 "Could not load type 'System.Reflection.TypeInfo' from assembly"
I have an application built in VS2015 with .NET4.5, I migrated it to VS2013 with .NET4.0. I downloaded the suitable package NewtonSoft.Json. when I run it locally it runs fine. But while running its exe on a remote server it throws below error:

[code]
Please advice

[2016-04-13 09:22] davidfowl commented on #699
I'm pretty confused as to what this has to do with anything. Can you be more specific and show the relevant parts of the project/code. Preferably upload a failing sample with instructions on how to reproduce the problem on github

[2016-04-13 10:34] Cloud5-2016 commented on #699
Its a project for accessing Geotab website for retrieving vehicle status online. We use Geotab DLLs for this app. Its failing exactly at the stmt: List<Device> devices = api.Call<List<Device>>("Get", typeof(Device)); We use Newtonsoft.Json.8.0.3 package. It can be downloaded in VS PM console
Here is the code:
[code]

[2016-04-13 11:24] Cloud5-2016 commented on #699
We have an application connecting to Geotab website. It retrieves vehicle information online. We use Newtonsoft.Json.8.0.3 package. It shows error at the statement - List<Device> devices = api.Call<List<Device>>("Get", typeof(Device));. This code runs in VS locally. But when we place the executable files on a remote server, it gives error as mentioned earlier.
Here is the code:
[code]

[2016-04-14 01:12] shaunluttin commented on #429
Given that this is by design, what is the recommended way to set the entity framework data source type during startup? This, for instance, does not work, because we are inside `ConfigureServices`.

[code]

[2016-04-14 01:24] davidfowl commented on #429
Inject it into the `Startup` class

[2016-04-14 01:26] shaunluttin commented on #429
@davidfowl And then save it in a `private IHostingEnvironment _env` field in the Startup class? That seems kind of ugly too, because we're also injecting into into `Configure`. I suppose we could just inject everything into the `Startup` class ctor and then not inject anywhere else.

[2016-04-14 01:28] davidfowl commented on #429
There are different sets of services injected into Configure and the Startup ctor.
- Startup gets services provided by the Hosting environment
- Configure gets services provided by both the hosting environment and the application

[2016-04-14 01:29] shaunluttin commented on #429
@davidfowl That makes sense. The duplication inside `Configure` does confuse things. If I were god :) then I would separate that.

[2016-04-14 01:36] davidfowl commented on #429
Because there's a single application container when everything is built up.

[2016-04-14 07:24] davidfowl opened #700 "Add ASPNETCORE_* environment variables by default to hosting configuration"
Today you have to call `UseDefaultConfiguration` to turn on the ASPNETCORE_ environment variables. This means that `ASPNETCORE_` settings aren't applied unless the application code is setup to do so. While this seems like a pure choice, it makes it hard to diagnose why things aren't working. An example of this is the IISIntegration middleware. If you don't call UseDefaultConfiguration then it won'

[2016-04-14 14:19] Tratcher commented on #700
How do you turn it off?

[2016-04-14 17:00] moozzyk commented on #699
System.Reflection.TypeInfo is available since .NET Framework 4.5. If you still have a machine that has real .NET Framework 4 on it won't work.
Closing since this does not seem to be related in any way to AspNet Core.

[2016-04-14 17:00] #699 closed

[2016-04-14 22:15] shaunluttin commented on #651
What differentiates `ContentRootPath` from `WebRootPath`?

[2016-04-14 22:24] GuardRex commented on #651
@shaunluttin `ContentRootPath` is the new name for the application base path. `WebRootPath` is the path to your static assets (`wwwroot` or whatever you decide to call it).

[2016-04-14 22:41] shaunluttin commented on #651
@GuardRex Thank you for that. It still instead clear, though, when to use the one or the other. For instance, is this appropriate?

    var contentRoot = Directory.GetCurrentDirectory();
    var webRoot = Path.Combine(contentRoot, "wwwroot");

It doesn't seem to be, because in IIS, we will then have content root as `wwwroot` and webroot as `wwwroot/wwwroot`. So, I am not sure how to handle that. R

[2016-04-14 22:58] GuardRex commented on #651
@shaunluttin If you have a `wwwroot` folder in your project (at the `ContentRootPath` path, the app base path) and you specify `wwwroot` in the `content` section of `project.json`, the `wwwroot` folder will deploy to the `ContentRootPath` ... so it really will just end up being `ContentRootPath` something like `F:\mysite` and `WebRootPath` along with it `F:\mysite\wwwroot`. See the structure for p

[2016-04-14 23:23] shaunluttin commented on #651
@GuardRex Ok. So I just published using `dotnet publish --output publish`. Here is the result.

    MyApp
        project.json
        publish                                   <---- the publish output
            MyApp.exe
            wwwroot
                web.config
        wwwroot
            web.config

The I point IIS at `publish/wwwroot`.

The following is in my `Configure()`.

    context

[2016-04-14 23:36] GuardRex commented on #651
@shaunluttin Point IIS to the `ContentRootPath` (application base path). Place your `web.config` right out on the app base path with the app's files. `wwwroot` will truly only contain static assets going forward. [Don't forget to add `web.config` to the `content` node of `project.json`.]

The reason you're getting `C:\GitHub\StackOverflow\AspNetCoreSqlite\publish\wwwroot` as the `ContentRootPath`

[2016-04-15 00:23] shaunluttin commented on #651
@GuardRex How does that translation into publishing to Azure? For instance, our publish has the following structure.

[code]

Do we just dump the entirety into Azure's `/site` directory?

[2016-04-15 00:26] GuardRex commented on #651
@shaunluttin Yes, you will just dump the contents of the app (the contents of the `publish` folder) to that directory (`site`). Just waiting on them to roll-out the AspNetCoreModule to Azure Apps. That's in the works right now, but there is no ETA yet on when it will happen. It could be any day now.

[2016-04-15 00:27] shaunluttin commented on #651
@GuardRex Does it continue to work with the `httpPlatform` module? I.e. like this:

<?xml version="1.0" encoding="utf-8"?>

[code]

[2016-04-15 00:29] GuardRex commented on #651
@shaunluttin ... no ... it won't work. There was a period before AspNetCoreModule arrived that you could use RC2 bits with HPH (HttpPlatformHandler), but recent testing by me and another dev show that current RC2-nightly (today's bits) will not work with HPH. Another dev and I tested that scenario on both an Azure VM and Azure Apps ... it failed in both places.

[2016-04-15 00:30] shaunluttin commented on #651
@GuardRex That's a bummer. It's odd too, because it works locally with IIS.

[2016-04-15 00:32] GuardRex commented on #651
Yes! That's true. It does work locally. The other dev had the same result. I don't think it will take them that long to roll out that module. Milestones look very good for RC2 release, so I don't think it will be long now.

![capture](https://cloud.githubusercontent.com/assets/1622880/14547885/9f90c1b6-0277-11e6-9f4b-20959958c0e6.PNG)

[2016-04-15 00:33] shaunluttin commented on #651
@GuardRex One more question... how does Azure know to look for web.config in the `site` directory instead of the `site/wwwroot` directory?

[2016-04-15 00:40] GuardRex commented on #651
That config I believe is part of the :sparkles: magic :sparkles: in Azure Apps sauce. They must be setting the path in IIS under-the-covers for Azure Apps. Normally, IIS will scan and consume `web.config` files in the directory structure of an app (sub-folders), so maybe part of their behind-the-scenes updates for the new module will be to re-point IIS under Azure Apps to start looking for `web.co

[2016-04-15 00:41] GuardRex commented on #651
@shaunluttin btw ---- Join us on JabbR if you have ?'s ... better place to talk to a lot of top gun devs. https://jabbr.net/#/rooms/AspNetCore

[2016-04-15 14:25] nil4 commented on #695
@davidfowl @Tratcher implementation and test added; care to have another look?

[2016-04-15 16:45] hauteur opened #704 "Accessing IHostingEnvironment from console app"
It is quite possible that I'm missing something obvious, but I have not been able to find a way to get the IHostingEnvironment implementation in a console app (no DI).  I can get Environment and Runtime using PlatformServices, but I don't see a way to get at the hosting environment.  Am I missing it?

[2016-04-15 17:44] muratg commented on #704
@hauteur This is by design. Not sure why you would like IHostingEnvironment in a "console" application.  What's your specific scenario?

[2016-04-15 18:00] hauteur commented on #704
Thanks for the response.

I have a console app set up to run as a Windows service.  I was thinking of adding the ability to leave it as a console app (don't call run) if it is development.  In ASP.NET, you have if (env.IsDevelopment)...

I couldn't get if Debug  to work either.  It seemed to, but it didn't actually hit.

[2016-04-15 18:03] Tratcher commented on #704
IHostingEnvironment is an Asp.Net concept. It does not apply to misc console applications.

We just read the value from configuration or default to Production, it would be easy for you to do the same.

[2016-04-15 18:05] hauteur commented on #704
That's actually the way I have it right now - I've got a configuration value that says whether or not to run it as a service.  That seems messy to me - it can be easy to forget it when you deploy.  I'm working on pulling all of the logic out of it and into a library.  I'll have two shell apps that use the libraries.

I don't know, though.  It seems like being able to tell whether or not you are in

[2016-04-15 18:06] #695 closed

[2016-04-15 18:07] Tratcher commented on #704
We just set "Development" mode via an environment variable before launch.

[2016-04-15 20:24] GuardRex commented on #704
@hauteur I do little of that myself. I look at the machine name. My servers are all consistently named in production and staging. From the machine name, I can load alternative configs. If there are no machine name matches, I default to a dev environment config. As you say, I never screw up this way! :smile:

[2016-04-15 22:17] pranavkm opened #707 "Include the content root path as part of exception message"
UseContentRoot throws an `ArgumentException` when the directory does not exist. We should modify the error message to include the actual path.

https://github.com/aspnet/Hosting/blob/b7bdc9c40494f8e0f0eac22db91b8d5c58811ee2/src/Microsoft.AspNetCore.Hosting/Internal/HostingEnvironmentExtensions.cs#L28 line to change.

[2016-04-15 22:26] #707 closed

[2016-04-15 22:33] Eilon commented on #707
@ryanbrandenburg mark as done?

[2016-04-15 23:14] #698 closed

[2016-04-17 17:11] ibrmohammed opened #710 "Http Error 502.3 Bad gateway. There was a connection error while trying to route the request."
Web application is running on RC2  1.0.0-rc2-20222.HtppPlatformHandler 1.2 is installed.
I used dotnet publish to publish the WebApp.
Publish created different folder structure (as opposed to Visual studio publish structure of approot, wwwroot, logs)
1. Refs
2. wwwroot
3. Lot of dlls and a exe with a webapp name.

Hosted a webapp on iis with the above contents and physical path set to wwwroot.I go

[2016-04-18 03:18] GuardRex commented on #710
@ibrmohammed  A lot is changing in Hosting and with IIS. Catch up on the latest changes with the RC2 Annoucements: https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-rc2

You hit on a few here when you tried to deploy: DNX is going away in favor of `dotnet cli`, the published output is changing, the `web.config` file is changing, and the `HttpPlatformHandler` i

[2016-04-18 03:32] ibrmohammed commented on #710
@GuardRex  I saw the following link.https://github.com/aspnet/Announcements/issues/164.Before RC2 gets released, can we start using coremodule with RC2 nighly builds.and from where can i get this package related to coremodule "Microsoft.AspNetCore.Server.IISIntegration"

[2016-04-18 05:00] ibrmohammed opened #711 "Could not find this package "Microsoft.AspNetCore.Server.IISIntegration" in nugget feed"
Web App uses RC2. According to this link https://github.com/aspnet/Announcements/issues/164
we might need to use core module instead of HttpPlatformHandler.

from where can i get the following package "Microsoft.AspNetCore.Server.IISIntegration".

[2016-04-18 05:03] davidfowl commented on #711
You can look at the feeds on cli-samples https://github.com/aspnet/cli-samples/blob/master/NuGet.Config

[2016-04-18 05:03] #711 closed

[2016-04-18 07:42] GuardRex commented on #710
@ibrmohammed Yes, the new module works great. It hasn't been rolled out to Azure Apps yet, you can use it on an Azure VM. Regarding the package, take a look at the cli samples, which are setup to run a RC2-nightly shared framework app on IIS: https://github.com/aspnet/cli-samples ... they have the correct NuGet feeds in the `NuGet.config` file to pull down the package when you restore any of the a

[2016-04-18 21:39] nil4 opened #712 "Startup fails when static method is passed to WebHostBuilder.Configure"
[code]

Expected: the application starts up and `ConfigureApplication` is called.

Actual: the application crashes on startup with stack trace:

[code]

In [`WebHostBuilder.ResolveApplicationName`](https://github.com/aspnet/Hosting/blob/4e5fd908fd5eb33f55cf90f852f3328468e64e2a/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L257), `_startup.ConfigureDelegate.Target` is assumed to be non-null. T

[2016-04-18 22:34] nil4 commented on #712
Pull request #713 resolves this issue by using `_startup.ConfigureDelegate.GetMethodInfo().DeclaringType` instead.

[2016-04-18 22:56] LeandroPT commented on #700
Hello all...

This should be reflected in all examples with upper cases :), specially hosting in IIS...

I have been banging my head with this.. Thanks for the post :+1:

[2016-04-18 23:19] #593 closed

[2016-04-18 23:47] LeandroPT commented on #576
Any feedback?

[2016-04-19 03:53] #679 closed

[2016-04-19 04:42] davidfowl commented on #333
Fixed with 8f5f8d28d00468725d9fd8dd95123f43d22f2c3c which is post RC2. You can add an `IStartup` class to the DI container and that will get resolved for app startup.

[2016-04-19 04:42] #333 closed

[2016-04-19 04:44] davidfowl commented on #333
PS: it would look like this:

[code]

[2016-04-19 07:28] stefanhendriks opened #715 "Bootstrapping TestServer with TestStartup with InMemoryDatabase fails (No service for type 'Microsoft.Data.Entity.Storage.IRelationalConnection' has been registered)"
Perhaps I've missed something, or perhaps something is broken. I hope to find out what happens here.

I have a test class, which uses a TestFixture to bootstrap:

[code]

The testServerFixture looks like this:

[code]

And as you can see it uses a `TestPortalStartup` which looks like this:

[code]

As you can see in the `SetUpDataBaseAndMigrations` we bootstrap an InMemoryDatabase and a DbContext.

[2016-04-19 07:46] khellang commented on #712
Doesn't #714 get rind of this code completely?

[2016-04-19 07:48] davidfowl commented on #712
Nope, we still determine the application name https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostBuilderExtensions.cs#L82

[2016-04-19 15:51] nil4 commented on #712
PR #716 resolves this issue. /cc @davidfowl @Tratcher

[2016-04-19 17:05] #712 closed

[2016-04-20 03:59] ibrmohammed commented on #711
installed asp.net core x64 module.
added the following dependency "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-*"
modified my startup.cs
![image](https://cloud.githubusercontent.com/assets/5870046/14662862/15fddc44-06d8-11e6-8261-6f9fd792ac49.png)

modified the web.config
![image](https://cloud.githubusercontent.com/assets/5870046/14662890/4422910a-06d8-11e6-9c5b-608f1add3232.png)

pub

[2016-04-20 04:09] Tratcher commented on #711
You're pretty close actually, that's the Asp.Net startup error page. It means there was an exception starting your app, probably from the Startup class. If you set ASPNETCORE_ENVIRONMENT to Development you should get the details. The easiest place to set this is in the Web.Config, aspNetCore has an environment variables sub-section.

[2016-04-20 04:09] ibrmohammed opened #717 "hosting site using dotnet publish gave 500 Internal server error."
installed asp.net core x64 module.
added the following dependency "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-*"
modified my startup.cs
![image](https://cloud.githubusercontent.com/assets/5870046/14663123/b37d8e2c-06da-11e6-8bd9-df7dd6a00a02.png)

modified the web.config
![image](https://cloud.githubusercontent.com/assets/5870046/14663132/c02fe2fa-06da-11e6-968b-6df8c7e509f4.png)

pub

[2016-04-20 04:12] Tratcher commented on #717
You're pretty close actually, that's the Asp.Net startup error page. It means there was an exception starting your app, probably from the Startup class. If you set ASPNETCORE_ENVIRONMENT to Development you should get the details. The easiest place to set this is in the Web.Config, aspNetCore has an environment variables sub-section.

Also, UseIIS() was renamed to UseIISIntegration().

[2016-04-20 04:17] ibrmohammed commented on #711
my hosting environment is
![image](https://cloud.githubusercontent.com/assets/5870046/14663274/caeb6500-06dc-11e6-8d14-59d3d90e08fe.png)

[2016-04-20 04:23] ibrmohammed commented on #717
let's continue on this thread.

![image](https://cloud.githubusercontent.com/assets/5870046/14663314/44ae8f66-06dd-11e6-8eb8-1d81e89ea856.png)

my the reference that i added for IIsInteegration was v1.0.0-rc2-20466
![image](https://cloud.githubusercontent.com/assets/5870046/14663355/c40b1a72-06dd-11e6-8783-1a1bbf5bb58a.png)

[2016-04-20 04:26] GuardRex commented on #711
@ibrmohammed You're not following the cli-samples project. Check out https://github.com/aspnet/cli-samples/tree/master/HelloMvc ... unless you were specifically trying to setup a standalone application; the cli-samples follow the shared framework model.

[2016-04-20 05:21] ibrmohammed commented on #711
the framework in my project is
  "frameworks": {
    "net451": { }
  },

[2016-04-20 05:24] ibrmohammed commented on #717
can you ping the sample code of environment variables sub section

[2016-04-20 05:26] GuardRex commented on #711
That's fine, but were you trying to setup a standalone (self-contained) application or a shared framework application? Since your output shows an executable, it looks like you are trying to create a standalone project. If you didn't know about the difference between the two application types, you can read more here: https://github.com/blackdwarf/core-docs/blob/clidocs/docs/core-concepts/app-types.

[2016-04-20 05:40] ibrmohammed commented on #711
i think its a shared framework because of the dependencies

![image](https://cloud.githubusercontent.com/assets/5870046/14664420/5bda70d2-06e8-11e6-8b4d-bb287d8dbbae.png)

[2016-04-20 05:44] GuardRex commented on #711
You need to depend on ..
[code]
... for it to be a shared framework app. It's the `"type": "platform"` part that makes it shared.

[2016-04-20 05:50] ibrmohammed commented on #711
So you mean to say its a standalone application.And what does win 81-x64 suggests?

[2016-04-20 05:51] ibrmohammed commented on #711
the command that i used to publish the application was this
dotnet publish "src\Aps.Idp.Web" -c "Release"  -f "net451" -o "artifacts\bin\Aps.Idp.Web\Release\PublishOutput"

[2016-04-20 05:58] GuardRex commented on #711
That's the runtime id (RID). `win81-x64` is appropriate for Windows 8.1+/Windows Server 2012/R2+.

Add the `runtimes` section to `project.json` with the `win81-x64` RID, and add `-r win81-x64` to your publish command. You should get proper ouput.

There may be a few other issues here to address though:
- `web.config` has the correct paths for the `.exe` and log file
- the `"Microsoft.NETCore.DotNe

[2016-04-20 06:01] ibrmohammed commented on #711
Is that the publish folder for standalone app
https://github.com/ibrmohammed/standalone

[2016-04-20 06:04] GuardRex commented on #711
No, it will publish deep within the `bin` folder ... you'll see a `publish` folder in there. That will contain the bits you need to deploy. See the full layout here: https://github.com/dotnet/cli/issues/937#issuecomment-186737388

[2016-04-20 06:05] ibrmohammed commented on #711
Ah !! My bad.Its the project.
can you give me the publish folder for the standalone app.so that i can get a better understanding.

[2016-04-20 06:09] GuardRex commented on #711
Just publish that one ... run `dotnet restore` on it, then do a ...
[code]
 ... It will create the full outputs for you, and you'll see the `publish` folder in there. The contents of that folder is what you deploy to the server.

![capture](https://cloud.githubusercontent.com/assets/1622880/14664877/613f6e3c-0694-11e6-9ecb-6e1a617d20e0.PNG)

[2016-04-20 17:24] ibrmohammed commented on #711
@GuardRex

From the points mentioned above. I did not get your 3rd point.what change should i have to do for point 3?

1.web.config has the correct paths for the .exe and log file
2.the "Microsoft.NETCore.DotNetHostPolicy": "1.0.1-*" package dep
3.web.config is in the content root (the application base path)
4.web.config added to the content section of project.json
5.NuGet.config is pointed to the

[2016-04-20 17:30] GuardRex commented on #711
web.config will exist at the application base path along with the rest of
the project's files.

You can also have no web.config in the project and use the publish-iis tool
to generate one for you as the cli samples show and is discussed here:
https://github.com/aspnet/IISIntegration/issues/105#issuecomment-212519337
On Apr 20, 2016 12:24 PM, "ibrmohammed" <notifications@github.com> wrote:

[2016-04-20 17:56] JunTaoLuo opened #718 "Update deployers for shared runtime"
Currently our deployers are not handling portable apps correctly with the logic in https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Server.Testing/Deployers/SelfHostDeployer.cs#L53-L72. We need to run `dotnet *.dll` instead. This is required for testing converted MusicStore, ServerTests, and IISIntegration and Entropy.

[2016-04-20 22:34] javiercn opened #721 "Test server should fire onResponseCompleted after the actual response has completed instead of just the headers"
Currently TestServer fires OnResponseCompleted here:
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.TestHost/ClientHandler.cs#L202
At this point, the response stream might have not been completely written to the response which might cause the response get cut in multiple and bizarre ways.

Instead, the event needs to be triggered after the response has been completed here:
htt

[2016-04-21 05:30] ibrmohammed commented on #711
@GuardRex  for the standalone app, the feed used is aspnetcirelease feed.Is this using "dnx-clr-win-x86.1.0.0-rc2-20221"

the feed i am using is https://www.myget.org/F/aspnetcidev/
My application is using "dnx-clr-win-x86.1.0.0-rc2-20222".
framework net451
Included runtimes as win81-x64 in project.json and tried dotnet restore. But the restore failed.
then tried dnu restore.Again the restore fail

[2016-04-21 05:32] GuardRex commented on #711
@ibrmohammed No, DNX is dead. `dotnet cli` totally takes over. You should be using this: https://github.com/dotnet/cli/tree/rel/1.0.0

[2016-04-21 06:27] ibrmohammed commented on #711
May i know if this  dnx clr version or cli version.

![image](https://cloud.githubusercontent.com/assets/5870046/14699773/1f44d560-07b8-11e6-8eb2-1a71758e5051.png)

[2016-04-21 06:47] GuardRex commented on #711
@ibrmohammed ... no ... none of that matters. `dotnet cli` is a totally different runtime, build, and tooling system. All of that is :skull: dead :skull:. The only value to it at all is for use with Visual Studio to get Intellisence. Visual Studio will get a tooling update when RC2 releases in a few weeks. You can leave those runtimes there for now, but when RC2 releases, you'll be able to delete

[2016-04-21 15:05] EricABC commented on #712
@davidfowl I see this gets an overhaul in the dev branch, but for the release is there any chance you might consider moving the _options.Application to the top of ResolveApplicationName for release (which closer matches the dev branch already)? [L265](https://github.com/aspnet/Hosting/blob/release/src/Microsoft.AspNetCore.Hosting/WebHostBuilder.cs#L265).  The problem I encounter is when abstractin

[2016-04-21 17:38] #718 closed

[2016-04-21 21:37] muratg opened #722 "DNX branding shows up in the ErrorPage"
_From @rustd on April 21, 2016 19:21_

**Repro Steps:**

- Create an ASP.NET Core Web App
- Introduce a compilation error
- Run the app to see the error page

**Expected:**
DNX branding should not show up in the error page. It does at the bottom as shown in this screenshot

![errorpage](https://cloud.githubusercontent.com/assets/1132652/14721455/4cbca222-07bb-11e6-85a7-5fd8fd891cc9.PNG)

_Copied f

[2016-04-21 21:37] muratg commented on #722
_From @Eilon on April 21, 2016 21:11_

Hmm I don't see this in the latest packages. I ran from source code and there's no footer at all. I also don't see this being generated by searching the repo. I also looked over the last month or two of changes and didn't see where the might have been removed.

@Tratcher @ryanbrandenburg do you guys recall removing this? Or is it coming from somewhere else?

[2016-04-21 21:37] muratg commented on #722
_From @Tratcher on April 21, 2016 21:24_

That's Hosting's startup exception page, not the developer error page:
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Startup/StartupExceptionPage.cs
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/compiler/resources/GenericError_Footer.html

[2016-04-21 21:37] muratg commented on #722
_From @rustd on April 21, 2016 21:36_

I am seeing this with this version  1.0.0-rc2-20581

[2016-04-22 04:53] ibrmohammed commented on #711
getting the following error while trying to publish using dotnet publish

![image](https://cloud.githubusercontent.com/assets/5870046/14732032/2468065e-0874-11e6-884b-dd79ef182e76.png)

[2016-04-22 07:08] ibrmohammed commented on #711
"frameworks": {
    "net451": { }
  }

[2016-04-22 07:15] davidfowl commented on #711
@ibrmohammed File a bug on github.com/dotnet/cli

[2016-04-22 11:43] ibrmohammed commented on #711
<b>modified my project.json</b>
{
  "userSecretsId": "aspnet5-Idp-149e9283-fb72-416b-bf12-4bc1df27d486",
  "version": "1.0.0-*",
  "description": "Aps.Idp.Web Project",
  "authors": [ "IPPCS" ],
  "commands": {
    "web": "Aps.Idp.Web",
    "ef": "EntityFrameworkCore.Commands"
  },
  "content": [
    "wwwroot",
    "web.config"
  ],
  "compilationOptions": {
    "emitEntryPoint": true,
    "preser

[2016-04-24 02:03] xatabhk opened #724 "Cannot set self-hosting url using command line argument and hosting.json"
"dotnet run -serverurl http://xyz:5000" or
"siteapp.exe -serverurl http://xyz:5000" does not work. Neither does ""server.urls": "http://xyz:5000/"" in hosting.json. Only "UseUrls("http://xyz:5000")" in code works.

[2016-04-24 04:20] Tratcher commented on #724
Share your Program.Main and and your hosting.json file. The command line should be `server.urls` not `serverurl`.

[2016-04-24 05:35] xatabhk commented on #724
@Tratcher  server.urls does not work for me.
![host_url_error](https://cloud.githubusercontent.com/assets/6814395/14765725/651180c4-0a20-11e6-8d8b-db4bbe10e597.png)

Program.Main and hosting.json:
		public static void Main(string[] args)
		{
			var application = new WebHostBuilder()
				.UseDefaultHostingConfiguration(args)
				.CaptureStartupErrors(true)
				.UseKestrel()
				//.UseUrls("http://.

[2016-04-24 05:38] cwe1ss commented on #724
I think you need two dashes - so it should be `--server.urls`

[2016-04-24 05:56] xatabhk commented on #724
@cwe1ss Same result.
![host_url_error_2](https://cloud.githubusercontent.com/assets/6814395/14765785/1a00323e-0a24-11e6-9a6f-260a0cb87878.png)

[2016-04-24 06:31] cwe1ss commented on #724
I missed that you use dotnet cli.

Try `dotnet run -- --server.urls http://...`

See [docs](https://github.com/dotnet/cli/blob/rel/1.0.0/src/dotnet/commands/dotnet-run/README.md) for more details.

[2016-04-24 07:27] xatabhk commented on #724
@cwe1ss Not this one either. But I got the command line figured out. Here is:
dotnet run /server.urls http://.:8000
Aslo hosting.json is now working after the app rebuilt.

[2016-04-24 07:27] #724 closed

[2016-04-24 20:37] mikeesouth opened #725 "Accept DELETE and PUT verbs for MVC6 when using Microsoft.AspNet.Hosting"
Hi, I'm using ASP.NET Core RC1 and I'm having a problem with my development server not accepting DELETE or PUT verbs for MVC Controller / Web API.

I'm hosting my development server using Microsoft.AspNet.Hosting. I have tried both Kestrel and WebListener:
[code]

Both of these works fine except for one thing: I cannot call my MVC Controller actions with DELETE or PUT. It is working fine for GET a

[2016-04-24 21:07] davidfowl commented on #725
What error do you get? You can try turning on logging in your application so you can see what happens to the request. I assume you can see the console output since you're not running through IIS right?

If you're not using IIS, then this won't have any effect.

It should work fine by default. I'm not aware of any issues that would cause this to be blocked unless you are using IIS.

[2016-04-25 11:02] stefanhendriks commented on #715
Update:
Using `Sqlite` instead of `InMemory` works.

For now this is sufficient, but it does not solve the actual problem.

For me, I want to run integration tests and run them isolated. Using Sqlite I can do this. I can get rid of the DB files and run tests again. I also don't need a separated DB instance. Other ways would  be to use a different Schema (on same DB instance).

[2016-04-25 15:50] sergeos commented on #364
Sorry, maybe someone knows why the first launch of the site takes a lot of time? Is the replacing HttpPlatformHandler help resolve this problem?
I'm trying on Server2008 R2 and Server2012. Starting site about 1 minute for simple form of login.
Other sites based on MVC5 working fast.

[2016-04-25 16:14] GuardRex commented on #364
@sergeos I assume a number of perf improvements have been made between rc1-final released back in November and rc2-nightly wrt JIT (guessing, of course, since I haven't compared those two app types directly).

If you do move the app into rc2-nightly format and start using the new module, I noticed startup times were roughly cut in half for shared (portable) apps (less JIT) over standalone (self-co

[2016-04-25 16:15] kuashe commented on #364
@sergeos  Maybe not the best place for this . As far as i know ASP.NET Core doesn't build anything anymore. MSIL is know only produced when they are accessed for the first time .

To force il code generation you can tr y to use CLI  "[dnu publish](https://github.com/aspnet/Home/wiki/DNX-utility)" .Note that this is only viable for RC1 , dnu will be removed for RC2 .

[2016-04-25 16:21] GuardRex commented on #364
@kuashe I think that's a fair ? here tho: Is this more of a hosting prob or an app prob ... it's really more of an app prob. The two modules are just handling reverse proxy and given that the `AspNetCoreModule` is just a port of the `HttpPlatformHandler` module, they are probably almost identical in speed. I was thinking that if @sergeos does update for rc2-nightly that some bonuses would be there

[2016-04-25 16:56] muratg commented on #715
@divega Any idea what the issue may be?

[2016-04-25 18:11] divega commented on #715
Dupe of https://github.com/aspnet/EntityFramework/issues/5150.

[2016-04-25 18:11] #715 closed

[2016-04-25 18:12] mikeesouth commented on #725
Thanks for the quick answer. I was getting 404 (Not Found) for my DELETE actions on my controller. In light of your error I did however continue my troubleshooting and found the problem. It is now working with both Kestrel and WebListener. If anyone else runs into this problem the solution for me was that the HttpDelete attribute was specified like this:
[code]

And that did not work with my route

[2016-04-25 18:12] #725 closed

[2016-04-26 00:11] rustd opened #727 "RC2 Templates Review follow-up: Remove UseDefaultHostingConfiguration"
From the templates review, it was brought up that the following line of code (https://github.com/aspnet/Templates/blob/dev/src/BaseTemplates/StarterWeb/Program.cs#L18) should be removed from the templates. Please make the corresponding FX changes.
[code]
@muratg FYI

[2016-04-26 00:39] muratg commented on #727
@JunTaoLuo This is from the templates review today. Please have a look, and send a mail to @Eilon and @DamianEdwards for approval.

cc @Tratcher

[2016-04-26 17:12] muratg commented on #727
https://github.com/aspnet/Hosting/issues/700

[2016-04-26 17:13] muratg commented on #700
@JunTaoLuo We think this is required for #727.

cc @Tratcher

[2016-04-26 17:13] khellang commented on #727
@muratg During the template review, did you discuss IStartup/StartupBase/ConventionBasedStartup? :smile:

[2016-04-26 17:23] davidfowl commented on #727
We didn't but I don't see us using that interface in the templates.

[2016-04-26 17:51] JunTaoLuo opened #728 "Self host deployers not testing on full CLR if test app is not published before deployment"
Currently if the app is not published before deployment the command executed by the self host deployer looks like `dotnet run -p "C:\gh\Localization\samples\LocalizationSample" -- --server.urls http://localhost:5081/  --server Microsoft.AspNetCore.Server.Kestrel`. This is missing the framework specification `--framework net451/netcoreapp1.0` and will always run the coreclr version by default. As a

[2016-04-26 17:58] khellang commented on #727
So that means ConventionBasedStartup implicitly, like today?

[2016-04-26 18:06] DamianEdwards commented on #727
It did come up as I thought we were making that change (to use `IStartup`). For now it appears we're staying with the convention based approach in the templates by default.

[2016-04-26 18:12] khellang commented on #727
Alright. As long as I can opt-out (of the conventions), I'm all good :smile:

[2016-04-27 07:32] #704 closed

[2016-04-27 07:33] davidfowl commented on #693
We're removing these defaults. It's up to the application to handle them.

[2016-04-27 07:49] davidfowl opened #731 "Remove UseServer overloads"
We're moving away from generic hosting understanding how to wire up servers to servers adding themselves to the DI container via first class extension methods. This also avoids issues where the default extension methods setup things by default (like a default set of options) so that it's possible to configure server settings in the application.

[2016-04-27 16:37] #721 closed

[2016-04-27 18:14] #722 closed

[2016-04-27 19:00] JunTaoLuo opened #732 "Resolve framework versions correctly in error page footer"
Followup to https://github.com/aspnet/Hosting/pull/726.

Currently we generate footers like
![image](https://cloud.githubusercontent.com/assets/2030323/14864610/7f568244-0c6f-11e6-964b-b2946efb03eb.png)
which uses assembly version as the .NET Framework version. This is not very useful and the version should look like 4.5.1, 4.6, ...

cc @DamianEdwards

[2016-04-27 21:19] #700 closed

[2016-04-27 21:19] #693 closed

[2016-04-27 21:20] JunTaoLuo commented on #727
Need to track the updates of our samples.

[2016-04-27 23:11] glennc commented on #576
This particular error means you got some sort of server error, could be several issues. There are a couple of updates to Azure that need to happen for RC2, and they should be rolling out soon-ish. Once they are done this should be resolved. It is possible to get it to work today if you know how, but the e2e experience for everyone still needs some work.

[2016-04-28 15:57] BrennanConroy opened #733 "Prefer uppercase environment variable for ASPNETCORE_"
https://github.com/aspnet/Hosting/commit/e505ecbc2176cc35b6fb0e3fd51fc7bf4c484cf4#diff-b41ef5dfd9823ae114dd7c9ea12d1676R66

[2016-04-28 16:31] muratg commented on #731
This would be a breaking change, right? So in RC2? Could you start a thread for approval?

cc @Eilon @DamianEdwards

[2016-04-28 16:33] muratg commented on #717
@ibrmohammed Set `ASPNETCORE_ENVIRONMENT` environment variable to Development, not `Hosting:Environment`.

[2016-04-28 16:35] muratg commented on #710
Closing this one. @ibrmohammed if you still have problems with AspNetCoreModule, please file another one. Thanks.

[2016-04-28 16:35] #710 closed

[2016-04-28 20:34] Eilon commented on #731
What exactly do we want to remove/change? And are these APIs already frequently used?

[2016-04-28 22:56] #733 closed

[2016-04-29 11:29] ibrmohammed commented on #711
@davidfowl any thing more that I have to check.to get this resloved

[2016-04-29 18:07] BrennanConroy opened #737 "Discussion: UseDefaultHostingConfiguration has been removed"
Discussion for https://github.com/aspnet/Announcements/issues/174

[2016-04-29 18:25] cwe1ss commented on #737
Does this mean, that the environment is no longer set, unless you explicitly add the environment variables? or is there an exception for this one case? (I think I remember an issue about that?!)

[2016-04-29 18:26] BrennanConroy commented on #737
Oh good catch, let me update the announcement

[2016-04-29 18:27] cwe1ss commented on #737
I've just seen that's this is one of the referenced issues - but having this in the announcement would be good IMO, yes.

[2016-04-29 19:11] cwe1ss commented on #737
Still a bit confusing in my opinion. Do you really check, if we've called `AddEnvironmentVariables` or is the fallback only used, when we don't call `UseConfiguration` at all?

Or in other words: if I use just `var config = new ConfigurationBuilder().AddCommandLine(args);` and pass this to `UseConfiguration`, will you still read the hosting-environment from the ASPNETCORE_ENVIRONMENT environment v

[2016-04-29 22:06] GuardRex commented on #737
@cwe1ss :+1:

My situation is to use `.UseEnvironment(...)`. Testing seems to indicate that doing it this way, the env var is set without having `.UseConfiguration(...)` at all. Yes, indeed, a little more detail on the processing model would be helpful: In addition to what @cwe1ss is asking, how does `.UseEnvironment(...)` play into this both with and without `.UseConfiguration(...)`? ... I have t

[2016-04-29 22:34] blowdart opened #738 "For RC2 use both environment names for dev/release etc."
https://github.com/aspnet/Hosting/pull/720

@Eilon

In changing the name of the environment variables we've caused problems for folks that haven't switched them, so someone running RC2 code but still using the RC1 environment variable names are going to end up using production settings, which can have unintended side effects.

For RC2 we should look for both names, if the RC2 name isn't present, b

[2016-04-29 22:37] Eilon commented on #738
Seems reasonable to me. Can you send email to me and @DamianEdwards to approve for RC2?

@muratg @davidfowl FYI.

[2016-04-29 22:41] Eilon commented on #738
If possible, we should log something to ILogger if the app is using an old name.

[2016-04-29 22:47] Tratcher commented on #738
ASPNET_ENV?

[2016-04-29 22:49] blowdart commented on #738
Whatever it was before, which is different to now. I'm not a details person :D

[2016-04-29 22:52] blowdart commented on #738
Oh there we go,

So check Hosting:Environment (or Hosting__Environment), if not present fall back to, yes, ASPNET_ENV

[2016-04-29 22:56] Tratcher commented on #738
In RC1 we supported `ASPNET_ENV` as legacy and `Hosting:Environment` as primary.
https://github.com/aspnet/Hosting/blob/1.0.0-rc1/src/Microsoft.AspNet.Hosting/HostingEnvironmentExtensions.cs#L12-L13

Now it looks like we'd rotate these to `Hosting:Environment` as legacy and `ASPNETCORE_ENVIRONMENT` as primary.

This also relates to my other PR for when to read them. I'll just add on to that.
https

[2016-04-29 23:10] Tratcher opened #739 "Remove legacy environment keys"
https://github.com/aspnet/Hosting/issues/738

[2016-04-30 00:00] cwe1ss commented on #738
Thanks for considering this! I think this is all about making sure, everyone who's affected knows about this change. If you keep the old values for RC2 but remove them for RTM then people will just run into this issue later.

Since this is a hidden breaking change (different behavior at runtime) and since logging is not easy at that point, how about making this a breaking change that actually fail

[2016-04-30 01:59] davidfowl commented on #738
I personally don't see why we'd do this from RC1 to RC2 hen remove it for RTM...

[2016-04-30 06:24] xatabhk commented on #737
@BrennanConroy
This caused hosting.json and "dotnet run /server.urls http://xxxx:5002" not to work any more.

[2016-05-01 04:16] xatabhk opened #740 "Cannot set self-hosting url using command line argument and hosting.json after UseDefaultHostingConfiguration removed,"
After UseDefaultHostingConfiguration removed,
"dotnet run /server.urls http://xyz:5000" does not work any more. Neither does ""server.urls": "http://xyz:5000/"" in hosting.json. Only "UseUrls("http://xyz:5000")" in code works.

The following lines in Startup() seem dummy:
[code]

Also 'args' is not available in Startup(), assigning it in main() to another static variable just for it is too much.

[2016-05-01 04:22] davidfowl commented on #740
If you want to support command line arguments then just it's 2 calls instead of one. The decision was made to remove the shortcut because the method name was pretty confusing and as more code moved into the application, having some of those defaults weren't important anymore.

You never have to call AddEnvironmentVariables because that's done by default now. If you want command line args then the

[2016-05-01 06:48] xatabhk commented on #740
@davidfowl But there is a bug, the call order becomes important. Here is an example:
var builder = new ConfigurationBuilder()
				.AddCommandLine(args)
				.AddJsonFile("hosting.json", optional: true)
				.AddJsonFile("config.json");
Command line arg ‘server. urls’ will be ignored. This is not the desired behavior as command line args are expected to always override settings in configuration files

[2016-05-01 07:03] davidfowl commented on #740
Are you saying you want the extension method back so that it can order things properly for your app?

The difference in thinking here comes from the fact that you control your hosting wire up. That code in now part of the application. `hosting.json` is no longer special. The only thing that matters is what supported configuration values we read by default. If you want to treat `hosting.json` speci

[2016-05-01 07:34] xatabhk commented on #740
I understand your explanation and don't want extension method back. But I think command line args should be used/read first. Or in the following code:
                .AddCommandLine(args)
                .AddJsonFile("hosting.json", optional: true)
.AddCommandLine(args) does nothing; it takes time to figure the issue out as no compiling error to tell the wrong order.

[2016-05-01 07:49] davidfowl commented on #740
Sounds fine, put them last 😄

[2016-05-01 08:20] xatabhk commented on #740
@davidfowl  Yes. It will never be a compiler error. I hope command line args are re-ordered internally, so user don't have to remember to put AddCommandLine(args) last.

[2016-05-01 08:25] davidfowl commented on #740
You want the command line arguments to be reordered internally where?

[2016-05-01 11:24] xyting opened #741 "Not way to get assembly physical path"
I need to read XML documentation at run-time, but I cannot find a way to get the physical path of my assembly.xml file

[code]

[2016-05-01 12:08] xatabhk commented on #740
@davidfowl  You know I mean using command line settings first internally always.

[2016-05-01 14:48] Alienwaren commented on #604
Awesome, I will try it out :)

[2016-05-01 16:40] GuardRex commented on #741
@xyting I was just playing with a reflection approach for this via `GetTypeInfo()`, as I'm eventually going to need what you're doing to work here, too. If you can `GetTypeInfo()` on that `member.Module`, then it might just work.
[code]

[2016-05-01 16:41] davidfowl commented on #741
Also has nothing to do with ASP.NET. APIs questions like these belong on github.com/dotnet/corefx

[2016-05-01 16:41] #741 closed

[2016-05-02 04:56] xyting commented on #741
@GuardRex If using the types of GAC, the location is correct, but I run the same code in ASP.NET core RC1, the typeof(myObject).GetTypeInfo().Assembly.Location, the Location is "".

I run my web app in VS using project.json web command

  "commands": {
    "web": "Microsoft.AspNet.Server.Kestrel --ASPNET_ENV Development"
  },

[2016-05-02 05:04] GuardRex commented on #741
@xyting Open this issue over at https://github.com/dotnet/corefx/issues ... idk on the actual answer either other than what I was hacking around with, but they will know over there what to do.

[2016-05-02 05:19] davidfowl commented on #741
It's empty string because of dynamic compilation. If you publish with `--no-source` in RC1, you'll have something on disk.

[2016-05-02 05:32] xyting commented on #741
@davidfowl Makes sense. Thanks for the answer!

[2016-05-02 14:36] mcliment commented on #737
Souldn't the example code should load variables backwards? First JSON, then Environment and finally CommandLine. I know it's an example but it's more consistent with previous behavior.

[code]

[2016-05-02 15:39] BrennanConroy commented on #737
@mcliment Changed for consistency
@xatabhk That's because they are no longer default and you need to follow the example
@cwe1ss We check if you've configured any environment variables (i.e. via AddEnvironmentVariables), if you haven't configured any then ASPNETCORE_ENVIRONMENT is read

[2016-05-02 16:45] blowdart commented on #738
@davidfowl You think keep it for RTM? I don't see why not.

[2016-05-02 16:47] davidfowl commented on #738
Why do we need to keep it in the first place? You have to recompile your application anyways. This is just one more change you need to make. Maybe the problem is that it's not obvious what you're running and we should fix that instead.

[2016-05-02 16:58] cwe1ss commented on #738
+1 for making the environment blink in the console output :-)

No, I also think either support both for rc2 and rtm or make this change clearer in the docs. Aren't you working on a RC2 migration guide anyway?

[2016-05-02 17:02] Tratcher commented on #738
For RC2 I should just add the warnings for old variables, not not actually read the values. It's better to break people now than RTM.

[2016-05-02 17:09] muratg commented on #717
@ibrmohammed Do you still have this issue?

[2016-05-02 18:12] #727 closed

[2016-05-02 23:16] Tratcher commented on #739
We've decided never to remove the legacy keys, it will always break someone.

[2016-05-02 23:16] #739 closed

[2016-05-03 00:20] davidfowl commented on #738
@Tratcher I like that!

[2016-05-03 03:00] Tratcher commented on #738
Unfortionately that's not what we ended up doing: https://github.com/aspnet/Hosting/pull/735#issuecomment-216392457

[2016-05-03 16:28] #738 closed

[2016-05-03 18:01] benaadams opened #742 "Option to remove AutoRequestServicesStartupFilter"
If you don't need `RequestServices` how can you remove `AutoRequestServicesStartupFilter` from startup?

I've tried a few things but its very tenacious.

`RequestServicesContainerMiddleware.Invoke` for a small function is quite chunky:

![request-services-movenext](http://aoa.blob.core.windows.net/aspnet/request-services-movenext-1.png)

[2016-05-03 18:44] khellang commented on #742
Can't you just yank out the `AutoRequestServicesStartupFilter` service descriptor somewhere?

[2016-05-04 10:04] ibrmohammed commented on #717
yes I am still facing the issue.
did some changes to the main method.
## main method
             var builder = new ConfigurationBuilder()
		    .AddJsonFile("appsettings.json")
                    .AddEnvironmentVariables()
                    .AddCommandLine(args)
                    .Build();

                var application = new WebHostBuilder()
                  //.UseDefaultHostingConfigura

[2016-05-04 16:14] moozzyk commented on #717
Show your web.config after publishing - if the web.config you showed is what you got after publishing this is the problem. It was not updated correctly - you still have `processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%"`.
Also show your project.json - the tools section. Are you sure you are using the new publish-iis tool as per: https://github.com/aspnet/Announcements/issues/169 and https:

[2016-05-04 17:37] dotnetchris commented on #737
This is really asinine.

We want sane defaults. Convention over configuration.

[2016-05-04 20:01] yzorg commented on #651
Would the team consider "WebApplicationPath" instead of "ContentRootPath"?  To me the web application includes what VS calls "content files" (configuration files, project.json), the dotnet binaries in ./bin, and the static web files in ./wwwroot.

I get that with the unification of ASP.NET into the dotnet CLI that ApplicationBasePath now needs to point to the ./bin directory, but why not use "Web"

[2016-05-05 15:54] Eilon commented on #728
@muratg do we want to do this for RC2? If we're missing important test coverage we should add this ASAP.

[2016-05-05 16:22] muratg commented on #728
Yes, we should do this now. @JunTaoLuo I assume the change is not that hard (although if tests fail, fixing those may take some time.)

[2016-05-06 05:14] davidfowl commented on #742
You can:

[code]

You can't really use much middleware without it though 😄

[2016-05-07 00:52] #728 closed

[2016-05-07 04:01] ibrmohammed commented on #717
The web.config I have shared is after doing "dotnet publish". Yes I am using the tools section below.
## Tools
 "tools": {
    "Microsoft.AspNetCore.Server.IISIntegration.Tools": {
      "version": "1.0.0-*",
      "imports": "portable-net45+wp80+win8+wpa81+dnxcore50"
    }
  }

## Scripts
"scripts": {
    "prepublish": [ "npm install", "bower install", "gulp clean", "gulp min" ],
    "postpublish

[2016-05-07 04:24] moozzyk commented on #717
It does not look to me that publish-iis ran at all. Can you share your application and show exact steps to repro this?

[2016-05-07 07:02] ibrmohammed commented on #717
Please find the application here https://github.com/ibrmohammed/IDPNew
web project is located in src --> aps.idp.web

## repro steps
dotnet restore on the solution folder
traverse to path src --> aps.idp.web --> dotnet run
dotnet publish --configuration Release --runtime win81-x64

[2016-05-07 12:23] benaadams commented on #742
Have some very single minded servers :laughing:

[2016-05-07 12:34] benaadams commented on #742
Works! Thank you :)

[2016-05-07 12:34] #742 closed

[2016-05-08 17:12] ibrmohammed opened #744 "Hosting the Mvc.Server project on IIS with net451 not working"
## project
https://github.com/openiddict/openiddict-core
This project has sample MVC.Server which i am trying to host on IIS

## Actual Behaviour
when i publish with netcoreapp1.0 as a target framework and host on IIS it works fine.
But when i publish with net451 as a target framework and  host on IIS it doesn't.

For More info about this
https://github.com/openiddict/openiddict-core/issues/105

[2016-05-09 06:21] Challagolla opened #745 "Question: Can we use net451 with aspnetcore applications?"
Hi Team,
Can someone please educate me on which version to use with the web applications built using latest asp.net RC2 packages ? as per the asp.net core [documentation](http://dotnet.github.io/docs/core-concepts/app-types.html), i understood that we need to use netcoreapp1.0 framework. But, i have found several applications building on github are using net451 framework. what is the difference be

[2016-05-09 15:15] Tratcher commented on #744
@moozzyk @halter73 Libuv loading issue

[2016-05-09 15:58] moozzyk commented on #744
I saw it over the weekend. I will look into it. I don't think this is libuv related per se. Rather a weird combination of bitness/OS/dependencies.

[2016-05-09 16:45] davunderscorei commented on #576
@glennc Hi, any updates on the RC2ifying of Azure? If not, is it possible to instil the knowledge of "if you know how"?

[2016-05-09 16:57] LeandroPT commented on #576
Hey,

I have it working perfectly with VSO builds and WebApp@Azure

If you need https, you need to check aspnet/IISIntegration#140

[2016-05-09 17:02] moozzyk commented on #717
@ibrmohammed - I got 404 when I try the link you provided.

[2016-05-09 17:12] moozzyk commented on #717
I was able to repro this. For now publish with `-r win7-x64`

[2016-05-09 17:32] moozzyk commented on #717
The issues is in the `dotnet publish`. I filed this: https://github.com/dotnet/cli/issues/2956. Closing as external.

[2016-05-09 17:32] #717 closed

[2016-05-09 17:36] moozzyk commented on #744
This is an issue in dotnet publish: https://github.com/dotnet/cli/issues/2956

[2016-05-09 17:36] #744 closed

[2016-05-09 20:57] moozzyk opened #746 "The default port 5000 conflicts with commplex-main/UPnP"
As a result when you start an app with default settings it fails on Mac with `(Error -48 EADDRINUSE address already in use)`

[2016-05-09 21:01] khellang commented on #746
Would it be crazy to move to `http://localhost:0` (dynamic port) as a default?

[2016-05-09 21:22] muratg commented on #745
@Challagolla Yes, you should be able to use net451 with asp.net core apps if you want to target full CLR (instead of CoreCLR). However, I suggest using net452 at least (as .NET Framework 4.5.1 is not officially supported by Microsoft anymore).

[2016-05-09 21:22] muratg commented on #731
Let's revisit after RC2.

[2016-05-09 22:17] GuardRex commented on #746
They list 1900, 5350, 5351, and 5353 ... https://support.apple.com/en-us/HT202944

[2016-05-10 09:46] ibrmohammed opened #747 "How to debug a web application which is running on DotNet CLI"
apologies in advance.I do not know where to put up this query of mine. pls let me know.
I have an aplication which uses net451 and i have run dotnet CLI commands to restore it.
On dotnet run I have the application running on localhost:5000

How can we debug this application.the problem that i have here is when i open my code in VS2015,
it asks me to install dnx packages.

[2016-05-10 12:02] aL3891 commented on #747
VS2015 doesn't support the new cli yet, although we'll see preview tooling fairly soon, check out https://blogs.msdn.microsoft.com/dotnet/2016/05/06/net-core-rc2-improvements-schedule-and-roadmap/

[2016-05-10 12:52] Challagolla commented on #747
Does this mean, we do not have any way to debug the applications that are using DotNet CLI ?

[2016-05-10 14:58] GuardRex commented on #747
@Challagolla You can use VS Code to debug apps. Since they've been saying "mid-May" for an RC2 release (with updated VS tooling), I don't think you have long to wait. There is a Community Standup today, and it's likely we'll get a progress report on where they're at: https://live.asp.net/

[2016-05-10 15:38] moozzyk commented on #747
You can start your application and attach the debugger to the process.

[2016-05-11 10:41] Challagolla commented on #745
@muratg thanks for the informaton. please share if there any documentation location where we can find the current supported versions of the .net frameworks.

[2016-05-11 13:03] DreamingDevs commented on #747
@moozzyk Can you share some tutorials or links around debugging RC2 app with DOTNET RUN command process.

[2016-05-11 16:11] moozzyk commented on #747
Here is the tutorial :)
1. Start your app with `dotnet -v run` - `-v` will tell you the process id so that you don't have to guess if you have multiple `dotnet` processes running
2. From Visual Studio - Ctrl + Alt + P (Debug -> Attach to Process), select the `dotnet` process you started and Attach. For simplicity make sure that you have automatic code type
3. Open source code, set breakpoints, per

[2016-05-11 17:32] moozzyk commented on #746
@GuardRex - I think you are right - it's used by commplex-main.

[2016-05-11 17:38] DreamingDevs commented on #747
Thanks @moozzyk, I know VS CTRL + ALT + P, but I was side tracked by VS Code. Now I was able to debug the code.

[2016-05-11 19:23] glennc commented on #576
As of right now you can deploy a standalone RC2 application to Azure with the latest verisons of all the packages. So the "if you know how" right now is to make your app standalone instead of portable. You will be able to deploy portable apps once we ship the next release.

[2016-05-16 11:30] alecor191 opened #749 "WebListener RC2: 503 Service Unavailable when hosted in Azure Service Fabric"
I'm having an issue when using WebListener RC2 together with Azure Service Fabric: I have a very simple ASP.NET Core RC2 app that works fine when hosted using WebListener as standalone app.

However, as soon as I host this app in Azure Service Fabric (repro both on local cluster as well as Azure-hosted cluster), the following happens:
* The app starts up without issues (i.e. `webHost.Run()` doesn'

[2016-05-16 13:25] Tratcher commented on #749
WebListener strictly enforces the host name match. You registered it on localhost. What host name are you using to contact it?

[2016-05-16 14:13] alecor191 commented on #749
I tried both `http://localhost:8082/aspnetcorerc2/` and `http://<mylocalmachinename>:8082/aspnetcorerc2/`. Neither worked.

When running the app using WebListener and `dotnet run` I can connect using `http://localhost:8082/aspnetcorerc2/`.

One difference that I noticed between running the app using `dotnet run` and using ASF is that in the latter case it runs as `Network Service`. Could the issue

[2016-05-16 15:28] alecor191 commented on #749
I just got it working by having WebListener listen on wildcard host name: `http://+:8080/aspnetcorerc2/`.

What I don't understand yet is why WebListener listening on `http://localhost:8080/aspnetcorerc2/` works fine when launching the selfhost app using `dotnet run`, but it doesn't when hosted in ASF.

Thanks @Tratcher for your input, as it led me to the working solution.

[2016-05-16 15:28] #749 closed

[2016-05-16 16:32] Tratcher commented on #749
ASF isn't running on the same machine, it's running in a VM or emulator.

[2016-05-16 16:45] cwe1ss commented on #749
If you run the local DEV cluster of ASF, there's no emulator or VM involved. ASF acts like there are multiple nodes but all processes are just regular processes on your machine.

[2016-05-17 07:19] zenixgrace opened #750 "Question: Is IFormFile SaveAsAsync function not available in AspNetCore Http ?"
Hi Team,

is IFormFile in Microsoft.AspNetCore.Http namespace doesn't have SaveAsAsync function?
it available when use Microsoft.AspNet.Http namespace

[2016-05-17 13:18] Tratcher commented on #750
It was simplified to `CopyToAysnc(Stream)`
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Features/IFormFile.cs#L61

[2016-05-18 01:37] zenixgrace commented on #750
@Tratcher  thanks for the information. I found old source and use the extension

[2016-05-18 01:37] #750 closed

[2016-05-18 09:34] lenzodb opened #751 "Script working with localhost url and not with servername"
I have an application interacting with servers to stop-start service.
I have put a waiting screen to block the windows.
all is working like I want on visual studio and also on the server when  I access the site from the server opening it with the url http://localhost:8020/ I can see my waiting screen but when I try to reach the site with the server name from my computer of from the server itself t

[2016-05-18 15:58] GuardRex commented on #751
@lenzodb There could be several reasons leading to this behavior. Did you run down the Troubleshooting section at https://docs.asp.net/en/latest/publishing/iis.html#common-errors? Also note that devs online at Slack can help you sort through a config issue like this (get into the chat via this link: http://tattoocoder.com/aspnet-slack-sign-up/ ).

[2016-05-18 17:57] muratg commented on #751
@lenzodb Could you share your web.config?  Since it's working on localhost, it feels like this is a problem with your IIS configuration.

@Tratcher any ideas?

[2016-05-18 18:06] moozzyk commented on #751
Can it be that the registered url is http://*localhost*/ and therefore all requests the refer to the machine with a name or ip are rejected?

[2016-05-18 18:22] GuardRex commented on #751
Not if the binding is correct and the `.UseIISIntegration()` is below the `.UseUrls()`, right?

[2016-05-18 19:10] GuardRex commented on #751
I noticed that if you move the host off of `localhost` that adding an entry to the `HOSTS` file at `c:\windows\system32\drivers\etc\hosts` will permit the site to be browsed.
[code]
![binding](https://cloud.githubusercontent.com/assets/1622880/15371665/3c879fae-1d02-11e6-8c21-c97cf2665d7e.png)

![capture](https://cloud.githubusercontent.com/assets/1622880/15371653/2ae35c98-1d02-11e6-8567-f5f6b4b6d

[2016-05-18 19:52] buraktamturk commented on #751
Does Kestrel binds ipv6 localhost (::1)? If it does not, this could happen when localhost resolved as ipv6 (::1) instead of ipv4's 127.0.0.1.

[2016-05-18 19:56] buraktamturk commented on #751
Missed a point in my previous post. Kestrel or whatever the server is (IIS etc.) has to be bind on 0.0.0.0 or any external/internal ip, where connection made to, in order to make it accessible over network.

[2016-05-18 20:55] Tratcher commented on #731
Fowler's latest ask: Remove the extension, the config value, and the server factory that read the server value. Require servers be registered via DI in Main.

[2016-05-19 01:54] evkw opened #752 "Using a config file with Microsoft service"
Hey,

Ive created a service and got it all humming along nicely.I use a config.json to do some configuration stuff in the app and if this file is not in c:/windows/system32 (where the service starts) it throws a IO.FileNotFoundException.

Is there an easy way to tell the service to look for the file in the published output path?

[code]
[code]

[2016-05-19 02:26] davidfowl commented on #752
Change the call to `UseContentRoot` to be more somewhere more appropriate (you might want to try removing that call from `Program.Main`

[2016-05-19 02:42] evkw commented on #752
Removing it still has the same issue. My first thought was to use the ContentRootPath on IHostingEnvironment, but im not sure how to access that from the static main.

I'll keep pressing buttons, something will work eventually

[2016-05-19 02:44] davidfowl commented on #752
You always want to use the ContentRootPath on `IHostingEnvironment`. You need to figure out what to set it to. What did you remove? The call to `UseContentRoot` or the call to `SetBasePath`?

[2016-05-19 02:56] evkw commented on #752
I take it back, you were right about removing the the call in program.main.

dotnet publish either didnt replace the binaries.. or i did it to the wrong file.

In the end my main and startup look like this

[code]
[code]

Thank you for your help :)

[2016-05-19 02:56] #752 closed

[2016-05-19 06:57] lenzodb commented on #751
HI thanks for your advise
I will check the likes shared by luke...
As requested by muratg  I share my web.config
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="NewServicesManagement.Pr

[2016-05-19 07:37] #747 closed

[2016-05-19 07:38] davidfowl commented on #745
@Challagolla are you using visual studio? You can just download the latest bits and create a new project

[2016-05-19 08:43] #740 closed

[2016-05-19 10:52] lenzodb commented on #751
What I have tested also is form the server to reach my page with http://127.0.01:8020/ and the script doesn't work and same issue with the IP of the sever so it works strangely only with the url localhost...

[2016-05-19 11:38] lenzodb commented on #751
I found the solution on the net
it's a problem of compatibility it seems
I have added the following lines and now it's working
 <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

[2016-05-19 14:25] kspearrin opened #753 "RC2 IISExpress: Error -4092 EACCES permission denied"
After moving from RC1 to RC2 I am getting the following error when trying to start up the application via VS on IISExpress:

[code]

Screenshot: http://puu.sh/oXATq/7a0ff5aba4.png

Running the application via the Project "Web" command runs just fine. This is just an issue when running via IISExpress. I have tried changing the port (4009 currently), deleting bin/obj folders, deleting .vs folder, de

[2016-05-19 15:13] myefforts opened #754 "Returning IServiceProvider from WebHostBuilder.ConfigureServices"
Is there any way to return an IServiceProvider instance via ConfigureServices on WebHostBuilder? I'm trying to replicate the functionality that used to be available in RC1 on Microsoft.AspNetCore.TestHost.TestServer.Create() but with the API change in RC2 does not seem to be.

[2016-05-19 15:24] davidfowl commented on #754
Nope, it's not possible without a `Startup` class. There's separation between the hosting services and the application container.

[2016-05-19 15:36] muratg commented on #751
@lenzodb Good to hear! Let us know is you have other issues.

[2016-05-19 15:36] #751 closed

[2016-05-19 16:17] myefforts commented on #754
Thanks for response

[2016-05-19 16:17] #754 closed

[2016-05-19 17:12] Tratcher commented on #753
This is probably a duplicate of https://github.com/aspnet/IISIntegration/issues/176 where the project name `Web` causes issues.

[2016-05-19 17:27] kspearrin commented on #753
That is correct. This project is named "Web". Only workaround is to rename the project at the moment?

[2016-05-19 17:36] davidfowl commented on #753
Rename the project.

[2016-05-19 18:06] kspearrin commented on #753
For others: Confirmed renaming the project solves the issue (directory structure can remain in place). Also had to delete the `.vs` folder and bin/obj to "reset" the config bindings.

[2016-05-19 18:45] muratg commented on #753
Dup of https://github.com/aspnet/IISIntegration/issues/176

[2016-05-19 18:45] #753 closed

[2016-05-19 18:45] muratg commented on #753
https://github.com/aspnet/IISIntegration/issues/176

[2016-05-19 18:55] #683 closed

[2016-05-19 18:58] muratg commented on #672
Closing this one, if you are still hitting this issue, please file another bug.

[2016-05-19 18:58] #672 closed

[2016-05-19 18:58] #623 closed

[2016-05-19 19:01] muratg commented on #576
If you still have issues, please file another bug.

[2016-05-19 19:01] #576 closed

[2016-05-19 19:02] muratg commented on #516
Closing this. https://github.com/dotnet/cli/issues/812 is tracking the root cause.

[2016-05-19 19:02] #516 closed

[2016-05-19 19:05] muratg commented on #449
We moved web.config to the app root, so this shouldn't be a problem any more.

[2016-05-19 19:05] #449 closed

[2016-05-19 19:37] glennc opened #755 "Add a second environment variable for Urls"
Add `ASPNETCORE_URLS` in addition to `server.urls`.

[2016-05-19 23:39] JunTaoLuo commented on #755
Curious why we want to add another environment variable that does the same thing? Is it because environment variables containing dots are hard to set in certain environments? If that's the case, maybe we should consider renaming the environment variable instead simply adding another one?

[2016-05-20 03:19] davidfowl commented on #755
We don't want to break anybody so we're going to add a new one and deprecate the old one. Eventually we can remove it.

[2016-05-20 04:27] davidfowl commented on #737
The defaults are sane. The most relevant configuration setting is environment and we kept it. The others can be configured in your application. You don't need it to be as complicated as the above code snippet, that adds no value. If you care about configuring some of the supported values from a configuration file, then make the configuration from that file and call use configuration.

[2016-05-20 05:24] davidfowl commented on #675
Why not move everything that can be moved?

[2016-05-20 05:45] davidfowl commented on #502
@Eilon last chance 😄

[2016-05-20 14:01] Tratcher commented on #675
Doesn't matter, as long as it doesn't require too much implementation code or any dependencies.

[2016-05-20 15:04] BrennanConroy commented on #683
?

[2016-05-20 18:24] dotnetchris commented on #737
@davidfowl

`c#
.UseDefaultHostingConfiguration(args)
`

vs

`c#
var config = new ConfigurationBuilder()
    .AddJsonFile("hosting.json", optional: true)
    .AddEnvironmentVariables(prefix: "ASPNETCORE_")
    .AddCommandLine(args)
    .Build();

var host = new WebHostBuilder()
    .XYZ()
    .UseConfiguration(config)
    .ZYX()
    .Build()
`

6 lines vs 1 line. How is this an improvement? Is the

[2016-05-20 18:43] Tratcher commented on #737
@dotnetchris most apps we've seen do not need or want all three config sources. They also want to change the name/location of the json file. UseDefaultHostingConfiguration was convenient, but did not offer enough granular control.

[2016-05-20 22:03] pakrym commented on #690
https://github.com/aspnet/MusicStore/commit/87e3544fda2f5cf89897ea6aefdcab683f4aebfd
 https://github.com/aspnet/ServerTests/commit/ed687d08b6f5bdd6e7c5a082c31856fcd26dccec
 https://github.com/aspnet/Localization/commit/0283099928382da520f958269bb714b3480680cb
 https://github.com/aspnet/Entropy/commit/0a0130560e52e1ce0df3601bb0ffe676ca675a2d
 https://github.com/aspnet/ServerTests/commit/ed687d08b6f

[2016-05-20 22:22] #690 closed

[2016-05-20 22:45] JunTaoLuo commented on #502
`"ConfigureServices must be parameterless or take only one IServiceCollection parameter."`?

[2016-05-20 23:01] Eilon commented on #502
Slight modification @JunTaoLuo 's text:

`The ConfigureServices method must either be parameterless or take only one parameter of type IServiceCollection.`

[2016-05-20 23:01] Eilon commented on #502
Unassigning from me. @muratg can find a new owner to implement this complex feature 😄

[2016-05-21 05:13] #675 closed

[2016-05-21 05:13] #731 closed

[2016-05-21 06:47] diryboy commented on #675
I'm confused. Why webroot is not the configuration that comes with StaticFiles? It looks to me that only the StaticFile module is interested in setting the dir where it would find files to serve.

[2016-05-21 06:51] davidfowl commented on #675
StaticFiles and MVC use the webroot folder by default for serving files. It's in hosting because it flows via the `IHostingEnvironment` service.

[2016-05-21 07:06] diryboy commented on #675
Thanks, @davidfowl, when does MVC need webroot folder to serve files? I'm under the impression this should be done by StaticFiles.

[2016-05-21 07:24] davidfowl commented on #675
https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/VirtualFileResult.cs#L148

[2016-05-21 07:27] diryboy commented on #675
Oh I see. It's in the core. Thank you very much!

[2016-05-21 14:48] peterblazejewicz commented on #450
Is this still valid (implicit definition by existing hosting.json) under RC2? I've dropped `hosting.json` into root of the project:
[code]
but it is not picked up by web host builder unless I call:
[code]
1.0.0-preview1-002702 (OS X)
Thanks!

[2016-05-21 15:17] davidfowl commented on #450
hosting.json is no longer read by default. https://github.com/aspnet/Announcements/issues/174

[2016-05-21 16:03] peterblazejewicz commented on #450
Thanks! Missed this

[2016-05-21 16:19] peterblazejewicz opened #761 "Loading `hosting.json` fails silently on OS X"
I've been struggling with problem on what happended to `hosting.json`. I was pointed to changes to default configuration and this discussion:https://github.com/aspnet/Hosting/issues/737. I've rewritten code and still nothing. Maybe I misunderstood something but I'm adding configuration to Program.cs (following aspnet/Templates content):
[code]
Above does not work and configuration from `hosting.js

[2016-05-21 16:22] davidfowl commented on #761
You need to actually use the configuration you setup by calling UseConfiguration

[code]

[2016-05-21 16:27] peterblazejewicz commented on #761
@davidfowl Thank! I've been updating snippet
No, that's not that problem. I've found a tip here:
https://github.com/aspnet/Configuration/issues/421#issuecomment-206569908
I had to explicitly call SetBasePath:
[code]
[code]
Thanks!

[2016-05-21 16:27] #761 closed

[2016-05-21 16:29] peterblazejewicz commented on #737
On OS X - using current RC2-  I have to incorporate `SetBasePath` in order to load `hosting.json`:
https://github.com/aspnet/Hosting/issues/761

[2016-05-22 10:28] hikalkan opened #762 "Double request on first run"
Maybe related to https://github.com/aspnet/Hosting/issues/603, but I did not used HTTPS. Just created a new project from standard template and added a breakpoint to Home/Index. When I press F5 to debug application, Index action is called twice on first run (from different threads). Then I browse other pages including home, it only calls once per page. I suspect there is a bug here.

[2016-05-22 10:41] GuardRex commented on #762
Duplicate of https://github.com/aspnet/Tooling/issues/261 with WIP in https://github.com/aspnet/IISIntegration/issues/102

[2016-05-22 10:44] #762 closed

[2016-05-22 10:45] #755 closed

[2016-05-22 10:58] hikalkan commented on #762
Thank you, I could not find them.

[2016-05-22 19:03] nulltoken opened #763 "Log entry "Request finished in xx ms" displays a 200 status code when an exception happened"
[code]

Patching the sample ValuesController as follows

[code]

and issueing two simple api calls generates the following log entries

[code]

`/api/values/177` logs `Request finished in 529.7303ms 200 text/plain; charset=utf-8`

whereas

`/api/values` logs `Request finished in 18.6067ms **200**`

I believe this last one should rather display a 500.

[2016-05-22 21:00] Tratcher commented on #763
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/Internal/HostingApplication.cs#L75
Why is it using the same message in the exception scenario @JunTaoLuo?

Note when Kestrel catches an unhandled exception it does some forceful cleanup and may not re-use the original data structures. @cesarbs

[2016-05-22 22:02] Eilon opened #764 "Clean up package metadata and pre-Core references"
# NuGet package metadata
The `project.json` file of every shipping NuGet package has two properties that must be non-empty:
1. description
2. tags

## Description guidance

Description should be at least something like this:
  "description": "ASP.NET Core MVC view rendering features. Contains common types used in most MVC applications as well as view rendering features such as view engines, views,

[2016-05-23 09:37] tmds opened #765 "Use single-thread SynchronizationContext"
Is there a way to setup the pipeline so execution is done on a SynchronizationContext?

I want to make a webapp with shared state and avoid multithreading issues by having a single-threaded SynchronizationContext.

[2016-05-23 16:52] dotnetchris commented on #737
@Tratcher if the information you provided was included in the original message a month~ ago this might be more obvious. instead the communication was "take 1 line, make it 6, ENJOY"

Also useful would have been better illustrations of real world usage, in addition to only communicating how to mirror what it previously provided.

[2016-05-23 17:09] paulvanbladel opened #766 "How to get access to the HostingEnvironment and the applicationEnvironment inside the WebHostBuilder?"
The WebHostBuilder has 2 specific extension methods : Configure and ConfigureServices.

These methods are also part of the **Startup class**, but in the context of the Startup class, you can **inject** multiple other services (like applicationEnvironment and HostingEnvironment)
So, basically the setup of a webhost can be done via the WebHostBuilder without the Startup class, but what's the way to

[2016-05-23 18:15] JunTaoLuo commented on #763
@Tratcher We use the same message in the exception scenario since request finished only logs 1) time taken 2) status code and 3) content type which seems reasonable for each request regardless of whether it was successful. In this case, I'm not sure why the status code is resolved as 200 even when the request fails. Maybe the HttpContext is not set correctly? I'll take a look.

[2016-05-23 23:12] #502 closed

[2016-05-23 23:16] davidfowl commented on #766
What specifically are you trying to do?

[2016-05-23 23:17] davidfowl commented on #765
Then you need to write your own webserver. Kestrel doesn't support this.

[2016-05-23 23:25] JesperTreetop commented on #502
Thanks for listening and caring about things like this. I know it would have been very easy to swat it away and say "nah, you just weren't thinking". I think the message you settled on was great and better than my proposal.

[2016-05-24 04:36] davidfowl opened #767 "Discussion: Remove UseServer overloads"
As part of https://github.com/aspnet/Hosting/issues/731 we removed support for passing the server as an assembly name. Servers will provide extension methods that add types directly to the DI container for configuring a specific Server e.g.

[code]

In the above example `UseKestrel()` replaces `UseServer("Microsoft.AspNetCore.Server.Kestrel")`. It's also less error prone.

[2016-05-24 05:56] Eilon commented on #502
@JesperTreetop of course, and thanks for bringing it to our attention!

[2016-05-24 10:58] am11 opened #768 "Is there a nice way to propagate CommandLine configurations from Program.Main to Startup.ctor?"
In `Program.cs`, I have:

[code]

In `Startup` class' ctor, I want to access `configfile`:

[code]

One approach is to build all configurations in `Program.cs`.

The other approach is to add an `internal static ConfigFile { get; private set; }` prop in `Program.cs` and use `Program.ConfigFile` in `Startup.cs`.

Questions:

1. Is there a better (third) way to approach this problem, such as; making

[2016-05-24 12:42] tmds commented on #765
@davidfowl does this need support from the webserver? is it not possible to setup it up in the handler pipeline?

[2016-05-24 16:13] davidfowl commented on #768
The benchkmarks program does something similar https://github.com/aspnet/benchmarks/blob/dev/src/Benchmarks/Program.cs. Also `UseConfiguration` on `WebHostBuilder` doesn't flow to the application.

That's your job. You need to inject them if you want access to them.

[2016-05-24 16:48] am11 commented on #768
Many thanks for pointing me to Benchmark repo @davidfowl! 🎉
I replaced `.UseConfiguration(hostingConfig)` to `.ConfigureServices(services => services.AddSingleton(hostingConfig))` and activator injected `IConfiguration` to the ctor: `public Startup(IHostingEnvironment env, IConfiguration hostingConfig)`.

[2016-05-24 16:48] #768 closed

[2016-05-24 16:50] davidfowl commented on #768
@am11 I would avoid sticking the `IConfiguration` directly in the DI container just because you may end up passing the wrong one to other components. Better to inject something very specific.

[2016-05-24 21:19] JunTaoLuo commented on #763
Looks like an issue with Kestrel disposing the HttpContext https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/FrameOfT.cs#L119 before setting the status code https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/FrameOfT.cs#L133. I'll log an issue in that repo. I'll also check WebListener to see whether we h

[2016-05-24 21:33] JunTaoLuo commented on #763
Seems like the issue is isolated to KestrelHttpServer. Weblistener sets the correct status code:
[code]

Though the exception is not exactly clear and the user exception doesn't appear in the log.

[2016-05-24 21:35] JunTaoLuo commented on #763
Moved to https://github.com/aspnet/KestrelHttpServer/issues/876

[2016-05-24 21:35] #763 closed

[2016-05-25 08:17] davidfowl commented on #765
@tmds Kestrel is not a single threaded webserver so it depends on what you care about. What do you care about? Using a single thread for handling the request? The request itself runs on a random threadpool thread. Are you trying to control what happens when user code awaits? If you only care about the request pipeline then you could setup a sync context as a piece of middleware or as an `IStartupF

[2016-05-25 14:54] Shazwazza commented on #262
Is there an equivalent of what used to be IApplicationEnvironment.GetData("DataDirectory") from RC1 in the RC2 release? Sorry to ask here but have searched around everywhere and can't come up with much

[2016-05-25 15:49] tmds commented on #765
I'd like all requests on the pipeline to be handled by a single thread, similar to what happens in a nodejs app.

Suppose there is some code down the pipeline which deals with shared state, it should be safe to run without any locks:

[code]

If I want to do it as Middleware, would it be something like this?

[code]

[2016-05-26 05:35] davidfowl commented on #765
That's impossible. The WebServer is multi threaded...

[2016-05-26 06:59] tmds commented on #765
I'd like to implement some request handlers with shared state and make those thread safe by executing them on a single thread.

Does this make sense?

So:
* the webserver may accept requests on multiple threads
* and I want to use a piece of middleware which has the effect that 'next' handlers starts running on a single thread and awaits return to the single thread (unless ConfigureAwait(false))

[2016-05-26 07:33] davidfowl commented on #765
Yes, you can wrap the middleware pipeline execution by setting a sync context for the duration of the execution and removing it afterwards. You can also add an `IStartupFilter` if you don't want to make user code register a middleware at the right place.

[2016-05-26 07:45] davidfowl commented on #765
But it just seems like a bad idea. Do you want deadlocks? Cuz that's how you end up dead locking 😄

[2016-05-26 08:16] davidfowl commented on #765
[code]

You're effectively turning the request processing pipeline into a giant queue of callbacks. Is that really want you want?

[2016-05-26 10:36] tmds commented on #765
When I wrote the issue, I know it would be considered blasphemy ;)

It's a real easy way to deal with shared state. It's a tradeoff between performance and dealing with concurrency.

Libraries used in the pipeline should ConfigureAwait(false) when possible so their stuff gets done on other threads.

I don't plan to do this in any production apps.

Thanks for the code!

[2016-05-26 13:01] #765 closed

[2016-05-27 08:05] Yves57 opened #770 "Be able to hide the console startup messages"
When a Kestrel application has to be used "as is" by a customer, it could be fine to be able to not display the console initial messages.
For instance the current Hosting Environment or Content Root Path are not useful information. And moreover the messages are hard-coded in English.

Or course it is possible to write a custom Run() method, but it would be a shame.

I propose to add a new extensio

[2016-05-27 15:18] stephenpope opened #771 "Create a sample using Microsoft.AspNetCore.Hosting.WindowsServices"
I am trying to get an RC2 web sample hosted as windows service up and running using `Microsoft.AspNetCore.Hosting.WindowsServices` ..

[code]

.. the `RunAsService` extension method says it blocks until the service is stopped but currently it seems to be running the Startup over and over again.
(I have a simple log message inside the `Configure` method). Not sure if this is a bug or I am doing som

[2016-05-27 15:20] Tratcher commented on #771
Is it crashing and auto-restarting?

[2016-05-27 15:26] stephenpope commented on #771
@Tratcher: My startup log message just gets printed over and over. I would expect it to print once and then wait for a web method to be called (which should then print another log line).

When i run the .exe from the commandline it starts and then prints a warning (I assume from `System.ServiceProcess`) saying this needs to be installed as a service.

There are no errors logged to the file, just s

[2016-05-27 15:53] stephenpope commented on #771
My Startup file in case it helps ..
[code]

[2016-05-27 20:50] muratg commented on #771
The time-stamp differences from the logs have an interesting pattern.

Roughly: 2 secs, 4 secs, 8 secs, 16 secs, 32 secs...  Curious.

[2016-05-27 21:05] muratg commented on #770
@Yves57 thanks for the recommendation. We're currently focused on RTM, and will have a look at this after we ship.

[2016-05-27 22:27] #764 closed

[2016-05-31 00:04] davidfowl commented on #770
It might be cleaner to allow setting a `StreamWriter` as part of the `WebHostBuilder` configuration as a place where these messages would go by default. That way you can just generically redirect them across the board.

We're using `Console.WriteLine` because logging may not have been configured yet.

[2016-05-31 03:10] Tratcher commented on #770
I don't think this is still true. Most/all of our Console.WriteLine statements are in Run, which is after all the initialization has happened. The only reason to continue using Console.WriteLine is that you may not have enabled a default logger.

[2016-05-31 03:18] davidfowl commented on #770
https://github.com/aspnet/Hosting/search?utf8=%E2%9C%93&q=Console.WriteLine

[2016-05-31 06:34] zigzag95 opened #775 "Windows authentication"
how to use NTLM Windows authentication when running from powershell using dotnet run or watch?
Ps this works when running from VS after checking Windows authentication

[2016-05-31 07:41] davidfowl commented on #775
NTLM authentication only works with WebListener when self hosted or with IIS + Kestrel. You can't run `dotnet run` with IIS to get Windows Authentication, you need to use a different web server to do that. Kestrel does not support windows authentication on its own.

[2016-05-31 08:44] zigzag95 commented on #775
Thank you for the clear answer

[2016-05-31 08:44] #775 closed

[2016-05-31 13:49] paulvanbladel commented on #766
I Want to use the UseUrls extension method  inside WebHostBuilder inside static void main.
As parameter for UseUrls I want to give something I read from the Configuration, So, I need to to do the ConfigurationBuilder stuff in static main rather than startup class.
That makes that the added value of startup class is reduced and I should better do the ConfigureServices and Configure directly in the

[2016-05-31 14:55] Tratcher commented on #766
How about using `IWebHostBuilder.UseConfiguration and GetSetting` to access the config data?

[2016-05-31 14:57] Tratcher commented on #766
Wait, why do you need HostingEnvironment to set up ConfigurationBuilder? You're just trying to set the config base path right? We use Directory.GetCurrentDirectory() to set that in Main.
https://github.com/aspnet/Security/blob/dev/samples/SocialSample/Program.cs#L21.

[2016-06-01 05:51] xatabhk opened #778 "Unable to resolve 'Microsoft.AspNetCore.Hosting (>= 1.0.0-rc3-21157)' for '.NETCoreApp,Version=v1.0'."
Unable to resolve 'Microsoft.AspNetCore.Hosting (>= 1.0.0-rc3-21157)' for '.NETCoreApp,Version=v1.0'.

[2016-06-01 06:02] #778 closed

[2016-06-02 03:58] GuardRex commented on #766
@paulvanbladel I do something similar to what you're doing with my "NUTJOB" startup pattern. My configuration is simply above the `WebHostBuilder` bits.

https://gist.github.com/GuardRex/f40f1b1414e175a6514f#file-nutjob-webhostbuilder-pattern-cs-L37

You'll see there where you could take the configuration first ... then have your `WebHostBuilder` below have a `.UseUrls()` on it to use config value

[2016-06-02 12:58] stephenpope commented on #771
So do you think this a bug or have I mis-configured my startup ? (Just wondering if this is a dead-end for now or I just need to tweak my program!)

[2016-06-02 13:33] tuespetre commented on #651
- `ContentRootPath` is an awful name. Whether it's a 'hosting' environment or not, it's still an **application** that's running, so it should be `ApplicationBasePath`. :moneybag:
- Using `Directory.GetCurrentDirectory()` to set the `ContentRootPath` seems wrong.
    - It makes it impossible to run the application from another working directory.
    - There should be something in addition to or sim

[2016-06-02 19:43] muratg commented on #771
@stephenpope I don't see anything in ASP.NET stack that could be doing exponential back-off.  Perhaps Windows Service Host is doing it, though I'm not sure.  There's nothing that does this in your code?

[2016-06-03 08:34] stephenpope commented on #771
@muratg : Nope .. all my (pretty vanilla) code is above

[2016-06-03 10:29] VaclavElias opened #781 "Question: Memory consumption in RC2"
Hi,

This is a follow up from this https://github.com/aspnet/Hosting/issues/623#event-666241811

I have moved one website from RC1 to RC2 (net46). The website is using EF6, MySql.

I am running parallel both versions RC1 and RC2 so I could see memory consumption on my server.

**The result:**
RC1 - dnx.exe - **77MB**
RC2 - JyotiYoga.exe - **106MB**

Do you have the same results with your website?

[2016-06-03 12:38] Tratcher commented on #781
The raw numbers don't mean much without a memory profile breakdown.

[2016-06-06 08:41] severisv opened #782 "Warning causing OPTIONS request to return as 502"
After upgrading from RC1 to RC2 our OPTIONS-requests (used for CORS) return 502 instead of 204, causing them not to work.

As it turns out, this is caused by a NullReferenceException at AspNetCore.Hosting.Internal.HostingApplication.DisposeContext().

The warning occours at every request, but requests returned by the MVC-pipeline return with the correct status code, while the requests that do not

[2016-06-06 13:08] davidfowl opened #784 "Add ASPNETCORE_DETAILEDERRORS back to default configuration"
We should be reading this value by default.

/cc @Tratcher

[2016-06-06 14:23] Tratcher commented on #784
At what point do we just read all environment variables by default?

[2016-06-06 14:53] davidfowl commented on #784
We *could* read the ones we have settings for. Everything else is kinda pointless.

[2016-06-06 15:41] douglaswaights opened #785 "Server Options not flowing with Autofac"
Hi,

When using WebListener in conjunction with  Autofac DI container in RC2 the claims principle name always come back null.

Removing the IServiceProvider ConfigureServices(...) method and the identity name is available again...

Is this a bug or am I doing something wrong?

I've created a sample showing the issue
https://github.com/douglaswaights/weblistenerDI

Thanks
Doug

[2016-06-06 16:43] Tratcher commented on #784
Seed config with `.AddEnvironmentVariables(prefix: "ASPNETCORE_")` rather than adding them all piecemeal.

[2016-06-06 16:56] Tratcher commented on #785
I wonder if the `UseWebListener` Options object is somehow being dropped when switching to the new DI container, so the server gets started with the default options. If that's true, you should have similar issues configuring Kestrel.

[2016-06-06 19:21] Tratcher commented on #785
I was able to reproduce this with both Kestrel and WebListener. They both use the same WebHostBuilder extension pattern:
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/WebHostBuilderKestrelExtensions.cs

They register a transient `IConfigureOptions<KestrelServerOptions>` and a singleton `services.Configure(options);`. Only the transient registration ap

[2016-06-06 19:36] Tratcher commented on #785
@halter73 No luck making both services into singletons. Can you take a look? The repro is easy:
https://github.com/douglaswaights/weblistenerDI/blob/master/src/weblistener/Startup.cs#L14-L22

[2016-06-06 21:51] Tratcher commented on #782
I've asked @cesarbs to investigate.

[2016-06-06 22:46] cesarbs commented on #782
@severisv Could you share more information on what else is in your request path? I've tried reproing with the template MVC app and an empty app with no success. I'm always getting a 204 response.

[2016-06-07 00:28] davidfowl commented on #784
Yep! Sounds good to me. That was the original bug I filed.

[2016-06-07 00:37] halter73 commented on #785
The root problem seems to be that Options relies on ordering: https://github.com/aspnet/Options/blob/c7bff7184d3a3ab4074859b3fd3d36d83c474357/test/Microsoft.Extensions.Options.Test/OptionsTest.cs#L143

[Autofac doesn't support that](http://stackoverflow.com/a/5231280/719967). I can't find a more authoritative source atm.

Turns out that the following is also broken along with more things that rely

[2016-06-07 01:51] davidfowl commented on #785
@HaoK did we ever test this when we removed the order parameter from options? This is a pretty big break.

/cc @muratg @Eilon

[2016-06-07 02:27] HaoK commented on #785
Ugh, at the time MVC was the only one that was using the ordering overloads, and they were okay with removing that behavior.  But yes options relies on IEnumerable of the IConfigureOptions ordering which if is random means its will be impossible to tell what the expected option values will be...

[2016-06-07 10:19] severisv commented on #782
I have stripped our project down to a minimal setup that reproduces the issue and pushed it here: https://github.com/severisv/aspnetcore-rc2-cors-issue.

Note that the requests to non-existing endpoints also return 502.3 rather than 404.

[2016-06-07 14:47] douglaswaights commented on #785
Is this fixable for RTM do you think? Without ripping out autofac across our app its kinda blocking our upgrade from RC1.

Cheers

[2016-06-07 15:57] muratg commented on #785
@davidfowl @HaoK @halter73 What's a simple change we can do to fix this in RTM?

cc @Eilon

[2016-06-07 16:19] HaoK commented on #785
I'm not sure there is a simple fix. There used to be overloads that specified an int for order for options to be sorted by but those were removed a long time ago.

[2016-06-07 16:26] HaoK commented on #785
Would we be able to workaround this by removing the default IConfigureOption setups for kestrel/weblistener?  Each only appears to be stuffing either a logger factory or the application services into its options.

Can't you take those as service dependencies in the server themselves instead of hanging them off the options?  Then there would only be one configure options and less of an ordering iss

[2016-06-07 17:02] Tratcher commented on #785
@pakrym is trying to refactor the Kestrel scenarios. I'll try to refactor the WebListener ones.

[2016-06-07 17:56] wgrs opened #789 "Error when adding 3rd party OAUTH"
I have set up a standard aspnet core RC2 web project and tried to add Facebook authentication. After adding this as per docs
[code]

project.json :  "Microsoft.AspNetCore.Authentication.Facebook": "1.0.0-rc3-21225"

I get the following error:
[code]
What packgage should I be using?

[2016-06-07 18:09] Tratcher commented on #789
That error doesn't seem to have anything to do with your added code.

UseContentRoot moved from Hosting to Hosting.Abstractions a little while ago. It sounds like your packages are out of sync. Make sure you have the same version of each package. If not, clear your caches and try again.

[2016-06-07 21:42] muratg commented on #782
@cesarbs Did you get a chance to look into this?

[2016-06-07 23:04] gisek opened #791 "Cannot host ASP.NET Core Web Application (.NET Framework)"
Environment:
VS 2015 Community with Update 2
.NET Core RC2 SDK Preview 1
newest nuget

I create a brand new project (tested on .net 4.6 and 4.6.1) named "Test".

For:
Cannot host ASP.NET Core Web Application (.NET Core) - application **starts properly**

For:
Cannot host ASP.NET Core Web Application (.NET Framework) - application **never starts**. It just hangs with the message:

![starting_server

[2016-06-08 08:11] gisek commented on #791
@Tratcher  This is all I see after running `dotnet run`

![image](https://cloud.githubusercontent.com/assets/1664094/15887220/4d63aba0-2d61-11e6-9ee2-9e8e8f0d9beb.png)

[2016-06-08 12:56] tonyqq commented on #789
I had the same problem, figured out I didn't have same versions of packages:
Had
`    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Mvc": "1.0.0-rc2-final",
    "Microsoft.AspNetCore.Diagnostics": "1.0.0-rc3-21130"`

instead of
 `    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0-rc2-fi

[2016-06-08 18:26] #784 closed

[2016-06-08 23:24] Tratcher opened #793 "[Announcment] The IHttpContextAccessor service is not registered by default"
IHttpContextAccessor can be used to access the HttpContext for the current thread. However, maintaining this state has non-trivial performance costs so it has been removed from the default set of services. Developers that depend on it can add it back as needed:
`services.AddSingleton<IHttpContextAccessor, HttpContextAccessor>();`

RE: https://github.com/aspnet/HttpAbstractions/issues/473

[2016-06-08 23:33] cesarbs commented on #782
@severisv The problem is here:

https://github.com/severisv/aspnetcore-rc2-cors-issue/blob/master/src/SB.API/Configuration/Log4Net/Log4NetAdapter.cs#L94

This causes `HostingApplication.DisposeContext` to throw at:

https://github.com/aspnet/Hosting/blob/e62ceb852827d386b492abc9cc6801b1a8c70263/src/Microsoft.AspNetCore.Hosting/Internal/HostingApplication.cs#L83

To mitigate this you should do what

[2016-06-09 04:08] zigzag95 commented on #793
So of we don't inject httpcontext we won't have Access to User in our controllers ?

[2016-06-09 04:45] Tratcher commented on #793
@zigzag95 IHttpContextAccessor is only intended for accessing the HttpContext in locations where it's not directly available. HttpContext and User are directly available in MVC Controllers so you do not need IHttpContextAccessor.

[2016-06-09 04:49] Tratcher commented on #782
`context.Scope?.Dispose();` would suffice.

[2016-06-09 06:46] tugberkugurlu commented on #793
In that sample, you are registering it as a singleton. Shouldn't it be a scoped instance?

[2016-06-09 08:01] mikes-gh commented on #793
`services.AddIdentity` registers this anyway.

https://github.com/aspnet/Identity/blob/79dbed5a924e96a22b23ae6c84731e0ac806c2b5/src/Microsoft.AspNetCore.Identity/IdentityServiceCollectionExtensions.cs#L54

A lot of applications will need identity so this change is moot really and to me is just confusing as if you use identity you get IHttpContextAccessor but if you don't it doesn't.
So if using id

[2016-06-09 08:14] davidfowl commented on #793
Performance hit? Is that speculation or did you measure?

It's fine being a singleton because the backing store is async local.

[2016-06-09 08:20] mrahhal opened #794 "Output to console that the application is shutting down gracefully"
Until recently whenever I wanted to stop my app I felt that `ctrl+c` felt really slow without a reason, I didn't know that it was canceling the shutdown to wait for the main thread to exit gracefully.

So perhaps output a message after [this line of code](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting/WebHostExtensions.cs#L23) to say that "Application is shutting down.

[2016-06-09 08:26] mikes-gh commented on #793
@davidfowl

I am just not sure of the mechanics of registering it again.

AddIdentity is already providing an instance of HttpContextAccessor but I prefer to explicitly register it.
I don't perceive any performance hit (I didn't notice when IHttpContextAccessor instatiation was removed from Hosting Either :-).

I just wanted to make sure there wasn't a problem registering it again.

[2016-06-09 08:29] leak commented on #768
@am11
How did you deal with with EntityFramework, if you are even using it. I'm facing a similar problem but well since the entry point for EF CLI commands is Startup.cs, it does not know how to inject IConfiguation in the Startup ctor.

[2016-06-09 08:42] davidfowl commented on #794
How long did it take?

[2016-06-09 08:44] mrahhal commented on #794
Takes a while sometimes, most of the times not so much. The problem is that people won't know what's going on and will just force it to exit. This might or might not be problematic, I use `IApplicationLifetime` to clean stuff up for example so this got me to think.

[2016-06-09 08:47] davidfowl commented on #794
That makes sense. It really won't help in the general case (since this only helps when looking at the console directly) but I don't see a problem doing this.

[2016-06-09 08:49] mrahhal commented on #794
Yeah, that's my reasoning also. I'll do a PR.

[2016-06-09 08:50] davidfowl commented on #794
We'll likely not take this for 1.0.0 since we're pretty much locking down. Also consider this bug that we do plan to fix https://github.com/aspnet/Hosting/issues/770 (which is about sprinkling Console messages that need to be turned off sometimes).

[2016-06-09 08:52] mrahhal commented on #794
Oh makes sense, then feel free to close this if you want.

[2016-06-09 09:35] mrahhal commented on #794
@davidfowl I did a PR anyway. Feel free to do whatever is appropriate.

[2016-06-09 09:44] am11 commented on #768
@leak, we are not using EntityFramework but a custom storage management for Azure NoSQL storages.

[2016-06-09 09:51] davidfowl commented on #794
Thanks!

[2016-06-09 10:03] davidfowl commented on #781
@VaclavElias Are you comparing the same application?

[2016-06-09 10:04] davidfowl commented on #793
There is no problem registering it again and certainly no measurable performance hit.

[2016-06-09 10:27] mikes-gh commented on #793
@Eilon  re the advice to use

Would it not be better to advise using the TryAdd version

`services.TryAddSingleton<IHttpContextAccessor, HttpContextAccessor>();`

since it may not be clear that the service may already be registered by another service and we don't need 2 instances.

That way if IHttpContextAccessor is already registered by another service eg `AddIdentity'  a duplicate is not create

[2016-06-09 10:38] VaclavElias commented on #781
@davidfowl Yes. It is the same application. I will have more applications to compare as I need to migrate around 20 RC1 to RC2 so will update this post :)

[2016-06-09 10:41] davidfowl commented on #781
If you could provide us with both applications that would be great
/cc @SajayAntony

[2016-06-09 10:46] VaclavElias commented on #781
Sure, how can I send them privately?

[2016-06-09 15:04] brockallen commented on #793
Actually if you re-register it as a Transient on .NET Core then it doesn't work properly since the implementation for .NET Core is using a AsyncLocal which relies upon the instance variable to track the TLS storage slot.

[2016-06-09 16:33] muratg commented on #781
@VaclavElias Is RC1/RC2 the only difference between the apps?  Or per your first post, did you added EF to the mix?

[2016-06-09 16:35] muratg commented on #794
@Tratcher Could you take a look? Seems simple enough to take in 1.0.0 for me.

[2016-06-09 16:38] Tratcher commented on #793
@mikes-gh Sure, TryAdd is slightly better, but shouldn't affect functionality or perf.

[2016-06-09 16:44] VaclavElias commented on #781
@muratg Yes, the only difference is RC1/RC2.

I have updated my original post and moved the EF6, MySq words. That was just to let you know what I am using but placed it incorrently.

[2016-06-09 16:45] muratg commented on #791
@gisek what happens if you run the published exe directly?

[2016-06-09 16:45] muratg commented on #785
@HaoK @davidfowl @divega

What's the latest on this?

[2016-06-09 16:57] Tratcher commented on #794
It looks fine, but it can wait, it's only a cosmetic issue.

[2016-06-09 17:12] Tratcher commented on #785
Decided not to refactor the servers as there are other broken scenarios. We considered refactoring Options, but there are non-Options scenarios broken too. Looks like we'll have to add some DI container requirements.

[2016-06-09 17:15] mikes-gh commented on #793
@Tratcher I may not be understanding the mechanics but if there is no performance impact to registering a second instance why was the default instance removed?

[2016-06-09 17:39] Tratcher commented on #793
Only one registered instance gets used so there is a perf difference between 0 and 1, but not between 1 and 2.

[2016-06-09 17:49] gisek commented on #791
@muratg
For every Test.exe located in the following directories, the console just hangs with no output at all. Not sure how to check if it's listening on any port.

Path\To\Project\src\Test\bin\Debug\net461\Test.exe
Path\To\Project\src\Test\bin\Debug\net461\win7-x64\Test.exe
Path\To\Project\src\Test\bin\Debug\net461\win7-x64\publish\Test.exe

[2016-06-09 18:59] wgrs commented on #789
Some of the packages are not the same version, but this is how they were set on a vanilla MVC project. When you say the versions must be the same, are you referring to ALL the packages listed under dependencies? Changing all the packages to "1.0.0-rc2-final" causes a compiler errors.

[2016-06-09 19:42] SajayAntony commented on #781
@VaclavElias Would you be able to upload it somewhere and send the info to sajaya at microsoft.com.

[2016-06-09 19:45] VaclavElias commented on #781
Will do in next 24 hours!

[2016-06-09 20:36] wgrs commented on #789
Just re-added the package and now rc2-final is coming through for both google and facebook

[2016-06-09 21:03] #789 closed

[2016-06-09 22:01] muratg commented on #791
@gisek What's your OS version? I'm not able to reproduce on my machine.

[2016-06-09 22:25] mikes-gh commented on #793
Ok got it thanks .  I still think the announcement should sugest TryAdd though.

[2016-06-09 22:35] gisek commented on #791
@muratg It's Windows 10 with all the updates

[2016-06-09 22:42] brockallen commented on #793
It doesn't matter -- it must be a singleton, so doing additional DI config with different lifetimes won't work anyway.

[2016-06-09 23:06] cesarbs commented on #782
I've pointed out a solution to @severisv and also changed `HostingApplication` so this doesn't happen again in the future. Closing.

@muratg @Eilon I've added appropriate tags and milestone.

[2016-06-09 23:06] #782 closed

[2016-06-10 04:47] govin opened #797 "Option to customize ASPNETCORE_ENVIRONMENT to something else."
Is there an option to customize ASPNETCORE_ENVIRONMENT to something else? We already have an environment variable on our servers that denotes a particular environment and hence would like to leverage that instead of setting another variable such as ASPNETCORE_ENVIRONMENT

[2016-06-10 06:33] mikes-gh commented on #793
@brockallen
TryAddSingleton is the same lifetime as AddSingleton.  The difference is TryAdd version checks for the existence of the  object in the  service collection and any only adds it  if it's not already there.  See Dependency Injection repo for the code.

[2016-06-10 06:39] severisv commented on #782
Thanks!

[2016-06-10 09:18] tmds commented on #797
Related:
I think this variable is even picked up even without explicitly stating in code you want to include environment variables. This doesn't seem to be consistent with other configuration.

I don't know how to set the environment in case it is not set when the server starts.

[2016-06-10 11:50] Matthew-Bonner commented on #797
Have you seen the **EnvironmentName** property in the **IHostingEnvironment** interface (**Hosting/src/Microsoft.AspNetCore.Hosting.Abstractions/IHostingEnvironment.cs**)?

[2016-06-10 12:21] davidfowl commented on #797
@govin You can call the API `UseEnvironment` on `WebHostBuilder` and set it to whatever you want.

[2016-06-10 16:34] Tratcher commented on #797
FYI: Reading APSNETCORE_ environment variables by default is intentional: https://github.com/aspnet/Hosting/pull/790

[2016-06-10 21:07] esargent commented on #791
I had the same thing happening after the upgrade. (Win10 - all up to date)

Was able to follow this article http://stackoverflow.com/questions/37494297/asp-net-core-starting-the-web-server-is-taking-longer-than-expected to fix the problem, specifically the solution to remove old data protection reference.

But now VS hangs on "Debug is starting."  Even with a completely fresh new aspnetcore websit

[2016-06-10 21:35] esargent opened #798 "log reports DataProtection-Keys using non-existent directory - causes VS to hang"
I ran into this after I ran into the issue https://github.com/aspnet/Hosting/issues/791
The stack exchange article mentions deleting old DataProtection-Keys directories which is what I did - and it got me past the issue in 791.

But then I ran into an issue where Visual Studio hung on the "Debug is Starting" window. So I left VS and went directly to powershell, which let me see this line:

**User

[2016-06-10 21:51] Tratcher commented on #798
This issue was moved to aspnet/DataProtection#161

[2016-06-10 21:51] #798 closed

[2016-06-11 00:09] gisek commented on #791
@eerhardt I'm not sure if it's the same case. When I follow the instructions form the Stackoverflow link, a new Chrome card opens up, but it's http, not https. Also there's no popup.

![image](https://cloud.githubusercontent.com/assets/1664094/15981680/60a1d65a-2f79-11e6-87fc-5b3ce19ab0ee.png)

[2016-06-11 15:09] brockallen commented on #793
This distinction wasn't my point. My point was that the class (either by design or by accident) will only work as a singleton.

[2016-06-13 21:17] gisek commented on #791
A little update. For my colleague, who has the same software configuration it works fine.

[2016-06-14 18:26] timadamson commented on #571
Is there some way to remove the "X-Powered-By" header in Kestrel?

[2016-06-14 18:28] Tratcher commented on #571
@timadamson No, it's added by IIS, you have to remove it via web.config as shown above https://github.com/aspnet/Hosting/issues/571#issuecomment-172480573

You may try just replacing it though.

[2016-06-14 18:28] martincostello commented on #571
@timadamson I've done this by removing it before the HTTP response headers in a piece of [custom middleware](https://github.com/martincostello/api/blob/master/src/API/Middleware/CustomHttpHeadersMiddleware.cs#L80). It works for Kestrel and IIS locally, but I haven't gotten it to work in IIS in Azure.

[2016-06-14 21:44] Tratcher commented on #771
@victorhurdugaci keep an eye out for this when you do your sign-offs.

[2016-06-16 19:33] epignosisx opened #800 "[Question] How to run application during development in IIS?"
I'm trying to run an ASP.NET Core app using IIS during development instead of IIS Express, but so far I've had no luck. I have found online how to set up IIS but that requires a publishing step which is far from ideal during active development.

[2016-06-16 20:32] Tratcher commented on #800
IIS is not currently supported for development. Some folks have hacked it together, but I can't recommend it for most users.

[2016-06-16 21:11] epignosisx commented on #800
Thanks for the reply @Tratcher. Is this planned for VS Tooling RTM? To give you some context: Our website is composed of multiple apps. We have a main IIS Site and multiple Web Apps under it. I'm working on a new web app written in ASP.NET Core and I need to have this app hosted in IIS to have the same hostname. I would think this is a common enough scenario to have first class support.

As for th

[2016-06-16 21:17] Tratcher commented on #800
This is covered over here: https://github.com/aspnet/Tooling/issues/410#issuecomment-198172052

[2016-06-16 21:17] #800 closed

[2016-06-17 09:49] hultqvist opened #801 "Missing dependencies when publishing net46 to Azure"
**Steps to reproduce**

Create a new dotnet core WebApplication project in Visual Studio 2015.

Modify project.json to only target `net46`:
[code]

**Result**

Locally the project worked both in IIS Express and stand-alone.

Then I published it to a web app in Azure, the result was

When logging was activated two exceptions was found.

First one about missing assembly `System.IO.FileSystem.Watcher

[2016-06-17 14:38] GuardRex commented on #800
@tuespetre Given that tooling might not get to it for a while, is this still something that you'll be working on for RTM? https://github.com/tuespetre/dnx-watch-iis

[2016-06-17 16:42] Tratcher commented on #801
@anurse can you take a look?

[2016-06-17 18:01] anurse commented on #801
@Tratcher I'll try and take a quick look but I'm a bit tight on available bandwidth right now :).

@hultqvist Would you be able to grab your full `project.lock.json` file from *before* applying the workaround and post it (to a Gist or something)? Basically if you just revert your workaround, restore, verify it's still broken and then send the lock file that would help immensely :)

[2016-06-17 18:04] #794 closed

[2016-06-18 13:04] hultqvist commented on #801
@anurse Here you go
https://github.com/hultqvist/aspnet-issue-801/commits/master

[2016-06-19 23:31] charles-smith commented on #801
I can confirm the same issue here.

[2016-06-20 00:14] davidfowl commented on #801
What exactly did you pick? There's 2 options .NET Core and .NET Framework.

[2016-06-20 00:16] charles-smith commented on #801
I did .NET Core, but ended up targeting net46 since I decided to use SendGrid.

[2016-06-20 00:16] davidfowl commented on #801
Can you try the repro steps choosing .NET Framework instead of .NET Core? The template is slightly different.

[2016-06-20 00:23] charles-smith commented on #801
It looks like it doesn't have a project.json file, so it'd really defeat the purpose.

[2016-06-20 19:00] anurse commented on #801
@charles-smith The template for an "ASP.NET Core app on .NET Framework" should have a `project.json`. Note that it is different from the standard "ASP.NET Web Application" template (which is ASP.NET 4.6)

[2016-06-20 20:05] mnltejaswini commented on #781
@VaclavElias  Was 173-300MB  the memory of 15 JyotiYoga MVC 5 sites ?

[2016-06-21 00:32] charles-smith commented on #801
@anurse David's question said to not use .NET Core, did I miss something?

[2016-06-21 01:30] ericwj commented on #793
Conceptually the DI provider is a typed dictionary with the service type as the key. So any service can be registered in a for loop a thousand times, it won't have much effect apart from startup performance - which is negligible unless you actually do use a for loop.

I believe the scoping of any service is fixed once it is registered for the first time, I believe that's true for the implementatio

[2016-06-21 07:43] mikes-gh commented on #793
Or maybe all service registering should be using  TryAdd logic.
Drop TryAdd and move the uniqueness check to Add method.
That would make sure the service collection correctly matches what will be instantiated.  That way the useless entries never make it into the collection..

[2016-06-21 14:59] Tratcher commented on #801
@charles-smith just confusing naming. There's a template for Asp.Net Core on .NET Framework.

[2016-06-21 17:08] hultqvist commented on #801
I've tried the other project forms today and out of the box all net461 works.

Actually I can now remove the dependencies I added previously and it still works.

    "System.IO.FileSystem": "4.0.1-rc2-24027",
    "System.IO.FileSystem.Watcher": "4.0.0-rc2-24027"

However now the core version does not work anymore.

[code]

I have no idea what to add for `System`

Might this be an Azure issue since

[2016-06-21 17:29] anurse commented on #801
@charles-smith Yeah, apologies for the confusion. ASP.NET Core works on both .NET Core and .NET Framework. David wanted you to try ASP.NET Core on .NET Framework (see [this diagram](http://www.hanselman.com/blog/content/binary/Windows-Live-Writer/ASP.NET-5-is-dead---Introducing-ASP.NE.0_E068/image_60140ec0-ce46-4dbf-a14f-4210eab7f42c.png) for some clarification)

[2016-06-21 23:23] sandorfr commented on #793
This announcement creates a very awkward feeling. The way it's stated gives the impression that we should not use it. But, identity is using it, so a vast majority of apps developed with aspnetcore will depend on it, so I guess (hope) that the cost of this is not that bad or they may be something extremely wrong with identity implementation.

[2016-06-22 01:29] charles-smith commented on #801
No problem. I finally got a chance to check it, and it worked without a hitch.

[2016-06-22 08:33] mikes-gh commented on #793
@Tratcher The above is the justification for removal of IHttpContextAccessor by default.
Yet as @sandorfr  points out it will be in a LOT of web apps due to identity requiring it.

Should we be concerned about performance in all apps that use  identity?
This post does sound like it is discouraging use of IHttpContextAccessor but I'm not sure what to use as an alternative.

[2016-06-22 15:59] Tratcher commented on #793
@mikes-gh one of the major tenants of Asp.Net Core is pay-for-play, e.g. you only pay the costs of the components you use. Yes, many apps will use Identity and those apps will have higher costs than apps that don't (and not only because of IHttpContextAccessor). The added cost is not prohibitive, just it's unnecessary for other kinds of applications.

[2016-06-22 18:11] sandorfr commented on #793
Thanks for clarifying that :).

[2016-06-23 00:53] moozzyk commented on #801
@anurse - I just hit something similar after I published a project targeting net46 created from template to Antares:

I see two errors:
[code]
and
[code]

The project.json looks like this:

[code]

How do I troubleshoot this?

[2016-06-23 16:29] moozzyk commented on #801
@davidebbo - is it possible to turn on Fusion log on Antares? How do I trouble shoot issues like above?

[2016-06-23 16:38] davidebbo commented on #801
Before trying fusion logs, can you check whether the relevant DLLs were in fact properly deployed? If not, then it's more of a deployment than runtime issue.

Getting fusion log would probably require getting onto the VM.

[2016-06-23 17:05] moozzyk commented on #801
@davidebbo - the application seems to be deployed properly. I tried a few apps and all that target net451/net452/net46 failed this way. Apps targeting netcoreapp1.0 (standalone because 1.0.0 shared runtime is not installed) work just fine.

[2016-06-23 17:07] davidebbo commented on #801
Not sure. I guess we only tested .net core. Maybe let's wait till RTM is out and take it from there is it still repros?

[2016-06-23 17:08] moozzyk commented on #801
why does this matter if I target desktop clr?

[2016-06-23 17:12] davidebbo commented on #801
Ah you're right. I've never tried ASP.NET Core with Desktop CLR, so I know very little about it.

Scenario wise, are there reasons to use it instead of .NET Core? I seem to recall @davidfowl telling me to mostly just focus Azure Web App support on .NET Core.

Do you have a ready-to-push repo that demonstrates the issue with Desktop CLR?

[2016-06-23 17:27] moozzyk commented on #801
I can imagine that you may want to target net46 if the application is using APIs not available in .NET Core. As for the application - I just installed the latest (yetserday's) version of the tooling created a web app from the template and deployed it to an existing website I had.

[2016-06-23 17:32] moozzyk commented on #801
I think I figured this out and made it work. I manually deleted all the files I had in wwwroot and redeployed the app and it started successfully. So maybe it feels I had leftovers from previous app(s) that were picked up incorrectly.

This might be an issue with webdeploy because I had the option to remove the files at destination checked:

![image](https://cloud.githubusercontent.com/assets/1438

[2016-06-23 17:33] davidebbo commented on #801
Please [share a repo](https://github.com/projectkudu/kudu/wiki/Using-a-git-repo-to-report-an-issue) to remove any potential difference in what we try. Make sure that it repros the issue after git pushing it to a fresh site.

[2016-06-23 17:34] Tratcher opened #802 "How to enumerate the listening addresses outside the process"
Summarizing an offline discussion:
VS Code is launching a web application process and then wants to send requests to it. However, the developer can configure their listen addresses many different ways. Eventually all of these addresses end up in the IServerAddressesFeature. From outside the process how can VS Code get access to this information?

Note VS has the same problem and they haven't tried

[2016-06-23 17:34] davidebbo commented on #801
Just saw your comment about removing additional files. Does the issue only occur when switching from Core to Desktop? i.e. if you start with clean site and target Core, I assume all is well?

[2016-06-23 17:40] moozzyk commented on #801
I will try it again to see if I can repro this. Targeting .NET Core worked just fine.

[2016-06-23 18:07] davidebbo commented on #801
Sorry, I meant "if you start with clean site and target **Desktop**, I assume all is well?"

[2016-06-23 18:14] moozzyk commented on #801
Yes, this seems to work too. @vijayrkn tried it as well and it worked for him so I kind of expected my issue to be environmental.

[2016-06-23 18:18] davidebbo commented on #801
Ok, so it seems there is no real issue here. Just left over files causing trouble when switching stack.

[2016-06-23 18:23] moozzyk commented on #801
Yes. Looks like it. At most, webdeploy did not clean the site properly and I am going to verify this.

[2016-06-23 19:08] robalexclark opened #803 "Allow us to set credentials against the HttpClient created by TestServer.CreateClient()"
In order to do integration testing against a solution with Windows Authentication enabled I need to be able to specify that the CredentialCache.DefaultNetworkCredentials are used when an HttpClient is created.  Normally I can create an HttpClient to work with Windows Authentication as follows:

[code]

There is no option available to set the credentials on the HttpClient created by TestServer (and

[2016-06-23 19:34] Tratcher commented on #803
This doesn't make much sense as there's nothing on the server side to process the credentials. TestServer is not designed for deep integration testing, but for limited middleware testing.  We have a different infrastructure for integration tests. See how we test Windows Auth scenarios over here: https://github.com/aspnet/ServerTests/blob/dev/test/ServerComparison.FunctionalTests/NtlmAuthentication

[2016-06-25 20:14] xatabhk opened #804 "Routing bug - Default actions are mapped to another controller"
Step to reproduce:
Add the following action to any MVC controller (e.g. TodoItemsController) as follows:
[code]
Here is the generated mapping:
[code]
Actual result:
The default action of any controller gets mapped to “/TodoItems/Get”, and client receives "xyz".
For an examples:
	"/Home"	 =>    "/TodoItems/Get"
![default_map_bug_wrongcontroller](https://cloud.githubusercontent.com/assets/6814395/16

[2016-06-26 01:34] dougbu commented on #804
If client receives a `404`, what leads you to conclude `/` is mapped to `/TodoItems/Get`? Suggest you provide a repro project and more information about the debugging you've done so far.

[2016-06-26 03:02] xatabhk commented on #804
From the log output. When error code is not 404, the client receives content from wrong controller (Get).
Just add the following action to any MVC controller to reproduce the bug:
[code]
![default_map_bug_wrongcontroller](https://cloud.githubusercontent.com/assets/6814395/16360302/6a2a92d2-3b8d-11e6-8dbf-9c60f69b4d11.png)

Remove the above action, all back to normal.

[2016-06-26 03:45] dougbu commented on #804
Sorry, I missed the template in `[HttpGet("{id}")]`. That's an attribute route which will match every HTTP GET of the form `http://localhost:5001/xyz`. Suggest using attribute routes in your `HomeController` as well and adjusting their `Order` as you wish. Or change that template to something specific e.g. `"/api/{id}"`.

[2016-06-26 04:10] xatabhk commented on #804
@dougbu Yes, the cause is  [HttpGet("{id}")]. But the issue is that request gets routed to wrong controller (TodoItemsController). No attribute routes in HomeController. Even if HomeController or another controller uses attribute routes, default action should not be mapped to another controller (TodoItemsController).

[2016-06-26 05:28] dougbu commented on #804
It seems you would like the template `"{id}"` to be relative to `/TodoItems` instead of `/`. If that's correct, add `[Route("/TodoItems")]` on the `TodoItemsController` class.

Put another way, your conventional and attribute route templates currently overlap. You need to make some changes to separate them.

[2016-06-26 06:02] xatabhk commented on #804
@dougbu You are right. Close it.

[2016-06-26 06:02] #804 closed

[2016-06-27 02:59] davidfowl commented on #801
Can we close this bug?

[2016-06-27 03:44] davidebbo commented on #801
Yep.

[2016-06-27 03:49] #801 closed

[2016-06-28 16:57] muratg commented on #791
@gisek Were you ever able to get to the bottom of this?

[2016-06-29 15:16] csmith93 opened #805 "Can't publish site with RC2"
I had the site working previously, but started getting:

    Unhandled Exception: System.TypeLoadException: Method 'get_Services' in type 'Microsoft.AspNetCore.Hosting.Internal.WebHost' from assembly 'Microsoft.AspNetCore.Hosting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation.
        at Microsoft.AspNetCore.Hosting.WebHostBuilder.Build()

[2016-06-29 15:19] csmith93 commented on #805
[Nevermind](https://docs.asp.net/en/1.0.0-rc2/publishing/iis.html#missing-net-framework-version).

[2016-06-29 15:54] muratg commented on #805
Your project.json?

Also, I'd recommend moving to RTM bits, they were released just a couple days ago.

[2016-06-29 16:05] csmith93 commented on #805
@muratg

Plan to move to RTM next, but just pushing out some recent changes to my project

project.json:

  {
    "dependencies": {
      "Domain": "1.0.0-*",
      "Common": "1.0.0-*",
      "MailKit": "1.3.0-rc1-1",
      "Microsoft.AspNetCore.Diagnostics": "1.0.0-rc2-final",
      "Microsoft.AspNetCore.Mvc": "1.0.0-rc2-final",
      "Microsoft.AspNetCore.Razor.Tools": {
        "version": "1.0.

[2016-06-29 16:51] muratg commented on #805
How about project.json's for `Common` and `Domain` projects?  I suspect something is bringing in incompatible packages transitively.

[2016-06-29 17:00] csmith93 commented on #805
Common and Domain are identical and look like:

    {
      "version": "1.0.0-*",
      "dependencies": {
        "NETStandard.Library": "1.5.0-rc2-24027"
      },
      "frameworks": {
        "netstandard1.5": {
          "imports": "dnxcore50"
        }
      }
    }

[2016-06-29 19:11] cesarbs commented on #805
@csmith93 What CLI version are you using?

[2016-06-29 19:36] csmith93 commented on #805
1.0.0-preview1-002702

[2016-06-29 20:59] cesarbs commented on #805
Have you tried clearing your NuGet caches and rebuilding?

[2016-06-29 21:20] muratg commented on #791
@gisek (Also, could you try to upgrade to RTM bits?)

[2016-06-29 21:21] muratg commented on #785
@halter73 Could you file a tracking bug on the DI repo (if it doesn't already exist) and close this one?

Thanks.

[2016-06-29 23:47] halter73 commented on #785
@muratg There's https://github.com/aspnet/DependencyInjection/issues/379 which involves updating DI requirements. The requirement we need to fix this issue was added by https://github.com/aspnet/DependencyInjection/pull/416.

I think the remaining work could be tracked by the current issue, but maybe we should create another GitHub issue to work with Autofac specifically to help them meet our spec

[2016-06-29 23:56] tpanthier commented on #791
We have 5 developers here and 2 machines were having this issue. According to "Extensions and Updates" all updates had been applied however that was not true for the machines with issues.

Assuming you're running an x64 system, just install all these updates and everything should just work.

1. Make sure you’re using the latest update for VS2015 (Update 3)
http://go.microsoft.com/fwlink/?LinkId=69

[2016-06-30 10:46] martincostello commented on #571
I had this working in RC2, but the behaviour seems to have regressed in RTM.

[2016-06-30 13:44] csmith93 commented on #805
No luck. Going to try and just switch to RTM.

[2016-06-30 14:44] radams0x opened #806 "Windows Auth no longer working when using UseWebListener( options -> ....."
Was getting the right WindowsIdentity on the HttpContext in beta6, now not working in 1.0.0:

in project.json:

[code]

in Startup.cs:
[code]
in middleware class:
[code]

[2016-06-30 15:23] tillig commented on #785
I would _love_ to see the specs loosened. It was pretty easy to implement `DependencyResolver` in MVC, `CommonServiceLocator`, and other simpler conforming container interfaces, but none of those had specs requiring _internal_ behavior work a specific way. It is proving to be _astoundingly_ non-trivial to meet the ordering requirement in Autofac.

[2016-06-30 15:27] alexmg commented on #785
Posted a comment on the DI repo about the issues we are having conforming to the ordering requirement.

aspnet/DependencyInjection#416 (comment)

[2016-06-30 16:43] muratg commented on #806
@radams0x Are you by any chance using Autofac?

[2016-06-30 17:11] radams0x commented on #806
Yes!
"Autofac": "4.0.0-rc2*",
"Autofac.Extensions.DependencyInjection": "4.0.0-rc2*"

[2016-06-30 17:15] Tratcher commented on #806
Yeah, we're having issues with autofac: https://github.com/aspnet/Hosting/issues/785. Closing this as a duplicate.

[2016-06-30 17:15] #806 closed

[2016-06-30 17:47] radams0x commented on #785
Would it be possible to bring back some additional or alternative way to access the WebListener configuration besides this options parameter?

Regarding issue [#806 ](https://github.com/aspnet/Hosting/issues/806), that was actually the product of two recent changes. One is the issue described here regarding the options order not working with AutoFac. However, the only reason I needed to use the op

[2016-06-30 22:47] Tratcher commented on #785
We don't plan to add that back, it was a pretty awkward design to start with. We're working with the autofac folks to get things fixed.

[2016-07-01 07:41] uflex99 commented on #717
This error also occurs when attempting a database connection from the startup (eg for seeding) and it fails on the deployment server due to insufficent previleges at the database server.

[2016-07-01 15:57] sunsided opened #807 "Suppress logging for specific requests (e.g. health checks)"
We're using ASP.NET Core with Kestrel dockerized in Google Container Engine. The load balancer performs regular health checks (to a customizable route) which, depending on the configuration, can make the logs somewhat to extremely unreadable. That is, we end up with up to hundreds of log lines per second using the standard console logger (possible machines x replication factor x each line a log en

[2016-07-05 12:08] alexmg commented on #785
This has been resolved in https://github.com/autofac/Autofac/issues/755.

I would still recommend loosening the specifications to help others out. It's not a trivial issue.

[2016-07-05 14:08] tessierp opened #808 "DotNetCore.1.0.0-WindowsHosting installation problem"
Hi, I tried to install DotNetCore 1.0.0 Windowshosting on 2 machines so far, and both of them failed. One is Windows Server 2008 R2 and the other Windows Server 2012 R2. I get a 0x80070005 access denied error.

I checked the logs and where it fails it is trying to apply DotNetRedist_x64 :

***************************

[37A8:1E20][2016-07-05T10:03:25]i301: Applying execute package: DotNetRedist_x64

[2016-07-05 22:13] muratg commented on #808
@joeloff Any ideas here?

[2016-07-05 22:16] muratg commented on #785
@alexmg do you have a build somewhere public that folks can test with?

[2016-07-05 22:18] muratg commented on #807
This issue was moved to aspnet/Logging#459

[2016-07-05 22:18] #807 closed

[2016-07-05 22:20] joeloff commented on #808
Do you have permission to run as admin? The installs require elevation and for the .NET redist it may require to download and install the C++ redists as well.

@tessierp Can you attach the full set of logs? They'll be in %temp% and we'd need to see the ones from the .NET redist itself. There's a few layers of nesting here. There will also be logs for the individual MSIs the bundles run. %temp%\dd_

[2016-07-05 22:21] tillig commented on #785
https://www.myget.org/feed/autofac/package/nuget/Autofac

[2016-07-05 22:59] muratg commented on #785
@douglaswaights Could you give it a try?  Thanks!

[2016-07-06 10:31] leak opened #809 "Loading all assemblies on startup, not on first request? (Warmup)"
Is there a clean way to handle all the assembly loading that is usually done at the first request right at the start of the application?

I know there is an extension for IIS (http://blogs.iis.net/thomad/now-available-the-iis-7-5-application-warm-up-module) which does exactly that.

How would one do that with Kestrel? Is there something better than http-getting the own website?