[2014-03-12 16:15] Tratcher opened #4 "Program.Main added to Microsoft.AspNet.Hosting to enable use as command-line entrypoint"
Command line parameters and env variables
  --port {port}
  %PORT%
  --uri {uri}
  --server {assemblyname}
  %K_SERVER% {assemblyname}
  [application] first not-a-switch argument, "type,assemblyname" in type-based loader scenario

[2014-03-12 16:16] Tratcher opened #5 "Startup method can be driven by running environment."
well-known terms include "Development", "Production", "Staging".
  working assumption - environment value - e.g. SET web:Environment=Staging
  determines which method name is found inside the startup class first, Configuration being the fallback.

[2014-03-12 16:18] Tratcher opened #6 "Startup auto-discovery"
Startup.cs strategy change
  any distinct class named Startup from the assembly may be used
  application assembly name is known in new model, so hunting in all assemblies must not happen

[2014-03-17 15:55] davidfowl opened #8 "Add more default services"
In particular:
- ILoggerFactory
- DPApiDataProtectionProvider

[2014-03-19 19:21] loudej opened #13 "UseServices extension method namespace is inconvenient"
Should be in the same namespace as IBuilder for discoverability

[2014-03-22 02:19] rynowak opened #14 "Should hosting expose the code used to set root HttpContext?"
In WebFX we need to create a scoped service container if the RequestContainer middleware is not in use. To really do this with full fidelity we'd have to duplicate the code that sets HttpContext into the execution context. Should we expose an api for this that's used both in RequestContainer and WebFX?

[2014-03-27 16:39] Praburaj opened #15 "Need an application shutdown token to indicate application shutdown"
Right now when a K app has SignalR in it - one has to do a hard termination of the IISExpress process as normal close waits indefinetely. Needs application shutdown token to indicate process stop.

This is a common requirement for both Helios & selfhost.

[2014-03-27 16:44] #4 closed, assigned to nobody

[2014-03-27 16:44] #6 closed, assigned to nobody

[2014-03-27 18:59] Praburaj opened #16 "Need APIs to enable custom hosting a K application"
We need APIs (equivalent to WebApp.Start<T>()) to host the K application in a custom host (own console application).

Currently I do something like this (This is a copy of code from Microsoft.AspNet.OwinStartup assembly) : https://github.com/aspnet/BugTracker/blob/dev/src/BugTracker/Program.cs

[2014-04-15 21:30] Praburaj opened #20 "Host needs to provide ILoggerFactory in the IoC"
Here is a related bug. Moving this bug to Hosting repo per discussion with @Tratcher

https://github.com/aspnet/Security/issues/4

[2014-04-16 04:14] davidfowl opened #21 "Add UseContainer extension method that takes Action<ServiceCollection>"
Usage is as follows:

[code]

[2014-04-16 15:59] Tratcher opened #22 "UseMiddleware DI activator can't find Invoke method if declared in base class"
Microsoft.AspNet.RequestContainer.ContainerExtensions.UseMiddleware can be used to activate middleware types and inject dependencies. After activation It searches for the Invoke method by calling GetTypeInfo().GetDeclaredMethod("Invoke").  However, for the auth middleware (Cookies) Invoke is defined in the base class so this approach does not find it.

There are actually two alternatives available

[2014-04-16 21:30] #14 closed, assigned to nobody

[2014-04-17 03:25] loudej opened #23 "Application shutdown sequences"
Relates to #18 and Helios

[code]

inside Microsoft.AspNet.Hosting's Program.Main
the primary thread should block on a wait handle
the wait handle should be signalled by ShutdownRequested triggering
in a second thread there should be a call to Console.ReadLine()
and when Console.ReadLine() returns it should call RequestShutdown()

when the IDisposable returned by IHostingEngine.Start is Dispose()e

[2014-04-18 03:36] davidfowl opened #25 "Rename UseContainer to UseServices"
[code]

[2014-04-18 05:49] #25 closed, assigned to davidfowl

[2014-04-18 05:49] #21 closed, assigned to davidfowl

[2014-04-18 17:16] GrabYourPitchforks opened #27 "Startup sequence should throw if the Startup method isn't void-returning"
We saw a scenario where somebody inadvertently wrote a Task-returning Startup method, and the runtime misbehaved since the method hadn't run to completion before the application was booted.

We should check the signature of the Startup method to make sure it's void-returning before we invoke it.

[2014-04-22 15:41] GrabYourPitchforks opened #28 "Need a way of excluding directories from compilation"
We need some way of marking directories as "thou shalt not compile any .cs files you might find in here."  This is to support scenarios where developers put their file upload directory under their app root.

This should be specified within the subdirectory itself rather than in some top-level .json file to avoid issues where the directory is renamed but the .json file is not updated.  (We saw issu

[2014-04-22 23:26] glennc opened #29 "Async startup"
We should allow middleware that does async stuff.

[2014-04-24 20:01] #27 closed, assigned to GrabYourPitchforks

[2014-04-25 23:11] bricelam opened #30 "Ensure static ServiceProvider remains current"
@loudej wanted to ensure that the static accessor `CallContextServiceLocator.Locator.ServiceProvider` added in aspnet/KRuntime@3a19be54c9be8d8ba3f0fa3ba5976c6cd1ae5971 remained up-to-date with the application's latest IServiceProvider.

[2014-05-09 00:29] davidfowl opened #40 "Dependency inject the Configuration method"
[code]

[2014-05-09 00:30] davidfowl opened #41 "Rename Configuration method to Configure"

[2014-05-12 22:16] kirthik opened #42 "Music Store/bug tracker does not work on IIS with coreclr"
When I deploy app to IIS and browse to the app, I see following error
![image](https://cloud.githubusercontent.com/assets/1267650/2951115/feadb278-da22-11e3-9b1d-f07ba4af8b5c.png)

[2014-05-15 19:22] #42 closed, assigned to nobody

[2014-05-19 22:22] #41 closed, assigned to loudej

[2014-05-19 22:22] #22 closed, assigned to Tratcher

[2014-05-19 22:23] #13 closed, assigned to GrabYourPitchforks

[2014-05-19 22:24] #8 closed, assigned to GrabYourPitchforks

[2014-05-19 22:24] #40 closed, assigned to loudej

[2014-05-19 22:29] #20 closed, assigned to Tratcher

[2014-05-19 22:34] #28 closed, assigned to nobody

[2014-05-20 22:51] glennc opened #45 "Add a file watcher to re-start host when files change"
So that we can edit a controller and refresh the browser to see changes.

[2014-05-25 09:59] lucamorelli opened #46 "about permissions"
Hi,
 this is a quite generic question, because I don't have any running sample. Sometimes I have intranet applications that need additional permissions: the most common problem is to print in an installed printer in the server based on user input.
 How can handle this? If I'm using self hosting I have to run the task using another user?

[2014-05-28 18:06] shhsu opened #47 "DI: Assigning proper scopes"
Currently, most Services are configured to have transient scope. We need to redesign and assign proper scoping for better performance.

Services are defined in Microsoft.AspNet.Hosting.HostingServices

[2014-05-29 19:06] yishaigalatzer opened #49 "Bufferring middleware"
When writing responses to a stream, a user or the MVC framework has to deal with buffering concerns. We should have a common middleware do deal with that.

The MVC template or UseMVC extension method can plug it in by default

[2014-06-03 19:41] #15 closed, assigned to Tratcher

[2014-06-11 01:49] yishaigalatzer opened #52 "Expose IFileWatcherService to apps (and MVC)"
MVC needs to have a filewatcher to detect changes in Razor files and recompile them.

Implementing a filewatcher is not trivial and talking with @GrabYourPitchforks we think it makes sense to have a common one that MVC can just register with or listen to.

[2014-06-19 18:44] Praburaj opened #56 "ApplicationShutdown token may not fire for some shutdown scenarios"
This is theoretical scenario (you know what it means - I don't have a repro)

For example:

[code]

Today we trigger the application shutdown token only if the application start is fully successful. Consider the above scenario where one of the middleware constructors failed to secure a resource.

When the application pipeline is built - during the first pass both MW1 and MW2 are being added to a l

[2014-06-20 00:51] bricelam opened #57 "Circular reference with WebListener"
The sample references WebListener. WebListener references Hosting.

[2014-06-24 17:05] #5 closed, assigned to nobody

[2014-07-01 01:39] ahmetalpbalkan opened #59 "Have consistent way to terminate server across platforms"
I was trying to run ASP.NET web servers inside Docker containers using “k web” command, I realized that Microsoft.AspNet.Hosting waits for console input to terminate web server. (see this line https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Program.cs#L90 )

This is preventing the process inside Docker container to terminate when no stdin is attached. (workaround: if I run

[2014-07-03 21:17] #57 closed, assigned to Tratcher

[2014-07-03 22:31] kulmugdha opened #60 "No way to declaratively add middleware"
I am working on porting Elmah to the k world. Elmah is Error logging module. It relies heavily on HTTP modules and Handlers. They can be replaced by Middleware in K world. But another feature it supports it pluggability. You can just drop the binary to your bin folder and add the lines for Modules and Handlers in the web.config. It starts working for unhandled exceptions. There is no way in the wo

[2014-07-10 19:28] chriseldredge opened #62 "Native modules shouldn't prevent managed middleware from running"
UseStageMarker allows OWIN middleware to execute earlier in the IIS integrated pipeline, enabling middlewares to handle requests that would otherwise generate a 404 by the IIS StaticFile module.

Without this capability, paths that look like static content (e.g. `foo.txt`) cannot be handled by vNext apps running in IIS.

Is there an equivalent extension method to be used with IBuilder?

[2014-07-11 17:38] #60 closed, assigned to nobody

[2014-07-19 17:22] Eilon opened #63 "Lifetime of Startup object should be documented"
In https://github.com/aspnet/Hosting/commit/55271e8719b3f06381f0f77da9e67ea8d357ff2e#diff-af9c739c5ded325b7930617398c74300L94 the app's `Startup` object is instantiated (assuming a non-static `ConfigureXyz` method) but it is not entirely clear the lifetime of this object. This came up during a customer app porting exercise from MVC 5 to MVC 6 where the customer has encountered issues in the past w

[2014-07-24 02:57] davidfowl opened #64 "Flow the webserver root into the application"
The web server root maybe different from the application base. This should flow via some kind of configuration option (file, command line, env variable)

[2014-07-30 16:48] Tratcher opened #65 "Finish porting Katana's TestServer"
https://github.com/aspnet/Hosting/tree/dev/src/Microsoft.AspNet.Hosting is loosely based on https://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin.Testing/TestServer.cs.  However, it doesn't have the HttpClient integration, response streaming, etc..

Finish porting over TestServer functionality.  Fix this in the process:
https://katanaproject.codeplex.com/workitem/317

[2014-07-31 17:08] Tratcher opened #66 "Need the ability to select a specific Startup class"
Right now StartupLoader hardcodes `Startup` and `Configuration` as the class and method names. This prevents us from specifying the Startup by name or generic type. Only discovery and lamda are currently supported.

Use cases:
- `WebApplication.Start<TStartup>`
- `TestServer.Create<TStartup>`
- Command line or configuration parameter

[2014-08-06 22:52] #65 closed, assigned to Tratcher

[2014-08-18 22:42] #23 closed, assigned to Tratcher

[2014-09-02 02:03] kichalla opened #69 "Chunked encoding when formatters write out the response"
I know that this is a known thing for a while now...but adding this bug however to keep track of this...
also the behavior is different from Helios in this matter...

When formatters write out the response on Helios, they are not sent out as chunked encoded, but they are in case of weblistener...

We need a higher layer of buffering which would provide consistent experience across different hosts.

[2014-09-05 19:01] harshgMSFT opened #70 "Need a way to uniquely identify an application."
This is needed for
https://github.com/aspnet/Mvc/issues/584

[2014-09-10 00:12] glennc opened #71 "Create IHostingEnvironment and implementation"
[code]

This interface is the moral equivalent of the IApplicationEnvironment but for web applications. The environment name is the name of the currently running environment and the WebRoot is where the web sever is rooted.

[2014-09-10 23:17] #64 closed, assigned to Tratcher

[2014-09-12 01:31] #66 closed, assigned to nobody

[2014-09-12 01:45] #56 closed, assigned to nobody

[2014-09-12 01:52] #69 closed, assigned to nobody

[2014-09-12 01:57] #46 closed, assigned to nobody

[2014-09-12 01:59] #52 closed, assigned to nobody

[2014-09-12 02:06] #16 closed, assigned to nobody

[2014-09-15 19:48] Praburaj opened #74 "Hosting fails to read "wwwroot" if the project.json contains a JSON element that cannot be read by the JSON config source"
We use the `JsonConfiguration` source to parse the `project.json` file to read `wwwroot`. When the `project.json` contains an JSON element that this configuration source cannot read it throws an exception and returns an incorrect `wwwroot`.

For example:
Have an authors element the `project.json` and `wwwroot` element. Hosting code here will fail to return the right `wwwroot`. It throws the follow

[2014-09-16 03:36] #74 closed, assigned to Tratcher

[2014-09-16 03:37] #71 closed, assigned to Tratcher

[2014-09-16 04:48] #62 closed, assigned to GrabYourPitchforks

[2014-09-18 19:56] anandjp opened #76 "Cleanup exception message when missing or incorrect configure method"
I was trying projectk Custom hosting with console app. I had added startup.cs file without Configure method. Custom host was not even starting. after adding Configure method, custom host started.
I can provide sample if needed.

[2014-09-23 18:52] Tratcher opened #77 "Catch selfhost Startup errors and show them in the browser"
When anything goes wrong with Helios' startup code path it will catch those errors, finish starting the server, and send an error page in response to any HTTP requests.

When anything goes wrong with the Self-Host startup code path it will throw an exception and crash the process. If you're lucky the exception will be printed on the console, but even this requires setting the ASPNET_ENV to Develop

[2014-09-26 17:02] kichalla opened #78 "Add support for virtual root path when using TestHost"
Scenario:
When writing in-memory functional tests for MVC, would like to cover link generation scenarios where an application could have virtual root path.

Workarounds:
Use mapping middleware in the application being tested. (I ideally would like to avoid this as it changes the application being tested and also if I want to change the virtual paths between tests, this does not give me the flexibi

[2014-10-02 02:04] suhasj opened #79 "UserServices with IServiceProvider needs to register OptionAccessor explicitly"
In the overloads of 'UseServices' method, the OptionsAccessor service is registered by default except the one that takes IServiceProvider. The error obtained when using the suggested method was not obvious and seems like should be either registered by default for it too or put at a place that is more visible.

[2014-10-07 00:11] divega opened #82 "Recognize and invoke Startup.ConfigureServices(IServiceCollection) if it exists"
Making Startup.ConfigureServices first-class (as opposed to only an argument for app.UseServices() in Startup.Configure) allows separating other work that could happen as part of starting the application from the mere configuration of the DI container.

As long as the pattern is implemented correctly by the application this enables using the actual services configuration of the application (which

[2014-10-07 01:04] rustd opened #83 "Have a way to call Configure Services based on environment"
Hosting should look up the environment name and be able to call the following methods.

[code]

[2014-10-07 01:05] rustd opened #84 "Add an API for calling ConfigureServices"
[code]

[2014-10-08 00:22] HaoK opened #85 "Do we need to expose invoking ConfigureServices?"
Currently ConfigureServices is invoked as part of StartupManager's LoadStartup.

Would splitting it out and exposing just the ConfigureServices method be useful for Migrations/DesignTime?

[2014-10-08 18:09] glennc opened #86 "Extend IHostingEnvironment to add WebRootFileSystem"
This is part of the work to create a component that StaticFileMiddleware and FilePathResult can both use. IWebRootFileSystemProvider will be what the host sets. Higher level components will use IOptionsAccessors.

Has:

[code]

[2014-10-09 18:42] sayedihashimi opened #89 "k web and k kestrel should give the url/port on the command line"
Today when ```k web``` or ```k kestrel``` are invoked the default output is simply ```Started```. It would be much better to include the url/port which was just started. W/o this users will need to look into ```project.json``` to figure out the port number.

[2014-10-09 23:00] Tratcher opened #90 "TestServer should have a client BaseAddress field"
TestServer currently defaults the base address to `http://localhost/`. Consider adding a property for this.

Ported from: http://katanaproject.codeplex.com/workitem/358

[2014-10-10 09:13] davidfowl opened #91 "ConfigureServices should support returning IServiceProvider"
We overlooked the custom DI container scenario here:

[code]

[2014-10-10 15:33] #29 closed, assigned to Tratcher

[2014-10-10 18:11] Tratcher opened #92 "Move UseMiddleware out of RequestContainer"
To where?

[2014-10-10 19:34] GrabYourPitchforks opened #93 "Re-enable skipped test StartupClassDoesNotRegisterOptionsWithNoConfigureServices"
The test StartupClassDoesNotRegisterOptionsWithNoConfigureServices was temporarily skipped due to the new DataProtection changes.  See https://github.com/aspnet/Hosting/commit/c859c3dad51ff751ee07d20c8f148bccc292d36f for the commit.  We need to understand what this test was doing and fix Hosting, DataProtection, or the unit test.

[2014-10-10 21:53] #84 closed, assigned to HaoK

[2014-10-10 21:54] #82 closed, assigned to nobody

[2014-10-14 11:00] HaoK opened #95 "Register default options services as part of Hosting DefaultServices"

[2014-10-14 11:04] #79 closed, assigned to nobody

[2014-10-14 11:07] HaoK opened #96 "Rename UsePerRequestServices"
Split the overloads into two names

UsePerRequestServices() => UseRequestServices()
UsePerRequestServices(IServiceProvider) => UseRequestServices

UsePerRequestServices(Action<IServiceCollection) => UseServices
UsePerRequestServices(IEnumerable<IServiceDescriptor) => UseServices

[2014-10-14 11:16] HaoK opened #97 "Add static EnsureRequestServices method for middleware to replace UseRequestServices"
@loudej @davidfowl @halter73 @rustd agreed that we should no longer blow up if a middleware tries to use scoped services when there hasn't been a container registered.

Instead we should add a new method which middlewares can call which will automatically initialize a RequestContainer if it hasn't been done yet (which ensures that IApplicationBuilder.RequestServices will be set), i.e. something li

[2014-10-14 17:04] HaoK opened #98 "Consider adding a UseRequestServices overload for multi-tennant support"
Potentially replacing this overload of UseRequestServices:

        public static IApplicationBuilder UseRequestServices(this IApplicationBuilder builder, Func<HttpContext, IServiceProvider> applicationServices)
        {
            builder.ApplicationServices = applicationServices;

            return builder.UseMiddleware(typeof(ContainerMiddleware));
        }

[2014-10-14 23:23] rustd opened #100 "Add extension method for getting environment name"
Proposed
[code]
As it exists today
[code]

[2014-10-15 02:24] #97 closed, assigned to HaoK

[2014-10-15 02:25] #96 closed, assigned to HaoK

[2014-10-15 02:25] #93 closed, assigned to nobody

[2014-10-15 02:26] #83 closed, assigned to HaoK

[2014-10-15 03:50] HaoK opened #102 "Unify ContainerMiddleware and EnsureRequestServices"
Should be able to remove all the code in ContainerMiddleware and its Invoke would just check/throw and

[code]

[2014-10-15 19:53] matthewhancock opened #105 "Allowing Configure method to be inherited by Startup class"
I'm going to have multiple web applications sharing base code and it would be great if the Startup class could inherit the Configure method from a parent class. Otherwise, I'm going to have to copy and paste the same boilerplate.

e.g. this wouldn't fail

[code]

This returns the basic Configure not found error:

[code]

It looks like the update would need to be here: https://github.com/aspnet/Hos

[2014-10-16 18:47] #91 closed, assigned to HaoK

[2014-10-20 22:19] #92 closed, assigned to Tratcher

[2014-10-27 23:50] divega opened #107 "Consider flowing IConfiguration to OptionsServices.GetDefaultServices() and DataProtectionServices.GetDefaultServices()"
`HostingServices.GetDefaultServices(IConfiguration)` adds the default services of Options and DataProtection but it does not flow the IConfiguration argument to their `GetDefaultServices(IConfiguration)` methods, preventing service replacement from working.

[2014-10-29 17:29] #95 closed, assigned to HaoK

[2014-10-30 00:51] GrabYourPitchforks opened #108 "Remove DataProtection from HostingServices.GetDefaultServices()"
Change all consumers of IDataProtectionProvider to call DataProtectionServices.GetDefaultServices() explicitly themselves.

[2014-11-05 17:16] #90 closed, assigned to nobody

[2014-11-12 01:26] Eilon opened #111 "Remove DataProtectionOptions from hosting container"

[2014-11-12 01:28] Eilon opened #112 "IHostingEnvironment should be implemented as a default service"
`GetDefaultServices` for this component needs to include `IHostingEnvironment`.

[2014-11-13 19:34] halter73 opened #114 "Configure should be called using the services defined in ConfigureServices"
Currently, services injected into `Startup.Configure` come from the hosting service provider.

Since `Startup.ConfigureServices` is called before `Configure` and `IApplicationBuilder.ApplicationServices` is already defined by the time `Configure` is called, it would be nice if services defined in `ConfigureServices` could be injected into the `Configure` method.

[2014-11-14 23:10] #78 closed, assigned to Tratcher

[2014-11-20 17:51] davidfowl opened #116 "HttpContext.ApplicationServices should always be set"
Today we only set it if the ContainerMiddleware sets it. It should be set to IApplicationBuilder.ApplicationServices by default.

[2014-11-21 01:38] HaoK opened #117 "Figure out why IServiceManifest needs to be defined in Hosting"
Why doesn't the copy in DI get picked?  AssemblyNeutral?

[2014-11-21 23:13] #112 closed, assigned to Tratcher

[2014-11-25 00:51] HaoK opened #121 "Figure out how to properly do functional testing"
Specifically so MVC can remove their fallback provider code: https://github.com/aspnet/Mvc/issues/1612

cc @davidfowl @loudej

[2014-12-03 15:46] #108 closed, assigned to Tratcher

[2014-12-03 15:46] #111 closed, assigned to Tratcher

[2014-12-04 16:51] davidfowl opened #123 "Change KRE_ENV to ASPNET_ENV"

[2014-12-04 23:13] #107 closed, assigned to nobody

[2014-12-06 00:08] halter73 opened #128 "Dispose ApplicationServices if it is instantiated by Hosting"
When we call `BuildServiceProvider` to create `IApplicationBuilder.ApplicationServices`, we should be responsible for disposing the `ServiceProvider` appropriately. This ensures that any disposable singletons and any other disposable services resolved from the root scope get disposed once the `ApplicationServices` is no longer in use.

I discussed this issue with @loudej, and we decided that it is

[2014-12-06 18:49] #114 closed, assigned to davidfowl

[2014-12-16 05:30] yishaigalatzer opened #132 "Error when running on WebListener"
The following code runs on IIS but throws on WebListener

[code]

![image](https://cloud.githubusercontent.com/assets/1238711/5449017/6cce3d9e-84a1-11e4-8ec5-fb3877fe4583.png)

Removing the `next()` or moving it about the `response.WriteAsync` makes it work.

[2014-12-16 22:39] TalalTayyab opened #133 "Enhancement: HostingEnvironment throws DirectoryNotFoundException if wwwroot directory does not exsist"
Its not a bug - but suggestion to make it more Git friendly.

In Asp.Net project, by default the wwwroot folder is empty. If you check the project in Github, it will not include the wwwroot folder either because the folder is empty or (ignored due to bin directory).

If you run using Microsoft.AspNet.Hosting, no file is created inside the wwwroot folder and without a wwwroot folder it gives the di

[2014-12-19 22:45] Tratcher opened #135 "Common un-handled exception error page"
Helios has a special page built in that renders unhandled exceptions.  WebListener and Kestrel do not.

Proposal: Extract Helios's error page to a static error page generator API in Hosting that WebListener and Kestrel can also call.

@GrabYourPitchforks

[2014-12-23 15:48] #86 closed, assigned to Tratcher

[2014-12-23 23:28] #123 closed, assigned to DamianEdwards

[2015-01-02 17:23] Tratcher opened #137 "Response caching component"
Assumption: MVC and other application level components will set standard HTTP cache headers (Cache-Control, Vary, etc.) for clients and proxies.

Also implement middleware and/or server support for reading the response headers and caching. It can then short circuit incoming requests and serve them from the cache.

[2015-01-12 13:54] directhex commented on #59
@chriseldredge your daemon works in Docker, though it requires the "ps" command be installed, which it may not be (e.g. it isn't in the Microsoft ASP.NET vNext Docker image - RUN apt-get install procps)

[2015-01-12 18:06] harshgMSFT commented on #70
@yishaigalatzer @Eilon will we be  taking this for Beta3?

[2015-01-12 19:55] Eilon commented on #70
@muratg - this is in his realm now.

[2015-01-12 23:13] Tratcher opened #138 "Create middleware to handle x- override/forwarded header values"
When the client can't create quite the request they want, or when an intermediary needs to modify it, then they can tunnel the extra data in an X- header.

Create one or more middleware that understands common override headers and applies the requested overrides to the request.

Some common items to override:
Host: X-Forwarded-Host
Method: X-Http-Method-Override
Scheme: X-Forwarded-Proto

[2015-01-13 06:05] jsinh opened #139 "Change value of IHostingEnvironment.EnvironmentName (readonly property)"
I am trying to find out how can I can IHostingEnvironment.EnvironmentName value from my application.

I have gone through the code in `Microsoft.AspNet.Hosting` library and observed that class `ConfigureHostingEnvironment` and `HostingEnvironment` plays the main role in setting this up. If no value found it sets up `Development` as the default environment name.

`private const string DefaultEnviro

[2015-01-13 06:08] davidfowl commented on #139
Setting it from your application is the wrong thing to do. You either set the environment variable or you set the value in the file.

[2015-01-13 06:12] jsinh commented on #139
I agree with you and i observed that the value for `EnvironmentName` property is set to `Development` even before my constructor for `Startup.cs` starts. I tried doing both - adding value ASPNET_ENV = "FooBar" in `Microsoft.AspNet.Hosting.ini` file but didn't worked. Same I did by setting environment variable (System / User both) but that too didn't worked.

What is the exact key name / format to

[2015-01-13 06:14] davidfowl commented on #139
KRE_ENV, the code you're looking at reflects the bleeding edge. If you want to look for a specific version then use the tags or branches. The master branch will reflect the latest released to nuget.org version.

[2015-01-13 06:14] #139 closed

[2015-01-13 06:18] jsinh commented on #139
Silly me, I am really sorry for that.

I can see the code seeks value for KRE_ENV in MAIN branch and I was digging into the DEV branch till now which is tries to seek ASPNET_ENV. Thanks @davidfowl

[2015-01-13 17:24] victorhurdugaci opened #140 "Don't stop the server on *any* key press"
There are environments in which the ReadLine is instantly executed and the server stops immediately. Wait for a particular combination of keys instead.

[2015-01-13 22:18] sayedihashimi opened #141 "Support app_offline.htm"
I was chatting with @coolcsh @rowanmiller @davidfowl @danroth27 and a few others and we would like to enable support for taking the ASP.NET 5 application offline when a ```app_offline.htm``` file is present in the web root just like ASP.NET 4.5 supports.

We would like this primarily for the following scenarios.
 - Take the app offline before EF migrations are executed
 - Take the app offline when

[2015-01-15 07:09] HaoK commented on #102
Fixed in 16a811479eb4f098387b0bcd6702e25003ae6c59

[2015-01-15 07:09] #102 closed

[2015-01-15 23:21] harshgMSFT commented on #70
@muratg any updates ... dont think we are getting this done for beta3?

[2015-01-16 00:39] muratg commented on #70
@harshgMSFT we need to be closing on beta3 very soon there'a a couple higher pri items for @GrabYourPitchforks.   Also not sure if we should rush the design.

@GrabYourPitchforks what do you think?

[2015-01-21 03:31] balachir opened #143 "IISExpress exe logs in Output window still contains Helios in the name"
REPRO STEPS
1. New ASP.NET 5 StarterWeb app
2. F5
3. Stop F5 and view Output window

ACTUAL
IIS Express logs in Output window still show "Helios" in the name

...
'iisexpress.exe' (CLR v4.0.30319: **Helios**-fd478731-da06-457e-98c7-bd10c8b3a29a): Loaded 'C:\Users\balach\.kre\packages\KRE-CLR-x86.1.0.0-rc1-10892\bin\klr.net45.managed.dll'. Cannot find or open the PDB file.
'iisexpress.exe' (CLR v4.

[2015-01-21 17:00] Tratcher commented on #143
This issue was moved to aspnet/Helios#85

[2015-01-21 17:00] #143 closed

[2015-01-21 19:23] davidfowl opened #145 "Improve hosting APIs for startup self host scenarios"
While updating omnisharp to beta2 I ended up doing this https://github.com/OmniSharp/omnisharp-roslyn/blob/beta2/src/OmniSharp/Startup.cs#L38, because we made it close to impossible to add services if you're the host. I suggest we make it so that the caller of HostingServices.Create can provider types that will be imported by the calling application.

/cc @HaoK @lodejard @Tratcher

[2015-01-21 20:04] HaoK commented on #145
Yeah I agree I felt the same way when writing unit tests as well.

[2015-01-23 21:25] yishaigalatzer commented on #121
@muratg can you please triage so we can see when/if we can fix the MVC bug?

[2015-01-24 04:11] HaoK commented on #121
If this PR goes through, MVC functionals can probably just use the new Hosting.Create overload to add services for the functional tests I think: https://github.com/aspnet/Hosting/pull/146

[2015-01-28 17:35] rustd opened #148 "Hosting should pick up 'app' environment var in IIS Express as well"
Today, the following scenario only works on SelfHost.
Hosting does let you select the assembly to search. This can be set via the ’app’ environment variable. If they set this globally on their production machines then web applications will only try to load via the specified assembly. However, this can be overridden by specifying the same parameter on the command line. Once they’ve loaded their Sta

[2015-01-28 17:36] Tratcher commented on #148
See https://github.com/aspnet/Helios/blob/7c2934b261e618cd5fa20e1a107bd0ed47eb7acf/src/Microsoft.AspNet.Loader.IIS/DotnetHttpApplication.cs#L94

[2015-01-28 17:39] davidfowl commented on #148
@rustd What's the scenario?

[2015-02-02 17:50] PinpointTownes opened #149 "Provide a better experience when using TestServer"
That would be marvelous if we could simply give `TestServer` a startup generic type and if it could automagically call `Configure` and `ConfigureServices`. That would even be double great if it could set the environment name to "Testing" and invoke `ConfigureTestingServices`.

/cc @Tratcher

[2015-02-02 23:48] glennc opened #150 "Cleanup HostingContext"
Some of the HostingContext don't appear to be required, such as services.

We should clean it up.

[2015-02-04 08:09] davidfowl opened #151 "IApplicationLifetime ApplicationStopping does not trigger if ConfigureServices method exists"
I spent a good few hours trying to track this down on mono and it seems like it happens on windows as well.

[code]

The above code will not print out goodbye.

[2015-02-04 08:09] davidfowl commented on #151
/cc @Praburaj @Tratcher

[2015-02-04 15:06] Praburaj commented on #151
Related: https://github.com/aspnet/WebListener/issues/71

[2015-02-04 16:19] davidfowl commented on #151
Is it? It happens when use kestrel. Seems like a bug in hosting

[2015-02-04 17:03] Tragetaschen commented on #151
On Mono, Kestrel throws an Exception during its `Dispose` (aspnet/KestrelHttpServer#49). This means the cleanup code in `HostingEngine.Start`'s `Disposable` does not invoke [`applicationLifetime.SignalStopped()`](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/HostingEngine.cs#L51)

[2015-02-04 17:17] davidfowl commented on #151
I'm not sure that's even related, when you remove ConfigureServices, the text `"Goodbye!"` gets printed

[2015-02-04 17:35] davidfowl commented on #151
Here's my workaround:

[code]

[2015-02-04 17:37] Praburaj commented on #151
okay. Actually these are all problems related to app shutdown .

[2015-02-04 17:38] davidfowl commented on #151
This is specifically related to the fact that something is going bonkers when services are applied. I don't think this has to do with app shutdown per se as everything is functioning. It feels like its triggering the event on some bogus ApplicationLifetime service, rather than the one I'm using. Which is why the above code seems to work.

[2015-02-05 20:13] yishaigalatzer commented on #70
@muratg @GrabYourPitchforks ping

[2015-02-07 21:33] dtkujawski commented on #105
I ran into this same issue and also believe that not requiring declared methods is a good idea so that we can derive the Startup.cs file from a base class.

Changing the line method above to the following would be nice:
[code]

[2015-02-09 18:19] muratg commented on #150
Let's do this part of our API reviews.

[2015-02-11 23:24] harshgMSFT commented on #70
@muratg ping. We need to converge on this. Lets meet this week and figure out our options.

[2015-02-12 00:33] glennc commented on #70
Adding this to the agenda for next mondays core design meeting, unless you discuss it before then.

[2015-02-12 00:42] glennc commented on #76
running `k web` on a startup without a configure shows the exception. Changing title to remove TODO from the text.

[2015-02-12 00:46] glennc commented on #148
Moving to backlog until I understand the scenario that requires overwriting  the app name.

[2015-02-12 00:50] glennc commented on #85
@bricelam @divega Is this still an issue?

[2015-02-12 00:51] glennc commented on #89
This has been done, you can see the url and port if you have a console logger attached, which the default template does.

[2015-02-12 00:51] #89 closed

[2015-02-12 01:01] glennc commented on #105
We are ok with taking this change if either of you guys want to submit a pull request, see the instructions if you haven't done it before.

[2015-02-12 01:03] glennc commented on #117
Closing as this is most likely an ANI issue. ANIs are no longer supported.

[2015-02-12 01:03] #117 closed

[2015-02-12 01:05] #132 closed

[2015-02-12 01:08] glennc commented on #140
related to https://github.com/aspnet/Hosting/issues/59?

[2015-02-12 01:10] glennc commented on #116
@davidfowl Is this still an issue?

[2015-02-12 14:07] dtkujawski opened #152 "Visual Studio compilation : System namespace not found"
This is probably a beginner question for how to work with the ASPNET repo here:
I am able to fork and clone the repo and successfully run the "Build" command (everything download and compiles fine from the command line).

However, when I load the solution in Visual Studio and try to compile, I get lots of errors because VS doesn't seem to resolve the "System" namespace.
		CS0246	The type or namesp

[2015-02-12 16:21] bricelam commented on #85
Yes, we need an easy way for tools to call Startup.ConfigureServices the same way Hosting would. [Our workaround](https://github.com/aspnet/EntityFramework/blob/dev/src/EntityFramework.Commands/ContextTool.cs#L32-L54) is pretty ugly and incomplete.

[2015-02-12 22:16] HaoK commented on #85
I have some cycles to take a look at this if this is something we want to do

[2015-02-12 22:17] davidfowl commented on #152
Unfortunately this won't work with beta2. You'll have to use something like omnisharp or wait until a new version of visual studio comes out. There were some breaking changes around folder names and ctp5 won't function properly

[2015-02-12 22:21] davidfowl commented on #116
Yes it is

[2015-02-12 22:21] davidfowl commented on #116
Yes it is

[2015-02-12 22:35] dtkujawski commented on #152
Thank you!  I was making myself crazy by trying weird things to see if I could get it working.

[2015-02-12 22:35] #152 closed

[2015-02-12 23:53] dtkujawski commented on #105
My first time doing a pull request, so let me know if I did it wrong:  https://github.com/aspnet/Hosting/pull/153

[2015-02-12 23:55] muratg opened #154 "ApplicationLifetime.Signal* rename"
Some ideas from the API review:
- Notify
- Trigger

[2015-02-12 23:56] muratg opened #155 "HostingContext should be thinned"
IServiceProvider provides IServiceFactory and other types that are currently directly exposed.

[2015-02-12 23:58] muratg opened #156 "HostingContext.Servername: misleading name"
Can be confused with the server name (as in URL)

[2015-02-13 01:53] glennc commented on #85
We just talked about the same thing in the hosting API review. Talk to @lodejard. I can fill you in one the basic plan if you can't pin him down.

[2015-02-13 01:54] glennc commented on #155
Either this or https://github.com/aspnet/Hosting/issues/150 should be closed as a dup :)

[2015-02-13 22:19] muratg opened #157 "HostingEnvironment polish per API review"
- [ ] Add extension method: MapPath
- [x] Rename WebRoot --> WebRootPath
- [x]  Make WebRootFileProvider get only

[2015-02-13 22:20] muratg opened #158 "HostingServices: Remove default parameters"

[2015-02-13 22:20] muratg opened #159 "Make HostingUtilities internal"
By moving to a .Internals namespace

[2015-02-13 22:22] muratg opened #160 "Rename IHttpContextAccessor.Value to IHttpContextAccessor.HttpContext"

[2015-02-13 22:23] muratg opened #161 "Move PipelineInstance to Infrastructure namespace"
Or .Internals

[2015-02-13 22:24] muratg opened #162 "HttpContextFactory.CreateHttpContext should take an IFeatureCollection instead of an object"

[2015-02-13 22:26] muratg opened #163 "IServerManager polish"
- Rename the class to IServerLoader
- Rename the method GetServerFactory to LoadServerFactory

[2015-02-16 19:35] victorhurdugaci commented on #140
Yes, could be related. Can we get this fixed ASAP? It is blocking automation...

[2015-02-16 20:09] muratg opened #164 "Remove interfaces and classes"
Not a chain anymore:
- IStartupLoaderProvider
- IStartupManager
- StartupLoaderProvider
- StartupManager

[2015-02-17 20:30] harshgMSFT commented on #70
@glennc did we get any headway on this ?

[2015-02-19 21:29] HaoK commented on #160
@davidfowl filed https://github.com/aspnet/Options/issues/31 to change Options.Options -> Value, HttpContextAccessor seems to be going the other direction, do we have final consensus for naming these properties (Value or Type name)?

cc @divega @yishaigalatzer

[2015-02-19 23:03] yishaigalatzer commented on #160
I'm game for whatever of the two as long as its consistent

[2015-02-24 00:28] Praburaj commented on #154
@muratg Is the suggestion here to rename `ApplicationStopping` to `NotifyStopping` and `ApplicationStopped` to `NotifyStopped`?

[2015-02-24 00:46] muratg commented on #154
@Praburaj "Signal" to "Notify" I believe.  /cc: @glennc

[2015-02-24 00:55] Praburaj commented on #156
Was there a suggestion on name during the discussion?

A typical value for this looks like `Microsoft.AspNet.Server.WebListener` which is the package containing the server's factory type. Should we rename this to `ServerFactoryAssembly`?

This may also demand a change in the command parameter name from `--server` => `--serverfactory.assembly`

[code]

[code]

thoughts?

[2015-02-24 01:00] Praburaj commented on #154
I see. Changing it to `SignalStopping` and `SignalStopped` then.

[2015-02-26 16:54] matthewDDennis opened #168 "If ConfigureServices returns a null IServiceProvider system crashes."
Currently the code doesn't change builder.ApplicationServices if ConfigureServices returns null.  It does not check to see of builder.ApplicationServices is null to start with.
It would be great to return null if you don't want to change the ApplicationServices, but use the default if you haven't already replaced it.
Then using an alternate DI container would be as simple as
             IServiceP

[2015-02-26 18:48] #164 closed

[2015-02-26 18:48] #163 closed

[2015-02-26 18:48] #162 closed

[2015-02-26 18:49] #156 closed

[2015-02-26 18:49] #154 closed

[2015-02-26 18:49] #150 closed

[2015-02-26 19:01] Praburaj opened #169 "HostingEngine casting ApplicationLifetime makes IApplicationLifetime not overridable"
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/HostingEngine.cs#L43

[2015-02-26 20:52] Praburaj commented on #160
@davidfowl ?

[2015-02-26 20:55] davidfowl commented on #160
I dunno the 2 things need to be consistent. Look at the usage patterns:

[code]

VS

[code]

[2015-02-26 20:57] HaoK commented on #160
But IOptions true name was/is IOptionsAccessor, so it feels like they really should have the same naming pattern

[2015-02-27 21:19] harshgMSFT commented on #70
@glennc , @muratg I do not see any updates for this since I pinged. Can one of you please update the status?

[2015-02-27 23:41] #159 closed

[2015-02-27 23:41] #161 closed

[2015-03-02 05:19] PureKrome commented on #149
@PinpointTownes could you post some sample code, to explain your idea, pwease? #curious

[2015-03-02 06:14] Tratcher commented on #149
Katana had this.
http://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin.Testing/TestServer.cs
`TestServer.Create<MyStartupType>()`

[2015-03-02 06:27] Eilon commented on #105
https://github.com/aspnet/Hosting/pull/153 fixed this.

[2015-03-02 06:27] #105 closed

[2015-03-02 06:56] #76 closed

[2015-03-02 07:12] davidfowl opened #172 "Move IServerInformation and IServerFactory into a package that server authors can use"
Today IServerInformation exists in Microsoft.AspNet.Http and IServerFactory exists in Hosting. We need to have a simple package that server authors like Nowin can use to implement the ASP.NET 5 server abstraction.

[2015-03-02 18:41] #160 closed

[2015-03-04 04:56] Praburaj commented on #151
Looks like the case. I can see a difference in the `ApplicationStopping` cancellation token that I receive in `ConfigureServices` vs `Configure`. If `ConfigureServices` is present then hosting additionally does a `services.BuildServiceProvider()`. I'm investigating this more.

[2015-03-05 00:02] Praburaj commented on #151
Fixed https://github.com/aspnet/Hosting/commit/718d923c7dd1d1039fba3a5d987793226de117b7

[2015-03-05 00:02] #151 closed

[2015-03-05 00:56] glennc opened #177 "Add ApplicationId to IHostingEnvironment"
* On IIS we ask IIS for the right value
* When self hosting with our default `k web` it is probably the path on disk

[code]

[2015-03-05 00:58] glennc commented on #177
@harshgMSFT You need this for some of the work you are doing now right?

[2015-03-05 01:37] Eilon commented on #177
Is this the same as https://github.com/aspnet/Hosting/issues/70 ?

[2015-03-05 11:05] HaoK opened #180 "Revisit and improve/simplify Manifest/Import logic"
So far this has been a bit of a bug farm, need to revisit to see if we can improve the manifest/import logic

Issues so far:
- Easy to forget to add new services (Logger<>, IApplicationLifetime)
- Generic services don't work via delegate (so Logger<> doesn't actually chain)

cc @lodejard @davidfowl

[2015-03-05 11:08] davidfowl commented on #180
Adding more problems:
- Flowing more services requires combining manifests

[2015-03-05 20:23] #145 closed

[2015-03-06 17:03] HaoK commented on #158
I did most of this already as part of my Hosting.Create changes, but its possible I missed some

[2015-03-06 17:23] Praburaj commented on #158
I think this can be closed now. I see all `Create` methods in `HostingServices` have no default parameters.

[2015-03-06 17:23] #158 closed

[2015-03-06 18:48] muratg commented on #70
@harshgMSFT Looks like #177 is describing a way to do this in a specific way, and is assigned to you. Is this one OK to close?

[2015-03-06 19:00] harshgMSFT commented on #70
Sure..lets keep the details in both bugs though.

[2015-03-07 07:55] #121 closed

[2015-03-08 00:17] muratg commented on #70
@harshgMSFT See this bug filed by @GrabYourPitchforks: https://github.com/aspnet/Helios/issues/113

[2015-03-08 00:17] muratg commented on #177
See https://github.com/aspnet/Helios/issues/113

[2015-03-11 07:03] davidfowl commented on #180
This is a huge wart we need to talk about.

/cc @glennc @muratg

[2015-03-11 07:05] davidfowl opened #188 "Nuke RequestContainer"
It's really weird to put it in hosting

[2015-03-11 07:21] davidfowl commented on #172
## Proposal

**Microsoft.AspNet.Hosting.Interfaces** - Interfaces made available to applications that use the ASP.NET hosting model.

- IHttpContextAccessor.cs
- IHostingEnvironment.cs

**Microsoft.AspNet.Hosting.Server.Interfaces** - The WebServer contract.

- IServerFactory.cs

Depends on
- Microsoft.Framework.ConfigurationModel.Interfaces
- Microsoft.AspNet.FeatureModel
- Microsoft.AspNet.Http

[2015-03-11 17:34] muratg commented on #180
@davidfowl adding this to the agenda of "tactical items" discussion.

[2015-03-11 17:39] muratg commented on #172
Sounds fine to me.  How about IServerInformation?

[2015-03-13 03:56] HaoK commented on #149
Will take a look at this as part of revisiting hosting, considering at the least something like

`TestServer.Create(Action<IApplicationBuilder> configureApp, Action<IServiceCollection configureServices)'

So calls to UseServices will no longer be required

[2015-03-13 03:58] HaoK commented on #85
Current thinking is to try to remove UseServices with ConfigureServices as the only supported way to well...configure services

[2015-03-13 03:59] HaoK opened #189 "Remove EnsureRequestServices and add hosting support for auto request scoping"

[2015-03-13 04:00] davidfowl commented on #149
Having the type overload would be ideal as well. So the overloads would look like:

- `TestServer.Create(Action<IApplicationBuilder> configureApp)`
- `TestServer.Create<TStartup>()`
- `TestServer.Create(Action<IApplicationBuilder> configureApp, Action<IServiceCollection configureServices)`

[2015-03-13 04:01] davidfowl commented on #189
YASS! Seems like that entire middleware is pointless now right? The request container middleware adds nothing.

[2015-03-13 05:32] HaoK commented on #189
Yeah that functionality should be getting rolled into hosting now

[2015-03-14 00:38] ajaybhargavb opened #191 "Need overload to CreateClient that takes a CookieContainer"
When using session(Eg. TempData in MVC) in TestHost the session cookie is not automatically forwarded to the next request. To overcome this we have to manually do

[code]

Its easier if we can pass the `CookieContainer` or `ClientHandler` when creating the client.

cc @Praburaj

[2015-03-14 02:23] davidfowl commented on #191
Why not just let you specify a message handler?

[2015-03-14 08:31] HaoK commented on #188
Yeah lets move it to the RIP repo...

[2015-03-14 08:43] HaoK commented on #180
Summary of proposed changes:

- Introduce interface which can modify the app during hosting
[code]

- Call ConfigureServices early and resolve all hosting services other than IStartupLoader/IHostingEngine (which are not replaceable any longer, ini config swapping is CUT)

- Add new helper class
[code]

[2015-03-14 08:43] HaoK commented on #180
Depends on https://github.com/aspnet/Hosting/issues/189

[2015-03-14 08:45] HaoK commented on #116
This should get fixed as part of the auto scoping change I believe

[2015-03-14 08:46] HaoK commented on #128
This might not be an issue anymore with auto scoping https://github.com/aspnet/Hosting/issues/189

[2015-03-14 08:47] HaoK commented on #98
RIP UseRequestServices

[2015-03-14 08:47] #98 closed

[2015-03-14 21:55] GrabYourPitchforks commented on #70
Discussed offline with some people. We think the best course of action right now would be to expose this in DataProtection (since only it and MVC require it, and MVC depends on DataProtection) for now. If we can find a legitimate scenario for moving this lower in the dependency chain into DNX or Hosting, then we can do that in a future release. The new API in DataProtection.Interfaces is [here](ht

[2015-03-14 21:56] GrabYourPitchforks commented on #177
Discussed offline with some people. We think the best course of action right now would be to expose this in DataProtection (since only it and MVC require it, and MVC depends on DataProtection) for now. If we can find a legitimate scenario for moving this lower in the dependency chain into DNX or Hosting, then we can do that in a future release. The new API in DataProtection.Interfaces is [here](ht

[2015-03-16 17:56] Praburaj opened #193 "Review if a package description is required for these packages"
[code]

[2015-03-16 18:15] ajaybhargavb commented on #191
Sure, that could also work.

[2015-03-16 20:17] Praburaj opened #195 "Add extension method MapPath to HostingEnvironment"
Add extension method: `MapPath`

Moving a part of https://github.com/aspnet/Hosting/issues/157 into a separate item.

[2015-03-16 20:17] Praburaj commented on #157
Created a separate item https://github.com/aspnet/Hosting/issues/195 to track extension method `MapPath`.

[2015-03-16 20:17] #157 closed

[2015-03-17 03:03] Praburaj commented on #140
`Console.ReadKey` is not available on coreclr yet. We need a way to capture the key strokes.

[2015-03-17 12:24] swaggerloaf opened #196 "System.FormatException Unrecognized argument format: ' '. during Hosting.Program.Main call"
"Microsoft.AspNet.Hosting": "1.0.0-beta4-11365"

Running MVC app with latest nightly builds produces the error.
Occurs on both x86 and x64 latest DNX.

<pre>
c:\projects\2015\NeoSample-ASPNET5\src\NeoSample>k web
System.FormatException: Unrecognized argument format: '
'.
   at Microsoft.Framework.ConfigurationModel.CommandLineConfigurationSource.Load()
   at Microsoft.Framework.ConfigurationModel.

[2015-03-17 12:26] swaggerloaf commented on #196
The app I'm using if you need:
https://github.com/swaggerloaf/NeoSample-ASPNET5

[2015-03-17 15:47] victorhurdugaci commented on #140
`PInvoke`? :)

[2015-03-17 18:08] muratg commented on #191
@ajaybhargavb Closing this one as it seems you can use a workaround.  Reopen/file another one if you need something from Hosting layer.

[2015-03-17 18:10] glennc commented on #196
Looks like this is caused by the newlines in your web command. If you move it all back onto one line it should work again.

The exception is being thrown in the configuration stack as it tries to parse the web command. Could you move it to the configuration repo and give it an appropriate title? The problem is that the command line parser cannot handle newlines in the arguments. I don't know if it

[2015-03-17 18:15] muratg commented on #188
@haok Would you like me to create a new repo for this?

[2015-03-17 18:20] HaoK commented on #188
No need, that code is dying, as part of the hosting changes we probably will just delete the assembly

[2015-03-17 18:24] muratg commented on #172
@davidfowl assuming you wanted this in RC, assigning this to Prabu.

[2015-03-17 18:41] glennc commented on #196
On further investigation it looks like this isn't valid JSON. So while we could allow the configuraiton API to handle this, we probably shouldn't.

I think the only reason it makes it to the configuration API is because we are using JSON.NET to parse the project.json file and it handles this. However, we've talked a lot in the past about not using JSON.NET and instead using a smaller, and less fea

[2015-03-17 18:41] #196 closed

[2015-03-17 18:54] swaggerloaf commented on #196
Glenn,
You are correct, I recently formatted to several lines after seeing it somewhere else. I should of tested thoroughly.

Thanks

[2015-03-17 22:47] #100 closed

[2015-03-17 22:47] Praburaj commented on #100
https://github.com/aspnet/Hosting/commit/3b0d5fd422e46691cdeddefc5ebd17053c63b932

[2015-03-18 08:10] HaoK opened #197 "Consider TestServer.Create overload that accepts IConfiguration"
needed to override env

[2015-03-19 08:16] HaoK opened #198 "Consider making IHostingEnvironment.EnvironmentName read only"
We added the set for IConfigureHostingEnvironment, now that that is nuked with the hosting changes, we could make it { get } only again.  But MvcTagHelpers has a test that is using the set today

cc @davidfowl

[2015-03-19 08:20] davidfowl opened #199 "Remove CallContextServiceLocator where possible"
It makes assumptions about the hosting environment, and statics are bad.

[2015-03-19 18:00] #189 closed

[2015-03-19 18:00] #188 closed

[2015-03-19 18:00] #169 closed

[2015-03-19 18:01] #168 closed

[2015-03-19 18:01] #116 closed

[2015-03-19 18:01] #180 closed

[2015-03-19 18:29] rubenprins commented on #141
I'm not sure why app_offline.htm should be needed "when files are locked preventing publish". ASP.NET should **never, ever** lock any files. If it does, ASP.NET is broken.

Come on guys, ASP.NET 1.0 had this solved over a decade ago (shadow copying).

Having support for app_offline.htm during an update is a welcome feature, however. But it should not be used to fix file locking issues that shouldn

[2015-03-19 20:14] HaoK commented on #85
needs moar sugah still

[2015-03-19 20:55] sayedihashimi commented on #141
@rubenprins I'll let the runtime guys respond back regarding file locking.

There are still scenarios where it makes sense to take the app offline. For example you are going to update the DB that the app talks or updating other apps that it depends on. It's not just about file locks with publishing.

[2015-03-19 21:36] rubenprins commented on #141
@sayedihashimi, like I said: I agree, app offline is a useful feature for a multitude of reasons (just taking an application offline without hassle, for example).

But I was referring to the file locking issue you referred to in your second point. There's also a DNX issue regarding file locking preventing publishing (Azure was mentioned explicitly, but I'm afraid it affects any non-trivial hosting

[2015-03-19 21:38] HaoK commented on #85
Currently EF's tool is doing this:

+                var context = new HostingContext
+                {
+                    ServerFactory = new ServerFactory(),
+                };
+                var instance = new HostingEngine().Start(context);
+                return context.ApplicationServices.GetService(type) as DbContext;

[2015-03-19 23:08] sayedihashimi commented on #141
That is an issue we should raise at in the [dnx](https://github.com/aspnet/dnx). I noticed there are some issues already logged like https://github.com/aspnet/dnx/issues/1393 but I'm not sure it's exactly what you are referring to.

[2015-03-20 21:24] muratg commented on #155
This one is done

[2015-03-20 21:24] #155 closed

[2015-03-20 22:28] muratg commented on #128
Yes, #189 seems to be removing this problem.  Stephen, if this is not correct, please reopen.

[2015-03-20 22:28] #128 closed

[2015-03-21 07:01] tyson-benson commented on #195
Hi @Praburaj Can I ask what kind of timeframe we've got for this extension? I got stuck on this when attempting to port an existing project to ASP.NET 5

[2015-03-21 07:03] davidfowl commented on #195
It's literally an extension method that does Path.Combine :smile:

[2015-03-21 07:19] tyson-benson commented on #195
That gave me a good chuckle, i figured it would be more complicated. Would it go something like this?
[code]

[2015-03-21 14:20] Praburaj commented on #195
@tyson-benson @davidfowl I sent out a PR. I'll add some tests before checkin.

[2015-03-23 18:14] muratg commented on #70
@harshgMSFT Can we close this now?

[2015-03-23 18:14] harshgMSFT commented on #70
Closing as we decided to use data protections api.

[2015-03-23 18:14] #70 closed

[2015-03-23 18:14] muratg commented on #177
Closing this one.

[2015-03-23 18:14] #177 closed

[2015-03-23 22:04] #195 closed

[2015-03-24 23:00] HaoK opened #204 "Hosting rework part 2"
- Add static `HostingEngineFactory.Create(IServiceProvider fallback, Action<IServiceCollection>)` (no overload without ISP)
- Add IHostingEngine Build/CreateApplicationServices(HostingContext context)
- IHostingEnvironment WebRootPath settable - Add note to not ever make it not settable
- Mvc Precompilation can configure RazorOptions instead of mucking around with IApplicationEnv

- Bring back IHo

[2015-03-25 03:05] HaoK commented on #85
Will be addresed by https://github.com/aspnet/Hosting/issues/204

[2015-03-25 03:05] #85 closed

[2015-03-25 17:42] HaoK commented on #149
Fixed in https://github.com/aspnet/Hosting/pull/205

[2015-03-25 17:46] PinpointTownes commented on #149
@HaoK fantastic! Does it also support `ConfigureTestingServices`? (or at least, can we specify a custom environment name?)

[2015-03-25 18:45] HaoK commented on #149
Not yet, but I still need to look at how to expose everything in hosting to test server, there are too many permutations to simply add overloads for everything in TestServer.Create as it stands today

[2015-03-25 21:49] Praburaj commented on #140
Related : https://github.com/dotnet/corefx/issues/311

[2015-03-25 21:50] victorhurdugaci commented on #140
Also related https://github.com/aspnet/Hosting/pull/129

[2015-03-25 23:02] PureKrome commented on #141
Curious question: would it be possible to make the `filename` configurable? totally low priority, etc. but just curious - like a _possible_ backlog item for the future... :pray:  (eg. if yes, i'd like to look at submitting a PR for this)

[2015-03-25 23:03] davidfowl commented on #141
We're not shadow copying anything, it has been a source of pain in the past that we want to avoid in the future.

[2015-03-26 17:05] jskulavik opened #209 "HttpConfiguration MessageHandlers Moved"
In the consolidation of MVC and WebApi the HttpConfiguration object was moved *somewhere*.  Can we document where it went, and also provide guidance as to where to add MessageHandlers to the pipeline as was done pre-ASPNET 5 via ```HttpConfiguration.MessageHandlers.Add()```?

[2015-03-26 20:39] rubenprins commented on #141
@davidfowl, I agree, shadow copying is not without its flaws. And preventing updates from happening in the first place, you will prevent a whole slew of other issues at one fell swoop!

Like not restarting after config changes, app_offline support, web farms, msdeploy, etc.

Or will we be getting "guidance" on how to work around these dropped features as well?

And are you planning on providing a

[2015-03-27 06:31] HaoK opened #211 "Consider renaming Hosting Environment key"
ASPNET_ENV => Hosting:Environment was @lodejard suggestion.  I didn't want to do this as part of my hosting rework PR, as this will break tooling

[2015-03-27 14:21] rausmaus opened #212 "AmbiguousMatchException when starting ASP.NET 5 Web Application"
I was told by @davidfowl to move this here from [Home/#402](https://github.com/aspnet/Home/issues/402)

Description
---
Starting a web application with multiple `Configure`-overloads in `Startup.cs` causes a `AmbigousMatchException`.

This is probably "by design", but the Exception does not provide much information about what the underlaying cause is.

Code:
--------

    using System;
    using M

[2015-03-29 07:42] HaoK commented on #198
@lodejard says all of these MUST be get/set...

[2015-03-29 07:42] #198 closed

[2015-03-29 07:59] davidfowl commented on #198
Crazy

[2015-03-29 08:09] HaoK commented on #198
Yeah, I added "do not make these read only" comments to IHostingEnvironment in my PR since he doesn't want people to keep changing these during API reviews :)

[2015-03-29 10:17] HaoK opened #214 "Simplify ServerLoader logic"
Per @lodejard the logic should be simplified to:
- serverFactoryIdentifier should be treated only as the assembly name and directly used via Assembly.Load, the assembly will be scanned for a IServerFactory (no more split of name, and no more support for the serverFactoryIdentifier being a type)

[2015-03-29 10:43] davidfowl commented on #214
Nice

[2015-03-29 17:32] davidfowl commented on #172
Renamed Hosting.Server interfaces to M.A.Server.Interfaces

[2015-03-29 17:45] davidfowl commented on #209
/cc @danroth27 Something to document

[2015-03-30 00:10] HaoK commented on #172
Since we already have a .Server subnamespace, maybe it would be clearer if we had a Engine namespace for the engine and the four interfaces that are only used by the HostingEngine?  i.e.

M.A.Hosting.Engine:
- HostingEngine
- IHostingEngine
- IApplicationBuilderFactory
- IHttpContextFactory
- IStartupFilter
- IServerLoader

[2015-03-30 00:35] davidfowl commented on #172
I would move things out of the Engine namespace that can be overridden by the application

[2015-03-30 00:39] HaoK commented on #172
So maybe collapse everything into root Microsoft.AspNet.Hosting except for

IHostingEngine and IStartupLoader which live in Microsoft.AspNet.Hosting.Engine, and the ones you've already called out?

[2015-03-30 07:54] davidfowl commented on #172
Yep

[2015-03-30 08:24] HaoK commented on #172
Do we want to do this with the current rework PR or leave this for another PR?  Lou's taking a final look at the PR tomorrow, I can run this proposal by him and then move things around before pushing

[2015-03-30 08:25] davidfowl commented on #172
It can be another PR, I mostly want to get consensus on the layering and name of those packages.

[2015-03-30 15:56] tugberkugurlu opened #215 "Provide .NET 4.5 framework support"
Is it possible to provide builds of hosting libraries for .NET 4.5? I tried to see if it was as simple as adding .NET 4.5 but even the Microsoft.AspNet.Hosting.Interfaces project is failing to build.

If it matters, I am actually trying to in-memory host an MVC project through `TestServer` in a good old console application.

[2015-03-30 15:57] davidfowl commented on #215
Why not use an ASP.NET 5 console app?

[2015-03-30 16:06] tugberkugurlu commented on #215
For a bit weird reason. I want to in-memory host the MVC project just render and get out the html from it and use it in a pure .NET application.

Also, in my other case, I want to be able to host the app as a Windows Service.

[2015-03-30 17:55] danroth27 commented on #209
@jskulavik The Web API model was changed pretty substantially as part of merging MVC and Web API together. Configuration is now handled through `MvcOptions` using the new ASP.NET 5 options model (see https://github.com/aspnet/Mvc/blob/dev/test/WebSites/FormatterWebSite/Startup.cs for an example). Also message handlers are not used at all - instead you write ASP.NET 5 middleware.

If you prefer to

[2015-03-30 17:55] #209 closed

[2015-03-30 18:02] jskulavik commented on #209
Thanks @danroth27!  Are you guys planning on documenting and providing examples for writing middleware?  If you point me in the direction of the ASP.NET 5 middleware components, I'll fork and publish what I write.

[2015-03-30 19:46] danroth27 commented on #209
@jskulavik I think the best middleware samples we have right now are in the sketchy but useful Entropy repo. Check out https://github.com/aspnet/Entropy/blob/dev/samples/Builder.Middleware.Web/Startup.cs.

[2015-03-31 01:00] HaoK opened #216 "Revisit IHostingFactory"
Do we still need this interface now that RootServiceCollectionInitializer (lol) is not replaceable?  Is IHostingFactory actually replaceable either?

[2015-03-31 02:22] HaoK commented on #204
Fixed 77e2dc263f11655312d4c73bb8e22d7b6254d485

[2015-03-31 02:22] #204 closed

[2015-03-31 02:23] HaoK commented on #149
merged 77e2dc263f11655312d4c73bb8e22d7b6254d485

[2015-03-31 02:23] #149 closed

[2015-03-31 03:57] HaoK opened #218 "Add a unit test for Program.Main hosting code"
Refactor program.main into something testable so we can exercise:

[code]

[2015-03-31 17:30] HaoK commented on #197
Can now be done via TestServerBuilder.Configuration

[2015-03-31 17:30] #197 closed

[2015-03-31 22:02] kirthik opened #220 "Deploying a simple MVC app to IIS (32 bit app) fails"
Create an app using `ASP.NET 5 Preview Empty` template
Add MVC service in 'startup.cs'
Add `HomeController.cs` and `Index.cshtml`
Add some text in `Index.cshtml`
Create a package using `dnu publish`. Include `x86` version of runtime in the packages
Create a site in IIS and point it to the above package. Set `Enable 32-bit Applications` to `true`
Run the app. Expected to work but shows `NullReferen

[2015-04-01 06:45] HaoK opened #221 "TestServer.Create<T> Startup does not get activated with correct services"
We regressed this as part of the latest hosting changes.

[code]

cc @lodejard @davidfowl

[2015-04-01 09:09] davidfowl opened #222 "MapPath implementation is likely busted on IIS/IISExpress"
MapPath ideally would respect the IIS VDir feature. As such, it needs to use [IFileInfo.PhysicalPath](https://github.com/aspnet/FileSystem/blob/dev/src/Microsoft.AspNet.FileProviders.Interfaces/IFileInfo.cs#L27) to get the mapped path.

Helios would replace the IFileProvider with one that understood IIS paths.

[2015-04-01 09:09] davidfowl commented on #222
/cc @Praburaj

[2015-04-01 10:34] #172 closed

[2015-04-02 04:45] davidfowl commented on #221
Turns out this does work.

[2015-04-02 04:51] HaoK commented on #221
Are you sure?  I wrote a simple test in hosting that also failed. I just added IHostingEnv to one of the startup classes and it failed. The template tests as checked in. are cheating and not using hosting engine so you cannot rely on them.

[2015-04-02 04:54] davidfowl commented on #221
I'm writing that test right now using WebHost.Create and it's passing

[2015-04-03 06:04] jskulavik opened #230 "Microsoft.AspNet.Server.WebListener HTTP 400 from remote client"
When starting an app using a command to invoke **Microsoft.AspNet.Server.WebListener** on a port of your choice (5102 in my case) the app starts as expected and can be invoked with http://localhost:5102/[attribute-route].  However, attempting to access the app from a remote machine (e.g. not localhost, but http://[DNSorIP]:5102/[attribute-route]) the response is consistently HTTP 400.  It *seems*

[2015-04-03 07:43] davidfowl commented on #230
You can't use "localhost" as the url if you want [dnsorip] to bind. You need to use + or *.

[code]

This article might help http://www.codeproject.com/Articles/437733/Demystify-http-sys-with-HttpSysManager

/cc @Tratcher

[2015-04-03 07:43] #230 closed

[2015-04-06 00:42] davidfowl commented on #77
I like this suggestion

[2015-04-08 00:20] HaoK commented on #221
Okay, so its the `TestServer.Create<T>` with a startup type that's busted, since TestServer was new'ing up the service provider with its own StartupLoader to load the type, that's not following the normal flow and doesn't see AdditionalServices added to hosting engine.  Fixing templates to use a different overload for now

[2015-04-08 04:46] Praburaj commented on #220
This is due to an issue with Dataprotection stack. This was fixed with : https://github.com/aspnet/DataProtection/commit/56cfbdde82b3ed3034799c64f0259b3e755477e6

[2015-04-08 04:46] #220 closed

[2015-04-08 04:50] Praburaj commented on #140
Related coreclr work done. We can do this now.

[2015-04-08 04:56] Praburaj commented on #133
@Tratcher
I ran into this with many of our own samples in various repositories. I ended up adding a dummy placeholder file in the `wwwroot` to work around this.

Empty web template included as part of VS tooling creates an empty `wwwroot`.

[2015-04-08 04:58] Praburaj commented on #45
@glennc is this still a problem? I think we do restart the process when we pass in a `--watch` switch while starting the dnx process right?

[2015-04-08 21:25] danroth27 opened #233 "No wwwroot after clone causes VS error"
From @bartmax (see aspnet/mvc#2352):

Since wwwroot is not added to source control, when someone clone a project and tries to run it an error of webroot pointing to a folder which doesn't exist.

More info here: http://stackoverflow.com/questions/29437784/mvc-6-api-error-webroot-points-to-a-file-that-does-not-exist.

I think kpm restore should create this folder if it does not exist

[2015-04-09 09:50] davidfowl commented on #233
No way, we should just not explode if the folder doesn't exist.

[2015-04-09 09:52] Bartmax commented on #233
why not create it? npm tasks will fail on CI servers, or am I missing something?

[2015-04-09 09:54] davidfowl commented on #233
Mixing distinct layers. The package manager shouldn't be assuming anything about the wwwroot on restore. The publish step can certainly do it since thats all about producing deployable bits, but the sdk command shouldn't really be looking at the wwwroot and making decisions.

[2015-04-09 09:56] Bartmax commented on #233
Copy :+1:

[2015-04-09 10:47] davidfowl opened #234 "Inconsistent usage of delegate types"
Some examples:

- https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Startup/StartupMethods.cs#L10
- https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/RequestDelegate.cs
- https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting.Server.Interfaces/IServerFactory.cs#L15
- https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft

[2015-04-10 08:13] HaoK commented on #234
So I take it this means we want to add delegates for everything?

[code]

[2015-04-10 09:10] davidfowl commented on #234
/cc @lodejard to see his thoughts.

[2015-04-10 23:39] glennc opened #236 "API Review: Hosting Engine"
[code]

* IHostingEngine moves to internal namespace
* New WebHostBuilder to build an engine, Use* methods from IHostingEngine move to it
* IServiceProvider is required for the builder. If you don't provide a configuration we use an InMemory one.
* Add UseUrl, UseUrls, UsePort methods to the builder. These set known keys on Configuration.
* UseServices method added to builder. Accepts the configur

[2015-04-11 08:23] HaoK commented on #236
@davidfowl Remind me why we didn't keep the iteration where we had Builder/Engine split like this before?  I know we had this split but decided to drop it...

[2015-04-11 08:25] davidfowl commented on #236
That came up today and now I can't remember (that why we called you! :smile:). I might still exist somewhere in a PR.

[2015-04-11 08:26] HaoK commented on #236
unfortunately I think this was in lync, does lync save history?

[2015-04-11 08:26] davidfowl commented on #236
Only sometimes

[2015-04-11 08:27] HaoK commented on #236
I think the difference in usage pattern here is configuring the service before calling start.  I don't think we considered that scenario when we killed the Builder/Engine split.  If we didn't expose ApplicationServices there isn't too much you could do with the engine after building it

[2015-04-11 08:30] HaoK commented on #236
But I like this change, so I'm not trying to push back, just want to make sure there wasn't a real reason why we didn't do it before...

Can we add `UseStartup<TStartup>` for the builder?  I'm currently having issues getting this to work properly only in the TestServer, since we want TStartup to be activated from the builder's SP to work correctly

[2015-04-11 08:32] davidfowl commented on #236
I think there is a UseStartup. The Builder has everything that the IHostingEngine had before that includes UseStartup

[2015-04-11 08:35] HaoK commented on #236
@lodejard didn't want the Type one since I think it caused a bit of overload hell, but I think we can make it work via builder somehow.  I'll see if I can expose it in a limited way.  He didn't want it to bleed into the StartupLoader interface, which I think was his main concern.  As given a type, we don't have any way to get the startup methods out of a Type today.  Its an internal detail that th

[2015-04-13 21:58] HaoK commented on #216
Nuking as part of https://github.com/aspnet/Hosting/pull/237/files

[2015-04-15 07:50] HaoK commented on #218
No longer needed with config logic getting pushed to WebHostBuilder

[2015-04-15 07:50] #218 closed

[2015-04-15 19:04] #193 closed

[2015-04-16 04:50] #216 closed

[2015-04-16 21:38] lodejard commented on #234
Not sure if this is worth the effort. The `RequestDelegate` type was only declared because it appears as a middleware constructor parameter in end-user code. I don't think any of the func or action these delegates represent appear in end-user code, so no reason to give them a named delegate type.

[2015-04-18 02:26] Praburaj opened #241 "Need ability to host on custom servers in Microsoft.AspNet.Server.Testing package"
Right now only these options are possible.  https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Server.Testing/Common/ServerType.cs#L8

@Tratcher

[2015-04-18 02:27] Praburaj opened #242 "Need ability to run a specific command while using deployers in Microsoft.AspNet.Server.Testing package"
Currently only web and kestrel are possible.

@Tratcher

[2015-04-18 03:14] Tratcher commented on #241
See https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Server.Testing/Deployers/ApplicationDeployerFactory.cs#L37

We need to change that from an enum and static switch statement to a dictionary lookup where you can register alternates by name.

[2015-04-18 03:15] Tratcher commented on #242
See https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Server.Testing/Deployers/SelfHostDeployer.cs#L50
And
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Server.Testing/Deployers/MonoDeployer.cs#L71

[2015-04-21 00:05] Praburaj opened #247 "Reduce log spew from the Microsoft.AspNet.Server.Testing test deployers to improve performance"
We need to see if there is any scope to reduce log spew to improve performance.

@Tratcher

[2015-04-24 00:22] GuardRex commented on #141
Moving over from aspnet/Home#476 ...

I agree with @rubenprins ... a smooth WebDeploy is critical in its own right regardless of whether or not app_offline works or not.

How about [Web Deploy recycleApp Provider](https://technet.microsoft.com/en-us/library/ee522997(v=ws.10).aspx) and described in an [MSDN Blog](http://blogs.msdn.com/b/ericparvin/archive/2014/11/11/recycle-application-pool-on-remo

[2015-04-24 00:30] GuardRex commented on #141
... and there's this posted in an [IIS Blog](http://blogs.iis.net/msdeploy/webdeploy-3-5-rtw):

### App Offline Template
WebDeploy v3.5 adds an enhancement to the existing AppOffline rule which allows you to take an ASP.NET application offline before publishing. In this release, WebDeploy supports specifying the relative path to an app offline template file located on the destination system. This

[2015-04-24 04:30] GuardRex commented on #141
#### Single Web Deploy command with AppOffline or recycleApp does not work

The `-enablerule:AppOffline` doesn't work with a physical path `contentPath`, as is required here. The exception that comes back is:
[code]
WD needs to know the IIS site name to kill its AppPool, which makes perfect sense.

However, we can't give it the site name: A physical deployment path is required because you must pub

[2015-04-24 08:13] #236 closed

[2015-04-24 08:14] HaoK commented on #211
Fixed as part of 234bbf82f2329e1ce2092962264ba5d4567d115b, both keys are supported, Hosting:Environment is looked for first

[2015-04-24 08:14] #211 closed

[2015-04-24 08:15] HaoK commented on #221
Fixed as part of 234bbf82f2329e1ce2092962264ba5d4567d115b

[2015-04-24 08:15] #221 closed

[2015-04-24 21:02] rubenprins commented on #141
@GuardRex, Recycling or stopping the application pool might not be what you want in a production environment. If you're hosting more than a few applications (note: not just sites, but applications), you're more than likely to group applications in only a few application pools.

(Ten applications running in a single desktop CLR are almost guaranteed to be more scalable/cloud friendly than running t

[2015-04-29 23:11] muratg opened #250 "Pkg rename: Microsoft.AspNet.Hosting.Server.Interfaces -> Microsoft.AspNet.Hosting.Server.Abstractions"
https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-29 23:12] muratg opened #251 "Pkg rename: Microsoft.AspNet.Hosting.Interfaces -> Microsoft.AspNet.Hosting.Abstractions"
See https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-29 23:58] BrennanConroy commented on #250
https://github.com/aspnet/Hosting/commit/ec7a4351ded97ec484fcbf273bab05e0ad12954c

[2015-04-29 23:58] #250 closed

[2015-04-29 23:58] BrennanConroy commented on #251
https://github.com/aspnet/Hosting/commit/ec7a4351ded97ec484fcbf273bab05e0ad12954c

[2015-04-29 23:58] #251 closed

[2015-04-30 17:06] Tragetaschen opened #252 "The parameters of the configure services delegate are not injected"
All parameters [but `IServiceCollection`](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Startup/ConfigureServicesDelegate.cs#L33) are `null`

[2015-04-30 17:07] davidfowl commented on #252
That's by design. We don't want to resolve anything from the service collection until it is built.

[2015-04-30 17:10] Tragetaschen commented on #252
But constructor arguments for `Startup` are injected already (which is my workaround now).

If this is the case, then there should be a better error message.

[2015-05-01 15:45] akamud commented on #45
I'm testing this on Windows and `--watch` just kills the process without restarting it.

[2015-05-01 18:38] davidfowl commented on #252
+1 on the error message. This just hit me in omnisharp.

[2015-05-01 20:01] mykebates commented on #45
I am seeing the same on Windows and Mac.

[2015-05-01 22:33] HaoK commented on #252
Yeah seems like we can just always throw if the ConfigureServices isn't returning void or IServiceProvider, and its taking anything other than a single IServiceCollection parameter or no parameters...

[2015-05-01 22:53] Matthew-Bonner opened #254 "Search in more locations for Startup class"
We need the ability to specify the Startup type we want to use as in our case the Startup type we want to use resides in a referenced dependency project.

Our preferred solution is to extend the FindStartupType method so that just before the type is returned, a search of all assemblies is performed to look for a startup type, we think that this solution will be of the most benefit to a wider commu

[2015-05-02 11:01] Tragetaschen commented on #252
I'm not so convinced that only taking `IServiceCollection` as a parameter is the right thing, though. When I'm implementing `Configure` I can get dependencies like `IHostingEnvironment` or `ILoggerFactory` (see the default templates in VS), but that's not possible for `ConfigureServices`. This seems odd.

[2015-05-03 09:54] davidfowl commented on #254
I can tell you now, if it's one thing we have no plans on doing, is scanning all assemblies. That was one of the things we profiled extensively on the old stack and promised that we would avoid in this new one. An option to scan all referenced assemblies (which is a *huge* set of dependencies for CoreCLR) would have to be something completely opt in via some level of configuration.

[2015-05-03 10:57] Matthew-Bonner commented on #254
You already scan all assemblies for controllers via an internal class, so can't the scanning of assemblies be moved from the MVC stack into a standalone operation with events so that there is still only 1 scan but we have the option to hook into it as I'm sure there are other uses for scanning all assemblies, such as fixing the inconsistency of scanning all assemblies for controllers, but only the

[2015-05-03 12:06] davidfowl commented on #254
No we don't

[2015-05-03 12:07] davidfowl commented on #254
We scan assemblies referencing mvc

[2015-05-03 13:35] Matthew-Bonner commented on #254
My apologies, a lot has changed, you used to scan all assemblies, but now you limit which assemblies are scanned to a set of namespaces which is actually quite a good idea.

Surely then we could use an attribute of [Startup] to mark the class as a Startup class and then search assemblies referencing the namespace the attribute class resides in for a Startup class?

[2015-05-04 23:32] Tratcher commented on #45
@davidfowl? I recall that this is intended. --watch looks for file changes and kills the process, but it relies on another process to monitor it and re-start it.  IIS does this for us, and I think VS does also.

[2015-05-04 23:45] seanfuture commented on #45
If you're thinking of leaving it as-is, then the current setup will continue to be relatively substandard for those not using IIS compared to alternate technologies.  In Node.js when using grunt / gulp, for example, FS watchers and automatic restarts of web servers are common place and super convenient.  I recommend modernizing the toolchain for those who don't use IIS to support this and potentia

[2015-05-05 09:45] davidfowl commented on #241
@Tratcher  Yes please

[2015-05-05 23:33] Tratcher opened #257 "Startup.Configure does not require IApplicationBuilder"
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Startup/ConfigureDelegate.cs#L36
The parameter order for Configure is flexible, allowing IApplicationBuilder to be mixed with DI dependencies.  However the code does not verify that IApplicationBuilder was used at least once.

This works:
[code]

Recommendation: Throw if IApplicationBuilder does not match at least one paramete

[2015-05-06 17:24] Matthew-Bonner commented on #257
Is there a compelling reason to force the use of IApplicationBuilder?

[2015-05-06 17:27] Tratcher commented on #257
Well, you can't set up a web-app without it, so....

[2015-05-06 17:49] Matthew-Bonner commented on #257
I wouldn't consider that a compelling reason as it causes more problems than it solves, especially in terms of unit testing.

[2015-05-06 17:51] Tratcher commented on #257
What are you going to do without it?

[2015-05-06 18:10] Matthew-Bonner commented on #257
Unit test?

[2015-05-06 18:34] Tratcher commented on #257
Any examples? I can't picture a case where Startup.Configure would even be involved in unit tests. Functional/integration tests maybe, but then I would still expect you to be using IApplicationBuilder to set up the request pipeline.  Configure serves no other purpose.

[2015-05-06 18:59] HaoK commented on #257
So one scenario that this currently allows is an empty request pipeline, and using hosting to just run ConfigureServices to setup ApplicationServices correctly.  I think that is a worthwhile scenario to use hosting in this manner (EF's Migration tool currently does this for example, it only wants to ConfigureServices and create the appropriate DbContext).

[2015-05-06 19:02] Tratcher commented on #257
Sounds like you need to make Hosting's services more directly accessible...

[2015-05-06 19:10] HaoK commented on #257
Well we had a few iterations like that, and the reason we went away from that is to get away from exposing the manifest/import multiple container nightmare to the world... So now if you want to build a real IServiceProvider, you always call something like this:

[code]

vs the old error prone manually mucking around with service collections:

[2015-05-06 19:11] HaoK commented on #257
But my main point was, the usage above doesn't require use of IApplicationBuilder or any request pipeline...

[2015-05-06 19:51] tvlooy opened #259 "Error message with build.sh"
I'm running Ubuntu 14.04 LTS. Installed core dnx sdk based on https://github.com/dotnet/coreclr/blob/master/Documentation/get-dotnetcore-dnx-linux.md I get this error which I don't understand. What's wrong/missing? Any clues?
[code]

[2015-05-06 19:52] davidfowl commented on #259
Mono 4.x is broken with dnx

[2015-05-06 19:55] tvlooy commented on #259
Ok, thanks for pointing that out. Is this a known issue that I can follow somewhere?

[2015-05-07 23:57] muratg commented on #45
I don't recall the discussion around having another process doing the restart for you - this is for sure not the case for cross plat.  @lodejard @davidfowl any suggestions here?   I'm leaning towards doing the restart here.

[2015-05-08 16:33] bricelam opened #262 "Should DataDirectory be set to App_Data?"
This affects where connection strings like `"Data Source=|DataDirectory|\MyDatabase.sdf"` look for files. Without it, paths will be relative to `AppDomain.CurrentDomain.BaseDirectory` which, per aspnet/dnx#1253, is set to the runtime directory.

[2015-05-09 00:52] muratg commented on #262
https://github.com/aspnet/dnx/issues/1507

[2015-05-09 03:29] davidfowl commented on #262
This should be set in hosting

[2015-05-09 03:29] davidfowl commented on #262
Murat that's another bug

[2015-05-09 20:22] darrelmiller opened #263 "TestServer has a"

[2015-05-09 20:22] #263 closed

[2015-05-09 20:25] davidfowl commented on #252
@Tragetaschen ConfigureServices is setting up your dependencies. It's the last ditch effort to provide any more dependencies before the container is built. Configure runs after the container has been built and has access to everything.

[2015-05-09 20:48] Tragetaschen commented on #252
I'm well aware, but try to look at how a startup class works: I can get dependencies in the constructor (that's the first opportunity) and I can get dependencies in `Configure` (that's the last opportunity), but I cannot get any in `Configure*Services`. That's why I think it's odd.

[2015-05-09 20:59] HaoK commented on #252
We actually removed this functionally as a simplification/cleanup to avoid passing the host service provider to the startup loader in the last hosting iteration I think.

A workaround would be to just grab the dependencies in the startup ctor and store them for later use in configure services. A further subtlety is that the startup dependencies are actually from a different (hosting) container tha

[2015-05-11 12:13] Matthew-Bonner commented on #254
I'm worried that this is being pushed back at a time when our Startup class just keeps growing in size. I've already gave a compelling reason as why this should be implemented along with discussing the implementation however unfortauntely I'm not allowed to sigh the SLA due to my employment so it is pointless me sending a pull request, therefore can someone who can sign the SLA please submit a pul

[2015-05-11 12:39] Tragetaschen commented on #254
I'm a bit confused how much implementation and documentation work would be required to remove one empty class that's trivial to implement and doesn't need any maintenance. It sounds like you want to move five lines of code (where one line contains the important stuff) into one line of configuration code.

It's likely that I'm missing something, but what I understand now doesn't sound like enough b

[2015-05-11 13:29] Matthew-Bonner commented on #254
You are both right and wrong, you are right in that this relates to 5 lines of code but wrong in that it isn't about moving these lines, it is about removing these lines completely as you shouldn't have to extend a class in order for the code to be executed.

I'm trying to achieve the following:
- code reuse, having the required startup code in one project so that many other projects use it withou

[2015-05-11 13:50] Tragetaschen commented on #254
Ok, everything you require is trivially solved by deriving from or calling into an existing Startup class using the main project's Startup class without any need for extending Hosting. The only reason you gave for not doing this seems to be because you don't want to.

I'm not writing this to dismiss your request. I'm just someone that could write the PR, but I don't see enough value in your reques

[2015-05-11 14:02] Matthew-Bonner commented on #254
The problem isn't that I don't want to, the problem is that no matter which way we do this it is incorrect.

I've already explained why extending a class is wrong, but also consider the following:
[code]

This is just as stupid as extending the class, yet at present this is what we are forced to do.

[2015-05-11 14:08] davidfowl commented on #254
I'm sorry I can't get over the scan. We just don't scan things by default anymore and it's not just a decision we made on a whim, it's just *bad* scanning all loaded assemblies this early in the pipeline. I absolutely think the majority of users will have the startup class defined in the main assembly (similar to how they have their Program.Main in the assembly they are starting).

Allowing you sp

[2015-05-11 14:10] Matthew-Bonner commented on #254
I've already said we don't need to scan all assemblies, we could introduce an attribute and then we search for the namespace in which that attribute exists to see if there is a Startup class in that assembly.

[2015-05-11 14:17] davidfowl commented on #254
I'm thinking we just let you specify the startup class either in web.config (for helios) or Microsoft.AspNet.Hosting.json/ini or the command line arguments.

[2015-05-11 14:20] Matthew-Bonner commented on #254
Please, that would be nice as we currently use the web.config file to specify the startup class.

[2015-05-11 16:00] bricelam commented on #262
Note, on Desktop .NET, this was done by setting an application domain property:
[code]
I'm not sure what SQL Client will do on .NET Core.

[2015-05-11 16:02] davidfowl commented on #262
We need to investigate (that was gonna be my next question). Does that entire concept still exist on CoreCLR?

[2015-05-11 20:04] bricelam commented on #262
It looks like they've just removed the feature on .NET Core:

    System.ArgumentException: Invalid value for key 'attachdbfilename'.
       at System.Data.SqlClient.SqlConnectionString..ctor(String connectionString)
       at System.Data.SqlClient.SqlConnectionFactory.CreateConnectionOptions(String connectionString, DbConnectionOptions previous)
       at System.Data.ProviderBase.DbConnectionFact

[2015-05-11 20:17] sujitdmello opened #265 "Hosting:Application environment variable issue"
Really like the facility of providing a global Startup component for all apps via the Hosting:Application environment variable. This allows enterprise customers to put common Configure and ConfigureServices logic into one place and enforce it for every app. The one problem is that if you have this configured, the apps don’t get their own Configure or ConfigureServices methods called, so if apps wa

[2015-05-11 20:19] sujitdmello opened #266 "ConfigureServices being called 3 times"
Not sure when this started happening but I’m on the latest Beta5 bits now and even using the simple HelloWeb app, I noticed that if I have a ConfigureServices method in the Startup class, it is called exactly 3 times when running dnx . kestrel. Am I wrong in expecting it to be called just once? Or do I have an issue with my setup?

The Configure method is called once as expected.

[2015-05-11 21:00] HaoK commented on #266
Can you share the Startup class?  I don't see this behavior when running, for example the CookieSample: https://github.com/aspnet/Security/tree/dev/samples/CookieSample

[2015-05-11 21:06] Tragetaschen commented on #266
Looking at the code, the `EnsureApplicationServices` method in HostingEngine.cs does not shurtcut if `_applicationServices` is already set. So in Program.cs, the call to `Start` and twice to the `ApplicationServices` property will each call the delegate eventually.

This happened in 77e2dc2.

[2015-05-11 21:11] HaoK commented on #266
Ah yeah that's definitely it, good catch, I'll fix and add tests today

[2015-05-11 22:09] HaoK commented on #266
1354d66fb6dbaa732e18c66daf40a6fda20b7b90

[2015-05-11 22:18] HaoK commented on #265
ConfigureServices now runs earlier, as the first thing the hosting engine does when it starts up.  In Beta 3, this would run much later.  Are there any dependencies in your RepositoryImpl ctor that might be missing when run this early?

[2015-05-11 22:22] Tratcher commented on #265
How are you doing your chaining?
Hosting -> Global Startup -> Global Configure Services -> App Specific Configure Services
Hosting -> Global Startup -> Global Configure -> App Specific Configure
Or
Hosting -> Global Startup -> Global Configure Services
Hosting -> Global Startup -> Global Configure -> App Specific Configure Services, App Specific Configure

The second example won't work, you'd need

[2015-05-11 22:58] sujitdmello commented on #265
I think it's Hosting -> Global Startup -> Global Configure Services -> App Specific Configure Services

Everything works (all the other services are working fine). It's just the Repository which it is not finding. And I dumped all service descriptors to verify that it was in the list after it was added by the application code. It's a simple in-memory repository that uses a Dictionary so hopefully

[2015-05-12 01:10] davidfowl commented on #59
This is finally done https://github.com/aspnet/Hosting/commit/e19289f7ac8a960ae84b04020331bbed9f035a7a. We now rely on `ctrl + c` across the board (SIGINT on mono and likely on coreclr xplat).

[2015-05-12 01:10] #59 closed

[2015-05-12 12:13] leastprivilege opened #268 "VisualStudio should use dnx --watch and restart on code change"
Right now VS spawned cmds terminate the listener on a code change. Restarting would make for a really nice and convenient dev env.

[2015-05-12 17:07] Eilon commented on #266
Re-opening because apparently this still repros for @sujitdmello .

[2015-05-12 17:08] Eilon commented on #266
From @sujitdmello :+1:

[code]

[2015-05-12 17:10] Tratcher commented on #266
The CI build just passed 15 minutes ago. Try again @sujitdmello.

[2015-05-12 17:40] sujitdmello commented on #266
Perfect! Just did a dnu restore and it worked! Just one call to ConfigureServices. Thanks guys!

[2015-05-12 17:40] #266 closed

[2015-05-12 20:29] sujitdmello commented on #265
This may be a problem with the way I am loading the application assembly and executing the *ConfigureServices* method. If I directly add a reference from the global configuration component to the application component and call *ConfigureServices* that way - it works fine. Unfortunately this is not a viable solution because the global component is meant to work with any application. However if I us

[2015-05-13 17:24] Matthew-Bonner opened #269 "Change Microsoft.AspNet.Hosting.ini to Microsoft.AspNet.Hosting.json"
This might already be planned but I'm raising it here as there are many references to Microsoft.AspNet.Hosting.ini in examples on websites giving an insight into ASP.NET 5, which is likely to cause confusion if the file is changed from an ini to a json file, so if we are going to use json files it would be better if we switched sooner rather than later.

[2015-05-13 17:48] Matthew-Bonner commented on #269
Pull request: #270

[2015-05-13 20:23] sujitdmello commented on #265
So the problem was on my end - I was using some convoluted Assembly loading technique to load and run the *ConfigureServices* and *Configure* methods in the application code which was causing the problem. Turns out there is a much easier way to do this now in Beta5. Here is a snippet from my Global Configuration component (activated by setting the *Hosting:Application=GlobalConfigurationComponentA

[2015-05-13 20:23] #265 closed

[2015-05-13 20:50] Tratcher commented on #140
https://github.com/aspnet/Hosting/pull/255

[2015-05-13 20:50] #140 closed

[2015-05-13 21:39] Tratcher commented on #137
@muratg Needs a new repo - ResponseCaching

[2015-05-14 00:27] HaoK commented on #199
https://github.com/aspnet/EntityFramework/issues/2024

[2015-05-14 00:51] HaoK commented on #199
Looks like all product references have been removed except for Test related code, and the associated EF migration tool issue:

Hosting also has two but they live in test helper code:

Hosting\src\Microsoft.AspNet.Server.Testing\Deployers\IISExpressDeployer.cs:134:
[code]
Hosting\src\Microsoft.AspNet.TestHost\TestServer.cs:81:
[code]

All the rest of the CallContext usage is only in tests, so looks

[2015-05-14 00:51] #199 closed

[2015-05-14 19:22] Tratcher commented on #45
Going back to https://github.com/aspnet/dnx/issues/1795 as the primary discussion thread.

[2015-05-14 19:22] #45 closed

[2015-05-15 00:15] Tratcher commented on #257
We don't need to add anything until we find users actually encountering this issue.

[2015-05-15 00:15] #257 closed

[2015-05-15 02:49] Rick-Anderson opened #272 "Security: if (env.IsEnvironment("Development")) is true on Azure"
Using VS2015 RC.
Create a new MVC 6 app and deploy to Azure. The debugger shows that the following code in the Configure method in startup.cs returns true on Azure

[code]

So on Azure you could leak information through the call stack and detailed errors. I used KUDU to verify ("Development") is not an environment variable.

[2015-05-15 05:14] Eilon commented on #272
The env var is called `ASPNET_ENV` or something, and its *value* is the environment name. Not that this necessarily explains what you're seeing...

[2015-05-15 05:15] davidfowl commented on #272
It does, we don't default to Production yet...

[2015-05-15 05:15] Eilon commented on #272
Oh... we want to change the default in Antares or something? I vaguely recall discussing this like 12 months ago...

[2015-05-15 05:17] davidfowl commented on #272
Ahh yes I dont think we ever did that.

[2015-05-15 15:48] blowdart commented on #272
Yes. You all promised that release would be the default a year ago. Changing the default in Antares isn't enough. Change the default *everywhere* as was agreed.

[2015-05-15 16:36] Eilon commented on #272
So default is Release (or Production or whatever) and VS sets its F5/Run setting to Development? That sounds familiar too.

[2015-05-15 16:37] blowdart commented on #272
That was what we agreed to, but still isn't implemented.

[2015-05-15 16:44] Eilon commented on #272
@blowdart can you log a bug in Tooling-Internal for VS and another bug in DNX for the runtime?

[2015-05-15 16:45] Eilon commented on #272
Or sorry, no bug in DNX. Just Hosting. Which is this bug. So just one bug :smile:

[2015-05-15 16:45] Eilon commented on #272
One *new* bug, that is :smile:

[2015-05-15 16:46] blowdart commented on #272
Yes, it's been in DNX for a while - https://github.com/aspnet/dnx/issues/777

[2015-05-15 16:48] Eilon commented on #272
I think this is a Hosting-specific thing though, isn't it? Maybe back then it was DNX-wide but I'm not sure that's the case anymore... is it?

[2015-05-15 16:51] glennc commented on #272
We had not done this yet because we were waiting on tooling to set the variable to development, so that we didn't change everyone to prod on their dev machine overnight. Not sure if that work has been done or not yet.

[2015-05-15 16:53] blowdart commented on #272
There was no issue logged with tooling, so there doesn't appear to have been any tracking of this. There is now an issue.

[2015-05-15 17:44] glennc commented on #272
Ok, tracked this down a bit more. VS sets it to dev when running IISExpress.

[2015-05-15 18:00] muratg commented on #272
This is hosting specific.  Assigning to @Tratcher

[2015-05-15 20:50] HaoK commented on #252
5b851c49a337e49001ed2351253ab0f52b696040

[2015-05-15 20:50] #252 closed

[2015-05-15 21:46] #272 closed

[2015-05-17 07:43] davidfowl commented on #141
Moving forward, we're only going to support a single application per application pool. In fact CoreCLR is this way already for ASP.NET 5 applications.

Yes, the host process has to die. Even if we shadow copy, the process still has to be cycled. We're not using appdomains anymore (and can't on CoreCLR).

There are ways around this that we need to explore. Like file renames names + a way to recycle

[2015-05-18 03:07] GuardRex commented on #141
The three commands that I show above with `recycleApp` work reliably. I've been publishing for the past few weeks OK. I haven't run into locked files on the server with this approach.

Anyone following this approach/hack keep in mind:
1. Set your IIS website physical path to the `wwwroot` folder on the server.
2. Set your Web Deploy path to the folder above the `wwwroot` folder for the `msdeploy.e

[2015-05-19 17:44] Tratcher commented on #137
New repo: https://github.com/aspnet/responsecaching

[2015-05-20 01:11] rustd opened #276 "Hosting should take in hosting file name as an argument"
This would allow us to do the following.
[code]
The code that needs to be changed is https://github.com/aspnet/Hosting/blob/5b851c49a337e49001ed2351253ab0f52b696040/src/Microsoft.AspNet.Hosting/Program.cs

As a stretch it would be awesome if the hosting could read a json file so we could have hosting.json

[2015-05-20 01:11] rustd commented on #276
@muratg @Eilon This is for Beta5 from the templates review

[2015-05-20 16:37] rustd opened #277 "Hosting is not able to load Microsoft.AspNet.Hosting.ini file"
I have a sample which has the following in web command and hosting file. This does not work today.
[code]
and the following in Microsoft.AspNet.Hosting.ini
[code]

[code]

[2015-05-20 16:37] rustd commented on #277
@muratg this is for Beta5 for the templates

[2015-05-20 17:02] danroth27 opened #278 "Provide a better error message when the webroot folder does not exist"
[code]

[2015-05-20 18:04] muratg commented on #276
https://github.com/aspnet/Hosting/issues/277

[2015-05-20 18:13] davidfowl commented on #276
@lodejard

[2015-05-20 21:04] Tratcher commented on #277
FYI: The expected key names are:
[code]
or
[code]

[2015-05-21 17:29] #276 closed

[2015-05-21 17:33] muratg commented on #276
@rustd Template change for the web command should be unblocked now.

[2015-05-22 00:03] rustd commented on #277
@Tratcher I tried this and I got this error
[code]

[2015-05-22 12:49] Tratcher commented on #277
Using what packages? Coherence hasn't published a build in days. Or are you using volatile?

[2015-05-22 14:00] sujitdmello opened #281 "IIS publishing - Couldn't determine an appropriate version of KRE"
Published a web API as follows:

*dnu publish --no-source --out c:\inetpub\wwwroot\ToDoApi --runtime dnx-clr-win-x64.1.0.0-beta5-11781*

Go to c:\inetpub\wwwroot\ToDoApi folder and run *web.cmd* or *kestrel.cmd* - app works great. Configure IIS to point to the *c:\inetpub\wwwroot\ToDoApi\wwwroot* folder and try to access the app via *http://localhost/ToDoApi/default.html* - I get an error:

[code]

[2015-05-22 15:11] Tratcher commented on #281
That error message says "KRE" which tells me you're trying to use a beta4 build of Microsoft.AspNet.Server.IIS. You need to update all of your packages to beta5 to run with the beta5 dnx.

[2015-05-22 16:58] #277 closed

[2015-05-22 19:28] sujitdmello commented on #281
Correct! Was also missing a reference to Microsoft.AspNet.Server.IIS in project.json.

Thanks!

[2015-05-22 19:28] #281 closed

[2015-05-22 20:03] rubenprins commented on #141
Are you serious? How is that supposed to scale? We run IIS servers with 200+ applications. Mostly small-ish applications in virtual directories so we can keep the number of domains manageable (which is also an issue in itself with v5 with its split wwwroot/approot). With 200+ CLRs running, 90% of server memory would be DNX overhead alone! Forget about not being able to update/deploy: we can't even

[2015-05-23 09:23] davidfowl commented on #141
200 sites running in how many app domains? Are these sites isolated security wise? If so I'm sure you know that we even recommend ASP.NET 4.x sites don't use app domains for security isolation. There's also an interesting thread on the CoreCLR repository that discusses this (https://github.com/dotnet/coreclr/issues/642), feel free to add your scenario there.

If there's no security problems, how m

[2015-05-26 14:13] rubenprins commented on #141
Although this discussion is veering wildly off topic, just a few clarifications: no, we don't need security isolation; the applications we host are built by ourselves, so there's no trust issues.

And since most of the applications are still web forms, we are indeed profiting from a lot of (ngen'd) code and metadata sharing, as well as other memory/resources/(GC) threads the CLR deems fit to share

[2015-05-26 19:28] sujitdmello opened #283 "Application:Hosting environment variable - possible to set version of assembly?"
We are using the **Application:Hosting** environment variable to provide our own *Startup* class but we are also using the Servicing facility by putting the *index.txt* file in the **c:\Program Files (x86)\Microsoft DNX\Servicing** folder. However, the servicing only *seems* to work if you use the Version of the assembly and I was unable to set the Application:Hosting environment variable to inclu

[2015-05-27 21:29] sujitdmello commented on #283
Figured out the issue - it does work but you have to have the 2 projects (app and global startup assembly) in different locations otherwise it compiles the source for the dependent assembly on the fly and does not use the NuGet packages. Turning on *DNX_TRACE=1* and looking at the source was helpful in understanding the inner workings.

I had them in the same solution which was causing the problem

[2015-05-27 21:29] #283 closed

[2015-05-29 19:29] bricelam opened #286 "Decouple service discovery from Hosting"
As mentioned in aspnet/EntityFramework#2136 and aspnet/EntityFramework#2020, we should try to decouple the discovery of services using `Startup.ConfigureServices()` from the rest of Hosting. Maybe it should be part of DependencyInjection.

Service discovery is used by the EF Migrations tooling to get the IServiceProvider to pass into the DbContext at design-time. Clearly, this doesn't require sett

[2015-05-29 19:43] Tratcher commented on #286
One of Hosting's primary jobs is to find Startup and execute it. I don't think you can meaningfully decouple that. The EF Migrations service discovery you're referring to is Asp.Net specific, correct? Startup is the Asp.Net entry point (via Hosting) so the current setup seems appropriate. DI is not Asp.Net specific so I don't think you could move this there.

That said, if there were a way to have

[2015-05-29 19:47] HaoK commented on #286
This actually possible already. Simply access ApplicationServices off of the hosting engine without calling start(). That will trigger only configure services without invoking configure.

[2015-05-29 20:35] bricelam commented on #286
Should ConfigureServices be moved outside of Startup?

Another options is to create a non-ASP.NET (but DNX) specific entry point to configure services at design-time. To keep things DRY users could make their Startup.ConfigureServices call into this entry point...

[2015-05-29 20:54] Tratcher commented on #286
The only DNX app entry point is Program.Main.  It sounds like you're recommending Program.ConifigureServices. Though as Hao pointed out, DNX doesn't have access to Hosting's services needed for an Asp.Net application.

[2015-06-01 17:27] muratg commented on #286
Interesting https://twitter.com/RickStrahl/status/604197208674574336

cc @davidfowl

[2015-06-01 17:46] bricelam commented on #286
We could also go back to the EF6 approach of `IDbContextFactory` where the user is responsible for writing code to bridge the gaps between runtime and design-time.

[2015-06-01 17:48] Tratcher commented on #286
And/or provide the bridge for Asp.Net as a separate package.

[2015-06-01 17:52] divega commented on #286
Yes, it would help to just move the ability to find and execute `Startup.ConfigureServices()` to some kind of utility package that can be used by both Hosting and design time tooling such as the EF commands, so that the EF commands don't need to depend on the whole Hosting. It doesn't need to move to DNX.

That said, I do see as something good to have the ability to create DNX applications that ar

[2015-06-01 18:06] Tratcher commented on #286
Or split EF.Commands so that only the Asp.Net specific commands depend on Hosting.

[2015-06-02 17:54] upendras opened #287 "TestServer fails in MVC beta5 projects"
Not exactly sure if its a MVC issue or Hosting issue, but creating a simple MVC website with ASP.Net vNext beta5 template and running a test with:

`var server = new TestServer(TestServer.CreateBuilder().UseStartup<Startup>());`

fails with a TargetInvocationException with the stack trace:
"Nullable objects must have value."

[code]

[2015-06-02 18:22] kichalla commented on #287
You could try using the [TestHelper](https://github.com/aspnet/Mvc/blob/release/test/Microsoft.AspNet.Mvc.FunctionalTests/TestHelper.cs) class that MVC uses in its own functional tests and you example usage is [here](https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNet.Mvc.FunctionalTests/ActionResultTests.cs#L20-L44).

[2015-06-02 18:30] rynowak commented on #287
We should still look into this. The error message and callstack to me say "bug" not "unintended"

[2015-06-02 20:12] upendras commented on #287
@kichalla I get the same exception when trying to use TestHelper :(

[2015-06-02 20:14] rynowak commented on #287
Can you attach a debugger and find out what's being created by `System.Activator.CreateInstance`?

Or if you could create a repo with your project one of us can try to debug.

[2015-06-03 21:08] rynowak commented on #287
Moving to https://github.com/aspnet/Testing/issues/117 - this is a `Microsoft.Framework.TestHost` issue, not a `Microsoft.AspNet.TestHost` issue :laughing:

[2015-06-03 21:08] #287 closed

[2015-06-04 14:43] davidfowl opened #288 "Simplify RequestContainerMiddleware"
I think we should inline some of RequestServicesContainer.EnsureRequestServices

[2015-06-04 16:29] muratg commented on #288
@Tratcher

[2015-06-04 17:35] HaoK commented on #288
Yep I don't think we actually need it anymore, we used to call it directly via auth/routing middlewares.  I think we can just nuke it and put all the code back inside of RequestContainerMiddleware's Invoke

[2015-06-04 18:41] Tratcher commented on #137
Related: Our IIS plugin and (soon) WebListener have limited access to the kernel mode cache. See https://github.com/aspnet/WebListener/issues/121

[2015-06-04 19:01] sujitdmello opened #289 "Hosting:Application environment variable does not work when hosted in IIS"
Tried *setx Hosting:Application CustomStartup*, then *iisreset* but it does not invoke the custom startup class. Running from command-line with *dnx . web* works as expected.

How do we configure apps in IIS to use the custom Startup assembly?

[2015-06-04 19:59] muratg commented on #289
@Tratcher

[2015-06-04 21:53] Tratcher commented on #289
Is this related to https://github.com/aspnet/Home/issues/645? Or does it not even work with a project.json reference?

[2015-06-04 22:06] sujitdmello commented on #289
It does not work even with the project.json reference. Running the published web.cmd helper file works but not when run via AspNetLoader as an IIS app. The app works fine, it just does not attempt to load the global startup assembly.

[2015-06-04 22:20] muratg commented on #289
@sujitdmello What does your project.json look like?  Are you using Beta 4 or dev bits (Beta 5)?

[2015-06-04 22:34] sujitdmello commented on #289
Using dev bits. Below is the published *project.json* file.

[code]

[2015-06-05 03:16] darrelmiller commented on #137
The HttpMessageHandler based HttpCache I wrote here https://github.com/tavis-software/Tavis.PrivateCache/blob/master/src/PrivateCache/PrivateCacheHandler.cs has all the caching logic as per rfc7234.  Because I built it as a private cache there are a few conditions that shared caches need to account for that I didn't take into account.  I believe the full set of conditions are in the diagrams here

[2015-06-06 10:13] georgiosd opened #290 "MSDeploy 3.6 ASP.NET 5 (MVC 6) application to IIS8.5 with full CLR doesn't work"
I spent about 3 hours on this last night with no luck!

Simple app:

[code]

I'm using Visual Studio 2015 RC to trigger an MSDeploy deployment:

- Server is 2012 R2 and has MSDeploy 3.6 preview installed.
- Exported publish settings from IIS and used Publish -> Import to import it to Visual Studio which created a .pubxml and associated powershell script. I had to make some manual edits for it to f

[2015-06-06 20:20] georgiosd commented on #290
Hm... I tried deploying (but copying only) the files to my local IIS (Windows 7) and it worked fine. I also copied the files from my local IIS to the Windows Server IIS and I had the same problems.

So it makes me think this is a config problem and not a deployment problem. Any ideas?

[2015-06-07 02:58] Suchiman opened #291 "In-Process Selfhosting like Web API 2"
OWIN allowed you to selfhost the app in-process. This allowed you to selfhost Web API 2 in your desktop application.
[code]
As i've heard about ASP.NET 5 and MVC 6 finally being OWIN based i was very excited about having this chance with MVC too.
Since i couldn't find anything about it except
[code]
i tried fiddling with the hosting project. After hours of hacks going nowhere and reverse engineeri

[2015-06-07 03:10] jakesays commented on #291
This could easily be solved by changing the product name to Asp.Node. If that were to happen then the behavior you're experiencing would be perfectly fine.

[2015-06-07 03:30] davidfowl commented on #291
A few nits before I get to your main questions:

You mean Katana. Not OWIN.

ASP.NET 5 is not based on OWIN but supports OWIN. It's a nitpick but an important one. You can read about the evolution of Katana project and how it relates to ASP.NET 5 here http://blogs.msdn.com/b/webdev/archive/2014/11/14/katana-asp-net-5-and-bridging-the-gap.aspx.

Not very but that's intentional. The entire purpose o

[2015-06-07 03:46] davidfowl commented on #291
Related to https://github.com/aspnet/Hosting/issues/215

[2015-06-07 04:21] Tratcher commented on #291
WebApp.Start is now WebHostBuilder.Start as shown here: https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Program.cs#L37

[2015-06-07 04:28] jakesays commented on #291
This is unsettling. You've basically created an entirely new product that is incompatible with 15 years of history. Good job.

I would love for someone to explain the rationale behind such thinking.

[2015-06-07 04:51] davidfowl commented on #291
I already tried but maybe I failed.  Some things that might expand:

- http://docs.asp.net/en/latest/
- http://weblogs.asp.net/scottgu/introducing-asp-net-5
- http://channel9.msdn.com/Events/Build/2015/2-687

That said, .NET Framework isn't going anywhere, and you can still use it. This is a new world and people won't all move on day 1 but I expect the majority of green field applications to migra

[2015-06-07 05:03] jakesays commented on #291
You're fracturing your own ecosystem, and yes, it is exactly like the move from ASP to ASP.NET, only this time you're really not improving things all that much. You say .net fw isn't going anywhere, but since the two systems are incompatible you're forcing people to choose. This will result in asp.net in .net to stagnate.

And your expectation of greenfield app development migrating is not realist

[2015-06-07 05:10] Suchiman commented on #291
@davidfowl
Okay can you elaborate on these abstractions?
What i mean is, which new problems have been raised that needs new abstractions?

Speaking in terms of abstractions and running things similiar, in case MS didn't notice, we had the CLR for Windows Desktop and Mono for linux.
Mono did an excellent job at providing a CLR like environment (except for the incomplete / not-always-bugfree BCL) on

[2015-06-07 05:33] davidfowl commented on #291
@Suchiman @jakesays I'd rather not get into a debate like this on the Hosting github issue. If you're against the entire direction of the product, maybe start an issue on aspnet/Home. This is the direction we're currently going in, building a new platform for web developers using including things and also taking things into account like x-platform and being able to expose NuGet in a more first cla

[2015-06-07 05:33] #291 closed

[2015-06-07 05:40] davidfowl commented on #291
@Suchiman you asked:

I'll show a few examples of things you'd need to implement on vanilla .NET 4.5 to make things work:

- https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/DefaultAssemblyProvider.cs#L17:
-  `ILibraryManager` is used to discover dependencies of the application that reference MVC https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Razor/Compilation/

[2015-06-07 05:50] davidfowl commented on #291
Also related https://github.com/aspnet/dnx/issues/1431

[2015-06-07 05:55] Suchiman commented on #291
@davidfowl thanks... that will take me some time to get through, i respect your effort.

[2015-06-07 06:57] davidfowl commented on #291
@jakesays

That's fair, but if we didn't think we were improving anything we wouldn't have done it to begin with. I hope that as more people use the new system, they appreciate the new scenarios it brings.

Although you have to choose, they aren't totally incompatible so lots of sharing is still possible.

[2015-06-07 07:19] LodewijkSioen commented on #291
I fully understand why a clean break was needed for dnx. However, as a maintainer of an organically grown 10+ year old application, it's kind of disappointing that at least mvc6 doesn't run on vanilla 4.5 unless we rewrite all WebForms, WCF, etc elements we have.

If I understand all this correctly, my project will be perpetually stuck on mvc5.

[2015-06-07 07:33] davidfowl commented on #291
@LodewijkSioen not really why can't they just be mapped to different virtual directories on IIS? This isn't really an all or nothing. There are interesting ways to interop. We definitely won't support running MVC 6 or any of the current stack on `System.Web`.

There are also other "creative" ways to make it work but none of them will be first class and supported. But as an example of what might be

[2015-06-07 18:30] georgiosd commented on #290
And yes ladies and gents, an epic "doh" moment, realizing that I hadn't selected ".NET 4.5  extensibility" in "Roles and Features" for the server...

[2015-06-07 18:30] #290 closed

[2015-06-08 07:24] LodewijkSioen commented on #291
Given enough Duct Tape... :weary:

Two virtual directories seems like a lot of overhead for installation/updating (we're installed on-premise). Also that means another project, which means juggling the shared resources around. Your 'creative' solution seems more appealing. I'll try to throw some code at this to see what the possibilities are.

[2015-06-08 07:42] davidfowl commented on #291
Sure but this is a something we are specifically not targeting. System.Web doesn't go with this new stack and we don't plan to run on it.

[2015-06-08 15:32] jakesays commented on #291
So basically what you're saying is "Oh yeah you can use your existing code, but only if you hack the hell out of it" - that is really a shit policy. If I want Legos, I'll go to walmart.

"We definitely won't support running MVC 6 or any of the current stack on System.Web." - David I'm not sure if it's just your style or you really are an offensive ass, but what we get from you is "I really don't g

[2015-06-09 03:24] darrelmiller commented on #137
This may or may not be useful, but I recently updated my [HTTP caching library](https://github.com/tavis-software/Tavis.HttpCache) to handle variants properly and added the logic applicable to shared caches.   It uses the System.Net.HTTP  classes, but most of the logic should be the same.  The logic is based on the diagrams [here](http://bizcoder.com/caching-is-hard-draw-me-a-picture).

[2015-06-09 04:05] davidfowl commented on #137
@Tratcher why is this in hosting and not on the https://github.com/aspnet/ResponseCaching repo

[2015-06-09 05:14] Tratcher commented on #137
@davidfowl because the response caching repo is newer than this issue. It also needed design to figure out where the pieces belonged.  We can close this out now and create new items in ResponseCaching.

[2015-06-09 05:20] #137 closed

[2015-06-09 12:26] darrelmiller commented on #291
@jakesays System.Web carried many years of legacy that is very difficult to fix without making a clean break.  However, I can assure you that the decision was not taken lightly.  There were long debates and much consultation with the web community on the subject.
As painful as it is currently, the decision to drop system.web will definitely be worth it in the long run.

[2015-06-09 16:53] Tratcher commented on #137
https://github.com/aspnet/ResponseCaching/issues/1

[2015-06-10 19:21] LodewijkSioen commented on #291
@darrelmiller I've thought a bit about what you said there. It's not about dropping System.Web. Microsoft can drop that reference, no big deal. NancyFx, for example, doesn't need System.Web either. What I'm worried about is that I will never be able to upgrade to Mvc6 or SignalR3 because there is a large WebForms presence in my app that I can't just rewrite.

[2015-06-11 18:16] Tratcher commented on #289
It works for me if I add `/M'. IIS runs as a different user, so the extra flag is needed to set the environment variable system wide.

[2015-06-11 18:24] sujitdmello commented on #289
Nice catch - I forgot about the /M switch :(

Thank you @Tratcher

[2015-06-11 18:24] #289 closed

[2015-06-11 21:38] muratg opened #292 "Remove the need to use app.UseStatusCodePagesWithReExecute("...")"
Why do we need to use this for IIS?

See an example here: https://github.com/mikaelm12/Blogger/blob/master/src/Blogger/Startup.cs

[2015-06-12 16:33] Tratcher commented on #292
If you don't use this on IIS then you get the rather ugly default status code pages. This middleware allows you to render your own stylized pages.

[2015-06-12 18:02] Tratcher commented on #278
Dupe of https://github.com/aspnet/Hosting/issues/233

[2015-06-12 18:02] #278 closed

[2015-06-12 18:02] #286 closed

[2015-06-12 18:03] #292 closed

[2015-06-12 18:11] BrennanConroy commented on #259
Use the new Mono 4.0.1 that you get from installing mono-complete from wheezy main.

[2015-06-12 19:01] Tratcher commented on #214
@HaoK Did this get done? If not please move it to beta6.

[2015-06-12 19:10] HaoK commented on #214
Not yet I will take a look today/next week

[2015-06-13 06:45] tvlooy commented on #259
@BrennanConroy thanks for the heads up. This error went away but I now have other errors. But to be sure, what branch of this repo should I use? Tried with dev, master, release and 1.0.0-beta4.

System info:
[code]

[2015-06-13 08:18] BrennanConroy commented on #259
If you're using beta6 then dev branch, also don't use coreclr for restoring, it won't work.

[2015-06-13 09:13] tvlooy commented on #259
ok, I have exactly the same error on my system than the travis build. So waiting for a stable build then. Any commit you could recommend that works? I checked travis but all builds of the last months have failed

[2015-06-15 17:09] Tratcher commented on #233
This issue manifests in several different ways.
A) In VS you get an error trying to run with IIS Express: `The 'webroot' property value 'wwwroot' in the project.json file points to a folder which doesn't exist.`. In this case I think VS could try to create the directory.
B) `dnx . web` throws a `System.IO.DirectoryNotFoundException`. See #278. Hosting could create the directory in this case.
C) Pu

[2015-06-15 17:29] Tratcher commented on #133
Dupe of #233

[2015-06-15 17:29] #133 closed

[2015-06-16 00:42] #259 closed

[2015-06-16 03:55] RickyLin commented on #222
which issue was this issue duplicated with?

[2015-06-16 07:15] davidfowl commented on #222
@Tratcher This method still needs to be fixed.

[2015-06-16 07:16] davidfowl commented on #222
Moved to beta6 /cc @muratg @Tratcher

[2015-06-16 15:50] Tratcher commented on #222
This is being tracked in a private repo for IIS. https://github.com/aspnet/Helios/issues/72

[2015-06-16 16:36] davidfowl commented on #222
This needs to be kept open because the implementation of IHostingEnvironment.MapPath is incorrect. Even after the Helios bug is fixed this needs to be fixed still.

[2015-06-17 08:22] jsacapdev opened #296 "IApplicationLifetime ApplicationStopping does not trigger when you press ctl+c from the command line"
Possibly related to https://github.com/aspnet/Hosting/issues/151.

In the following code:

[code]

...the OnStopping event is not raised.

The following code works.

[code]

This is the case for Microsoft.AspNet.Server.WebListener or Kestrel.

[2015-06-17 08:25] davidfowl commented on #296
What version of hosting are you using?

[2015-06-17 08:26] davidfowl commented on #296
Also, you're talking about ctrl + c not triggering stopping right?

[2015-06-17 08:37] jsacapdev commented on #296
Microsoft.AspNet.Hosting (1.0.0-beta6-11996)

Yes, CTRL+C does not trigger the stop.

[2015-06-17 13:08] Tratcher commented on #296
Does the application exit as expected or just hang?

This may be related to https://github.com/aspnet/WebListener/issues/71 (private)

[2015-06-17 13:47] jsacapdev commented on #296
exits

[2015-06-17 14:04] jsacapdev commented on #296
At the command line it does not seem to work at all (even without the MVC registration). Using 1.0.0-beta6-12085 coreclr x64, at the command line:
[code]
In Visual Studio:
[code]
Note there are differences between these two traces.

[2015-06-17 22:09] Tratcher commented on #233
A tooling bug has been filed for Scenario A. Scenario B is fixed by #293. I think we can call this done unless you find other scenarios.

[2015-06-17 22:09] #233 closed

[2015-06-19 17:48] Tratcher commented on #296
Yeah, this is a race-condition bug. See http://stackoverflow.com/questions/18291284/handle-ctrlc-on-win32. Apparently the process shuts down as soon as the Ctl+c event exits, but on the main thread the shutdown code doesn't run until the using statement calls dispose.  I think we have to add a waithandle.wait inside of the ctl+c event that lets us know when the cleanup work has finished.

[2015-06-19 22:16] Tratcher commented on #296
This should be fixed in Microsoft.AspNet.Hosting 1.0.0-beta6-12009 or later (available later today).

[2015-06-19 22:16] #296 closed

[2015-06-23 06:41] davidfowl commented on #296
/cc @halter73 could this be related to what you were seeing with kestrel?

[2015-06-23 19:04] Tratcher opened #298 "Streamline server specific entry points"
Kestrel and WebListener have their own Program.Main that wraps Hosting's. This allows the commands to be simplified, but requires each server to add its own `--server` parameter. See https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel/Program.cs#L15-L20

Proposal: Add a code path in Hosting's Program class that allows servers to directly provide a reference to their server factory tha

[2015-06-23 20:44] HaoK commented on #288
ee8baab1ed725cbce97e8daccd5ee7dbacad51b5

[2015-06-23 20:44] #288 closed

[2015-06-23 22:51] Tratcher opened #299 "Establish Write and flush buffering semantics"
Formalize and document the response stream semantics around buffering, flushing, re-winding, etc..

This may be best explored by just implementing a buffering middleware (#49).

[2015-06-24 18:37] halter73 commented on #296
@davidfowl @Tratcher's fix combined with the "OnStopRude" changes in kestrel resolve the CTRL+C issues.

[2015-06-26 03:56] Tratcher commented on #254
@Matthew-Bonner You can already specify the assembly containing your Startup class via config. The key is `Hosting:Application`. For sites running in IIS/Express you can specify this as an environment variable or in a Microsoft.AspNet.Hosting.ini file in the root of your project directory.

https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/WebHostBuilder.cs#L24
https://github

[2015-06-29 18:39] HaoK commented on #214
bf6e293bfedcb921215f8c4273839912be205719

[2015-06-29 18:39] #214 closed

[2015-06-29 18:41] HaoK commented on #234
Only RequestDelegate remains doesn't sound like there's any interest in creating more delegates, closing this issue

[2015-06-29 18:41] #234 closed

[2015-06-29 22:49] #254 closed

[2015-07-01 23:29] #212 closed

[2015-07-06 11:28] rubenprins commented on #222
@davidfowl, Please note that **Server.MapPath** is *much* smarter that many people realize, and we should have its functionalities available, since if the hosting framework (Helios) does not provide such information, it is 100% impossible to emulate this.

Take the following website structure:

web path | physical path
---- | ----
/ | d:\Inetpub\wwwroot
/myapp | d:\Inetpub\myapp\wwwroot
/otherapp

[2015-07-06 15:41] davidfowl commented on #222
Sure

[2015-07-06 17:41] rubenprins commented on #222
Even with Helios' specific IIS interface (I think you're referring to **IHttpApplication** - it's not actually documented anywhere) most path translations above are still not supported. It simply appends the relative path to the application's base path, just like **HostingEnvironmentExtensions** does, and only then it does its magic. This means it's impossible to **MapPath** outside the applicatio

[2015-07-07 10:34] davidfowl commented on #222
I actually haven't tried this interface myself but yes is it the IHttpApplication and it calls directly back into System.Web/IIS.

I'm guessing you tried it and it failed? Can you explain the scenario here? I know you're hosting a bunch of existing applications inside the same application pool based on an earlier discussion we have. I'd like to know how you're using configuring multiple sub applic

[2015-07-07 13:40] rubenprins commented on #222
Most of our applications are independent of each other, but they do share some configuration data. And some applications have multiple instances with exactly the same codebase + config files, but a different identity (and therefore different config anyway).

Sharing an application pool just makes managing applications easier, reduces memory pressure, and that's about it. Nothing architectural from

[2015-07-07 23:54] giggio opened #302 "BUG: WebHostBuilder.UseEnvironment being overwritten on WebHostBuilder.Build"
If you set the environment using `WebHostBuilder.UseEnvironment` and later call `WebHostBuilder.Build` it will initialize using `HostingEnvironmentExtensions`:
https://github.com/aspnet/Hosting/blob/1.0.0-beta5/src/Microsoft.AspNet.Hosting/WebHostBuilder.cs#L101
This will overwrite the setting applied with `UseEnvironment`, making this method useless.
Either remove the method, or rewrite the way i

[2015-07-08 04:31] davidfowl commented on #302
@giggio Care to submit a pull request?

/cc @HaoK

[2015-07-08 10:46] giggio commented on #302
@davidfowl sure. I will change it in a way that the Build method works.

[2015-07-13 08:48] davidfowl commented on #222
@rubenprins Thanks for that detailed explanation.

Why do you even need MapPath for this? What are virtual directories buying you in this case? Do you ever want to share website content? Or are you mostly just using this as a way to share data/settings/code between sites?

So far we're completely avoiding anything like this but it should be possible to build a system like this yourself with the ne

[2015-07-13 18:55] rubenprins commented on #222
@davidfowl, I feel like we're not getting closer to a common understanding here.

Not sites, but applications within a site (singular). At the moment site and application appear to be conflated a lot. I'm specifically talking about IIS *child applications* of sites. As in http://mysite/appA and http://mysite/appB, but NOT http://myothersite/appC, all on the same IIS server.

(Currently, ASP.NET 5

[2015-07-13 21:38] flyandi commented on #89
Can someone explain why everything with Microsoft has to be so complicated. Why not just add a flag to see directly the console output or someone could just post a full description instead of cryptic answers. Lot's of people have issue and there is barely documentation available and people land here and find an uncompleted answer. You can't expect that everyone is involved in the core development

[2015-07-13 22:57] muratg commented on #299
Notes: https://github.com/aspnet/HttpAbstractions/wiki/Rolling-Notes

[2015-07-14 05:30] davidfowl commented on #222
@rubenprins Oh no I think I understand your scenario. I shouldn't have said site, I actually meant application. You're right, MapPath doesn't work the way you want it to because we separate code from the wwwroot, but I'm not convinced you can't make it work any other way. We specifically don't allow looking outside of the application folder but we'll definitely take some under consideration as it'

[2015-07-14 10:06] rubenprins commented on #222
@davidfowl, Well, I still don't think we're on the same page here, with the new MapPath treating `/` as the application's `wwwroot`, rather than the physical path corresponding to the path `/`. I fear you have painted yourself (and us) in a corner here, as there is no way you'll later be able to support the full range of virtual paths without breaking everyting. I still maintain `~/` is fundamenta

[2015-07-14 15:23] davidfowl commented on #222
If you want to merge your wwwroot and approoot back into a single folder you can. I don't recommend it but it'll enable what you want to do. We don't have any native support for ~/ vs / and no, I don't think we've painted ourselves into a corner, the design was intentional and we do need to work xplatform and in more places than before. There's probably even a way to achieve what you want without

[2015-07-16 16:35] muratg commented on #30
:watch:

[2015-07-17 22:06] lodejard opened #303 "Take a pass over hosting arguments"
review which hosting arguments are recognized, review the command-line names of them, make sure they are ini-file friendly (like `server:name` instead of just `server`), and maybe a port variable by itself would be super nice to recognize

[2015-07-22 22:56] halter73 opened #306 "Don't use guid in GetRequestIdentifier"
Guid.NewGuid and Guid.ToString are a little slow. Using a incrementing long instead with an random starting seed will likely be faster.

We should also look at the most efficient way to generate a string from this long.

![profile](https://cloud.githubusercontent.com/assets/54385/8839344/8206c8a4-3089-11e5-8c85-2bc35e80841e.jpg)

[2015-07-23 00:56] csunali opened #307 "FileLoadException with the latest dev bits (1.0.0-beta7-12096) while using IIS Express"
Using VS 2015 RTM, environment info: .NET Framework CoreCLR version 4.0.20.0   |   DNX x64 version 1.0.0-beta7-12264   |   Microsoft.AspNet.Loader.IIS version 1.0.0-beta7-12096

Creating a new website, updating all of the packages to beta 7 bits, hitting F5 and getting the following exception (without any modifications to the MVC project template code):

[code]

[2015-07-23 03:33] csunali commented on #307
Seems like it will be fixed as of some future build.

https://github.com/aspnet/dnx/commit/e98111d25782b755a094eaeeedc2f0fedbec82db#commitcomment-12312842

[2015-07-23 03:33] #307 closed

[2015-07-23 03:33] csunali commented on #307
Closed for now.

[2015-07-23 04:45] Eilon commented on #306
We've had a lot of discussion before on `Guid` vs. other types of ids. Could we still use a Guid but generate it ourselves? Just thinking out loud here.

[2015-07-23 20:22] danroth27 commented on #138
This is being done in the [BasicMiddleware](https://github.com/aspnet/basicmiddleware) repo.

[2015-07-23 20:22] #138 closed

[2015-07-27 21:47] Tratcher commented on #306
@halter73's description sounds like what System.Web did previously.

You could also make Kestrel generate it directly using something like the socket handle and a request counter.

[2015-07-28 19:33] Tratcher opened #310 "[Perf] HttpContextFactory should only wrap ReadOnly feature collections"
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Builder/HttpContextFactory.cs#L14

IFeatureCollections can be marked as IsReadOnly or not. HttpContextFactory currently assumes they are all read only and wraps them in a mutable FeatureCollection. This has some perf overhead where it creates extra Dictionaries, etc, and is redundant if the server already provided a mutable co

[2015-07-29 15:10] pmdevers opened #311 "Change Hosting.ini to Hosting.json"
Please change the file format to json.
Every config file in Visual Studio is in json why not this one.

[2015-07-29 15:23] Tratcher commented on #311
Duplicate of https://github.com/aspnet/Hosting/issues/269

[2015-07-29 15:23] #311 closed

[2015-07-30 10:08] JiajieBao opened #312 "Can not use browsers to browse TestServer"
I use the following code to start a TestServer and keep it running:
TestServer server = TestServer.Create(app => app.UseFileServer());
Thread.Sleep(20000);
Then I enter "http://localhost/index.html".
The browser shows "can not connect to server".
server.BaseAddress.Port is 80.
How to fix it?

[2015-07-30 15:24] Tratcher commented on #312
This is by design. TestServer is for unit testing components in memory, it does not open any real network connections. HttpRequestMessages (HttpClient) are converted directly to HttpContext objects   (Asp.Net) without being sent over a socket.

Here is a usage example:
https://github.com/aspnet/BasicMiddleware/blob/dev/test/Microsoft.AspNet.HttpOverrides.Tests/OverrideHeaderMiddlewareTest.cs#L21

[2015-07-31 09:33] JiajieBao commented on #312
I want to build unit tests to test a JavaScript library.
First I start a local server, then use Selenium to do web browser automation, then do some assertion.
I want all these code within an xUnit testcase.
My question is: Can I start a "real" server within an [Fact]? And how?

[2015-07-31 17:57] glennc commented on #312
@Tratcher Will get you an example, AFAIK it is possible to do what you want.

[2015-07-31 21:30] Tratcher commented on #312
You can do that with WebListener or Kestrel. Try this:
[code]
And project.json:
[code]

[2015-08-01 13:31] JiajieBao commented on #312
Thanks. I tried this code and got a Runtime Error at CreateServer.
After debugging, I find that CallContextServiceLocator.Locator is null.
Could you help me to fix that?

[2015-08-01 15:57] tmds opened #313 "TestServer HttpClient send does not return after first write"
I have a test which has some code like this:

    var response = await client.PostAsync(...

On the server side, I am trying to stream some content so when I have some data I do a write and a flush:

    await _context.Response.Body.WriteAsync(buffer.Array, buffer.Offset, buffer.Count, cancellationToken);
    await _context.Response.Body.FlushAsync(cancellationToken);

My expectation is that the P

[2015-08-01 16:50] Tratcher commented on #313
This is a behavior of HttpClient, it's unrelated to TestServer. Most of the methods on HttpClient fully buffer the response body before returning. You would see this even when connecting to a real server. You need to use this overload https://msdn.microsoft.com/en-us/library/hh193601(v=vs.118).aspx with the HttpCompletionOption.ResponseHeadersRead option to disable response buffering. This one als

[2015-08-01 20:58] tmds commented on #313
Thanks!

[2015-08-01 20:58] #313 closed

[2015-08-02 06:43] Daniel15 opened #314 "Guard against ReflectionTypeLoadExceptions in StartupLoader"
*Original title:  Entity Framework 6 DbConfiguration causes ReflectionTypeLoadException at startup on Mono*
___
Wow, that title is a mouthful.

`DbConfiguration` is the class used for [code-based configuration in Entity Framework 6](https://msdn.microsoft.com/en-us/data/jj680699.aspx). Simply having an implementation of `DbConfiguration` in an ASP.NET 5 site causes "ReflectionTypeLoadException: Th

[2015-08-02 07:12] Daniel15 commented on #314
I put a try catch block around the call to `assembly.DefinedTypes.ToList()` in `StartupLoader.cs` and checked the `LoaderExceptions` property of the `ReflectionTypeLoadException`. This was the exception:

[code]

How do I debug this? The correct version of EntityFramework **is** present at `approot/packages/EntityFramework/6.1.3/lib/net45/EntityFramework.dll`, and I confirmed through a disassemble

[2015-08-02 07:29] Daniel15 commented on #314
My problem was due to Mono having an old version of Entity Framework in the GAC :(

ASP.NET should still guard against this though. People shouldn't have to hack StartupLoader.cs just to figure out which type is failing to load. The exception printed right now when this happens isn't very useful.

[2015-08-02 15:31] Tratcher commented on #312
Hmm, which version of DNX are you running it on? It worked fine on beta6.

[2015-08-02 15:31] davidfowl commented on #312
@JiajieBao are you on mono?

[2015-08-02 19:35] tmds opened #315 "Support WebSocket tests using TestServer"
Request to be able to test WebSockets using the TestServer.

WebSocket testing could start by calling a new method TestServer.CreateWebSocketClient(). This method returns a WebSocketClient. This is similar to the normal http request testing: TestServer.CreateClient method which returns an HttpClient.

[2015-08-03 01:19] Tratcher commented on #315
It sounds doable, and kindof fun actually. I don't think it's a very high priority though, so I can't say how soon it would happen.

[2015-08-04 03:46] JiajieBao commented on #312
Fixed. Looks like I used some incompatible references. Thanks.

[2015-08-04 04:17] #312 closed

[2015-08-04 22:28] emilyclairelewis42 opened #317 "DI: Unity-Backed Service Provider Breaks Controller Routing"
I have written a bare bones Web API solution against 6.0.0-beta6 and dnx451 using my own Unity container as the service provider. I arrived at this approach using reference code [here](https://github.com/aspnet/DependencyInjection)
and [here](http://dzimchuk.net/post/bring-your-own-di-container-to-aspnet-5-unity).

With Unity installed MVC6 no longer seems able to route requests to the controller

[2015-08-05 15:21] emilyclairelewis42 commented on #317
This error was happening because I was not properly registering collections of types. For example, there are multiple registrations for IStartupFilter. The following startup resolved that issue:

## Startup
[code]

This led to a new error though, MVC6 throwing the exception:

System.NullReferenceException
Object reference not set to an instance of an object.
at Microsoft.AspNet.Mvc.UrlHelper..ctor

[2015-08-05 17:41] glennc commented on #317
@rynowak Can you take a quick look at this?

[2015-08-05 22:41] avanderhoorn opened #318 "Profiling/observing the middleware chain"
We and other profiling/debugging groups/teams/projects have the need to be able to observe the ins/outs of each middleware in the chain as its excited. Previous attempts at this required each listener to replace the default app builder and wrap/modify the middleware. This is fragile and breaks down when multiple observers are in play.

This hook/event/notification should also make available the Ht

[2015-08-05 23:14] emilyclairelewis42 commented on #317
Further testing today reveals that this exception only happens exactly one time at startup, at least on our development boxes. All subsequent calls to the controller work fine. This seems to suggest that IScopedInstance< T > (specifically IScopedInstance<ActionContext> for this use case), which **is** being registered as a Scoped (a.k.a. Hierarchical in Unity lingo) lifetime, is not being managed

[2015-08-06 15:17] rynowak commented on #317
@emilyclairelewis42 - `IScopedInstance<>` really needs to be scoped (per-request). If it's a singleton then all kinds of things will be accessed concurrently that need per-request state.

[2015-08-06 20:31] emilyclairelewis42 commented on #317
I agree ;o)  I wasn't especially clear in the previous comment. I meant to point out that when MVC6 throws the exception:

 Object reference not set to an instance of an object.
 at Microsoft.AspNet.Mvc.**UrlHelper**..ctor(IScopedInstance contextAccessor, IActionSelector actionSelector)
 .lambda_method(Closure , IBuilderContext )
UrlHelper

... this only happens one time at startup on the first ca

[2015-08-06 21:57] evorine opened #319 "Can't run on IISExpress (ASP.NET application initialization failed)"
When I'm using dnx version `1.0.0-beta7-12302`, IIS Express can't startup my application.
I receive an undetailed error page says:

By the way I can run my application with `web` command without any problem.

When I'm using the version `1.0.0-beta7-12290` IIS Express can start my application but this time I get:

I looked everywhere but didn't find any log files about IIS Express. So I don't know

[2015-08-06 22:03] Tratcher commented on #319
Yes, there's a known break currently being resolved. We recommend using beta6 for the time being.

[2015-08-07 13:03] tmds opened #320 "Support HttpContext.RequestAborted in TestServer"
Request to be able to test aborted requests.

HttpContext.RequestAborted should be cancelled when:
- the CancellationToken passed to SendAsync is cancelled
- the HttpMessageHandler is Disposed

[2015-08-07 15:11] Tratcher commented on #320
Note that disposing the HttpClient calls HttpClient.CancelPendingRequests(), so we don't have to do anything special for that case. We just need to pass the CancellationToken through.

[2015-08-08 09:19] tmds commented on #320
I tried implementing the SendAsync-case.

In the ClientHandler, where the HttpContext is created. I set RequestAborted to be equal to the cancellationToken.

To test this I made a Website where I added a SemaphoreSlim which does a WaitAsync using the RequestAborted. I never release the SemaphoreSlim, so the only way it will unblock is by cancelling the token.

Now when I cancel the token, the Sema

[2015-08-08 13:26] Tratcher commented on #320
It's hard to guess without seeing the test code and the exception stack trace.

[2015-08-08 15:17] tmds commented on #320
I made a repo with a test here: https://github.com/tmds/RequestAbortedTestCase.git

This is the small change made to the ClientHandler: https://github.com/tmds/RequestAbortedTestCase/blob/master/src/Microsoft.AspNet.TestHost/ClientHandler.cs#L120

These are the 3 things I observe:

When running the TestWebsite project and pressing the stop button in the browser, an OperationCancelledException is c

[2015-08-09 14:37] PrimeObjects opened #321 "ASP.NET 5 on IIS"
I created a ASP.NET web app. Configure it to IIS. I got the following error. Any idea?

Couldn't determine an appropriate version of runtime to run. See http://go.microsoft.com/fwlink/?LinkId=517742 for more information.

Thanks lot!
Gary

[2015-08-09 18:24] Eilon commented on #321
@PrimeObjects can you share a little bit more info about what you've done? Which versions of ASP.NET/DNX are you using? Which version of Windows and IIS? Can you upload the project to GitHub for us to take a look?

[2015-08-09 19:04] PrimeObjects commented on #321
Windows 8 (Ver 6.2 Build 9200)
IIS Version 8.5.9600.16384

![po iis v7](https://cloud.githubusercontent.com/assets/3459952/9156419/33b39a52-3e8e-11e5-8f45-3e7a8097e3c9.JPG)

Please download my code from http://downloads.primeobjects.com.s3.amazonaws.com/PrimeObjects.Platform.Web.zip

Thanks lot
Gary

[2015-08-10 15:46] tmds commented on #320
@Tratcher , were you able to reproduce this?
In the repo with the test, there isn't much code, these are the important bits:
- [WebSite](https://github.com/tmds/RequestAbortedTestCase/blob/master/src/TestWebSite/Startup.cs)
- [Test](https://github.com/tmds/RequestAbortedTestCase/blob/master/src/TestWebSite/Startup.cs)
- [Assignment of RequestAborted in ClientHandler](https://github.com/tmds/Reques

[2015-08-10 17:04] glennc commented on #321
@moozzyk Can you investigate what is going on here?

[2015-08-10 17:07] PrimeObjects commented on #321
Thank you guys for the help.

I searched online, I'm not the only one who has issue to easily (even successfully) run ASP.NET on IIS. I did not find any good blog or article to layout a How-to steps.

I don't mind to help write one after you help me figure out what's wrong here.

Thanks
Gary

[2015-08-10 17:29] glennc commented on #319
@Tratcher Can you close this when we have fixed the break? If there is another bug tracking that work you can link it and close this now.

[2015-08-10 17:30] Tratcher commented on #319
This has been resolved in the latest beta7 dnx and packages.

[2015-08-10 17:30] #319 closed

[2015-08-10 19:00] Tratcher commented on #321
@PrimeObjects have you started with the publish docs? http://docs.asp.net/en/latest/publishing/iis.html

[2015-08-10 19:03] Tratcher commented on #320
I need to get beta7 finished this week. I can take a look next week.

[2015-08-10 19:58] kichalla opened #322 "Dispose hosting engine services once the application is shutting down"
Scenario: LoggerFactory needs to be disposed once the application shutdown so that dispose can be called on all the registered logger providers. This is so that these logger providers can flush any data that they might be holding.

@Tratcher @HaoK
The proposal is to create  a DI scope for hosting engine services which get disposed once the hosting engine is being disposed.

[2015-08-10 20:29] HaoK commented on #322
Is there anything other than the logger that is going to be disposed as part of this scope cleanup?  If not is it really worth creating a scope to dispose one service?

[2015-08-11 19:05] Tratcher opened #323 "[Announcement] Falling through to IIS now requires opt-in"
A change has been made to the IIS ASP.NET 5 server (Microsoft.AspNet.Server.IIS) such that applications must opt into IIS fallback. Previously when a request reached the end of the managed pipeline without being handled it would automatically unwind the managed pipeline and fall back to IIS. Now the end of the managed pipeline will return an empty 404 response like on other servers. To opt into th

[2015-08-11 20:35] dmccaffery commented on #323
Just out of curiosity, is there any performance impact of relying on the static file middleware VS IIS? I'm sure its minimal -- just wondering if there is any data out there that would serve as a "best practice" metric.

[2015-08-11 20:57] Tratcher commented on #323
There's probably some impact, but we haven't done a direct comparison yet.

A few perf notes:
A)	ASP.NET 5 runs with the equivalent of RAMFAR so it observes all requests. Static files are not exempt.
B)	You control the managed pipeline order so you can put the static file middleware early in your pipeline and short circuit potentially more expensive operations.
C)	The middleware only processes the

[2015-08-11 22:05] Tratcher opened #324 "Move IHttpContextAccessor to Http.Abstractions"
Identity depends on Hosting.Abstractions only for IHttpContextAccessor. Since this is only HttpContext related consider moving it to Http.Abstractions instead.

[2015-08-11 22:33] HaoK commented on #324
For further context, identity only needs this to get ahold of the Request.Aborted CancellationToken to use by default...

[2015-08-12 00:05] moozzyk commented on #321
This happens if there is no web.config file indicating the runtime and the runtime could not be determined based on the %PATH%. As @Tratcher mentioned one of the reasons might be that the application was not published or was not published with the --runtime switch. This issue looks very similar to #452

[2015-08-12 00:29] PrimeObjects commented on #321
Could you give me a link to #452? or what should I put in web.config

[2015-08-12 00:37] moozzyk commented on #321
Trying again https://github.com/aspnet/Home/issues/452

[2015-08-12 04:44] davidfowl commented on #324
Hmmmm is Microsoft.AspNet.Hosting.Abstractions too heavy? Or do we think it fits Http.Abstractions better?

[2015-08-12 04:45] Tratcher commented on #324
I think Http.Abstractions is a better fit because the interface only deals with HttpContext.

[2015-08-12 04:46] davidfowl commented on #324
What about the implementation? Does that move to Http?

[2015-08-12 04:49] Tratcher commented on #324
It could, though I don't think the implementation is used outside of hosting service registration.

[2015-08-12 04:50] davidfowl commented on #324
Should we just do this for beta7? Best to do these sorts of moves as early as possible. /cc @Eilon @muratg @glennc @DamianEdwards

[2015-08-12 05:03] Daniel15 commented on #323
Is there a way to configure IIS such that it serves static files itself without ever hitting the managed pipeline? I do that on Linux in my Nginx config and it works quite well.

[2015-08-12 06:19] Eilon commented on #324
If you have time in betea7 among other work, please go ahead.

[2015-08-12 06:22] Eilon commented on #323
@Daniel15 for performance it is common to put static files on a different site with a different domain to prevent things like cookies from being shuttled back and forth, and to allow more simultaneous open connections for parallelization (not as big an issue with HTTP 1.1 though).

[2015-08-12 06:22] davidfowl commented on #324
@Tratcher or @HaoK can one of you do this?

[2015-08-12 06:40] HaoK commented on #324
I can probably take a look at this tomorrow since the big options change is blocked on MVC and identity ripple out anyways...  I don't that's going to make it into beta 7 so I can get this in

[2015-08-12 06:53] davidfowl commented on #324
I'm guessing that not many repos will break as a result

[2015-08-12 07:07] davidfowl commented on #315
Sounds like it would make a good contribution

[2015-08-12 16:55] Tratcher commented on #323
@Daniel15 No, I haven't seen a way to bypass ASP.NET 5 for static files. In IIS's handler mappings you could try changing StaticFile's wildcard `*` to specific extensions and moving it higher in the list.

[2015-08-12 16:58] Daniel15 commented on #323
Good point @Eilon.

I don't use IIS much and this is trivial to do on Nginx so I thought it'd be easy on IIS too. I guess IIS doesn't have an equivalent to Nginx's `try_files`.

[2015-08-12 20:14] HaoK commented on #324
ad6e4b838a5daad0b9a36870e5d0e3f586e9ca06

[2015-08-12 20:14] #324 closed

[2015-08-13 04:05] dmccaffery commented on #323
That's what I usually do; host static files on static.domain.com or some equivalent; I was just curious for curiosities sake. By the time you start looking at static file handling without the managed pipeline as a means to improve performance, you would already have an enormous amount of traffic and enough reason to look into CDNs and the like. I didn't mean to imply that we should care about the

[2015-08-13 04:10] Eilon commented on #323
BTW even `static.domain.com` likely isn't getting max perf because cookies might still be sent by the browser if it has cookies from `domain.com`. But, as was mentioned, the odds of this mattering for most sites is low.

[2015-08-13 04:16] dmccaffery commented on #323
Yup; it was just an example; always use a different domain, no reason to auth or process cookies, and can set cache headers statically, etc. (depending on whether or not the resources are likely to ever change).

[2015-08-13 04:26] dmccaffery commented on #323
Also, and not to beat a dead horse, you can canonicalize your URL to www.domain.com and set your cookies using www.domain.com, then use a subdomain like static.domain.com.  Or at least I think that works. O.o

[2015-08-13 09:08] Michael-DST opened #326 "Allow .json (and other) Configuration in Addition to .ini"
It would be nice to see configurations for hosting to be provided in other formats besides .ini.  As someone who is looking at a generated codebase for the first time, it is confusing to see both .json and .ini files used within a project (this is in addition to the .xml format that is used in the.xproj file, but that is another topic altogether :stuck_out_tongue:).

Additionally, .ini is a MSFT/W

[2015-08-13 09:16] henkmollema commented on #326
There is also an issue and PR for JSON support: #269 / #270

[2015-08-13 09:17] Michael-DST commented on #326
Ahhh!!  I am fail.  Thank you for that, @henkmollema!

[2015-08-13 09:17] #326 closed

[2015-08-13 09:27] Michael-DST commented on #269
It does cause confusion and does not reflect well on the project structure or overall design.  A provider model to load the configuration would be ideal.  This would/should default to .json, but would enable .xml/.ini/.xaml/.yaml/.etc if desired.  Related issue: https://github.com/aspnet/Tooling/issues/140

[2015-08-13 17:21] #299 closed

[2015-08-13 21:59] moozzyk commented on #321
@PrimeObjects  - were you able to resolve this issue?

[2015-08-13 22:15] PrimeObjects commented on #321
No. I did publish to local and use wwwroot in the IIS I got the following error
Unable to find the runtime directory 'C:\PrimeObjects\V7.0\artifacts\bin\PrimeObjects.Platform.Web\Release\www\wwwroot\..\approot\runtimes\dnx-clr-win-x64.1.0.0-beta6'.
Possible causes:
1. The runtime was not packaged with the application.
2. The packaged runtime architecture is different from the application pool arch

[2015-08-13 22:22] moozzyk commented on #321
This 'wwwroot..\' does not look right...

[2015-08-13 22:34] PrimeObjects commented on #321
This is the folder I put in IIS
C:\PrimeObjects\V7.0\artifacts\bin\PrimeObjects.Platform.Web\Release\www\wwwroot

[2015-08-13 22:38] kichalla commented on #321
Since you are using  `64-bit` clr and the error mentions this `The packaged runtime architecture is different from the application pool architecture.`, can you verify again by setting the `Enable 32-bit applications` flag to `false`(if it was `true` earlier) on the application pool that your app is using.

(Based on the help text of `Enable 32-bit applications` it says that `Processes in WOW64 mod

[2015-08-13 22:40] PrimeObjects commented on #321
It is Enable 32-bit applications= false.

[2015-08-13 22:42] PrimeObjects commented on #321
My project.json
{
    "webroot": "wwwroot",
    "version": "7.0.0-*",

    "dependencies": {
        "Microsoft.ApplicationInsights.AspNet": "1.0.0-beta6",
        "Microsoft.AspNet.Mvc": "6.0.0-beta6",
        "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-beta6",
        "Microsoft.AspNet.Server.IIS": "1.0.0-beta6",
        "Microsoft.AspNet.Server.WebListener": "1.0.0-beta6",
        "Microsoft.AspN

[2015-08-13 22:42] PrimeObjects commented on #321
my web.config

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="Ex

[2015-08-13 22:48] PrimeObjects commented on #321
By the way I saw a launchSettings.json, does this file did something bad?

{
  "profiles": {
    "IIS Express": {
      "commandName" : "IISExpress",
      "launchBrowser": true,
      "launchUrl": "home/index.html",
      "environmentVariables" : {
        "ASPNET_ENV": "Development"
      }
    }
  }
}

[2015-08-13 22:51] kichalla commented on #321
what runtime folder do you have under your published application's `approot\runtimes`? do you have a 64-bit clr in it?

[2015-08-13 22:53] PrimeObjects commented on #321
C:\PrimeObjects\V7.0\artifacts\bin\PrimeObjects.Platform.Web\Release\www\approot\runtimes\dnx-clr-win-x86.1.0.0-beta6

[2015-08-13 22:54] kichalla commented on #321
Ok..so that is the issue...you need to deploy the 64-bit version of clr since your application pool is a 64-bit process...

[2015-08-13 23:07] PrimeObjects commented on #321
Works. Thank you for the help!

[2015-08-13 23:07] #321 closed

[2015-08-14 08:37] tmds commented on #315
@Tratcher, @davidfowl, if you want, you can assign the issue to me.

[2015-08-14 08:39] davidfowl commented on #315
@tmds issues can't be assinged to non core contributors

[2015-08-14 08:53] tmds commented on #315
@davidfowl I guess you mean the tool doesn't allow it.
I want to check whether it is worth spending my time, that is: you guys won't work on it in the short term and it is 'up for grabs'.

[2015-08-14 09:04] davidfowl commented on #315
We don't have any plans to do it in the short term so feel free to do it

[2015-08-14 18:27] DamianEdwards opened #327 "Add an "X-Powered-By" and "X-AspNet-Version" header"
From aspnet/KestrelHttpServer#138

[2015-08-14 19:34] DamianEdwards opened #328 "No logging of base address"
_From @dougbu on June 20, 2015 19:59_

Kestrel server, at least on Windows, no longer logs the address where its base address. The experience is thus poorer than with WebListener. May also be a regression from earlier versions. This occurs with both recent Beta 5 and Beta 6 builds.

E.g. complete Kestrel output for startup, one request, and shutdown with the following in `Startup.Configure()`:
[co

[2015-08-14 19:34] DamianEdwards commented on #328
_From @dougbu on July 24, 2015 23:52_

Confirmed bug remains with latest Beta 6 packages. Also repros with Mono.

Side note: Routing no longer logs information about matched routes. So Kestrel output is just `Started` while WebListener now shows
[code]

[2015-08-14 19:35] DamianEdwards commented on #328
We'll address this generically in Hosting

[2015-08-14 19:45] Tratcher opened #329 "Convert IServerInformation to IFeatureCollection"
This allows us to standardize feature support across servers. Middleware may also mutate the collection if they augment the server capabilities (e.g. add websockets). This will be used to address https://github.com/aspnet/Hosting/issues/328 by adding a server feature for reading and configuring addresses and/or ports.

Open question: Should server features be defined in their own package or in Htt

[2015-08-14 20:14] DamianEdwards opened #330 "set_HttpContext – LogicalSetData possibly expensive, needs investigation"
![logicalsetdata](https://cloud.githubusercontent.com/assets/249088/9283153/5e1c5d00-4286-11e5-8241-7a9472d91f04.jpg)

[2015-08-14 20:32] rynowak commented on #330
It's worth doing looking at the comparison with `AsyncLocal` here - which we can get by if-defing for coreclr/.net46

[2015-08-14 22:49] Tratcher opened #331 "Create a standard server feature interface for listing & configuring server prefixes and/or ports"
Depends on https://github.com/aspnet/Hosting/issues/329

Once we have this then Hosting can use it to Console.WriteLine each address after IServerFactory.Start. See https://github.com/aspnet/Hosting/issues/328

[2015-08-15 07:08] davidfowl commented on #330
+1

[2015-08-15 07:10] davidfowl commented on #322
+1 to @HaoK's comment. Why would we create a scope just to dispose the ILoggerFactory.

[2015-08-16 01:03] csunali commented on #323
@Tratcher is the change intended to fix the issue we discusses at https://github.com/aspnet/StaticFiles/issues/65?

[2015-08-16 01:34] Tratcher commented on #323
@csunali  No, that's unrelated. runAllManagedModulesForAllRequests is the only way we can address that issue due to how we're loaded. We'll add it to the templates and during publish: https://github.com/aspnet/dnx/issues/2484

There's a long term solution that changes how we get loaded, but that will require writing a whole new bootstrapping system.

[2015-08-16 05:05] benaadams commented on #327
Following up from @Daniel15 comment

Looks that that's a bug in the proxy? [rfc2616 14.38 Server](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)

[2015-08-16 05:07] benaadams commented on #327
Also:

      allow the server machine to become more vulnerable to attacks
      against software that is known to contain security holes. Server
      implementors are encouraged to make this field a configurable
      option.

[2015-08-16 05:16] Daniel15 commented on #327
The section you quoted is for "regular"/forward proxies. RFC2616 says:

With a reverse proxy, the proxy itself is considered the origin server. See http://trac.nginx.org/nginx/ticket/538.

[2015-08-16 07:24] benaadams commented on #327
RFC2616 does give conditions for a gateway in 14.45 Via

The fact the nginx bug tracker they consider themselves to be the origin server and quote mod_proxy to justify this is a bit of a reach since that continues to say:

The reverse-proxy acts as the origin for networking purposes meaning no client configuration is required.

Following nginx argument though; it would mean all load balancers shou

[2015-08-16 11:43] csunali commented on #323
@Tratcher, thank you for the details.

[2015-08-16 16:04] Tratcher opened #333 "Is there a way to parameterize and pass an instance of Startup rather than just the type?"
_From @humblelistener on August 14, 2015 5:8_

The intention is to avoid creating a separate TestStartUp class rather - rather inject an instance of Configuration

Sample start up below,

[code]

In the above implementation, if only

`` TestServer.CreateBuilder().UseStartup(instanceOfStartup)  ``
is permitted

I can do this,

[code]

Advantage: I dont have to maintain multiple startup class.

Does

[2015-08-16 16:08] Tratcher commented on #333
How about the `UseStartup(Action<IApplicationBuilder>)` overload? So your sample above becomes: `TestServer.CreateBuilder().UseStartup(instanceOfStartup.Configure)`

[2015-08-17 01:22] humblelistener commented on #333
These overloads are limited - It wont work because

1. Configure method can be using just IApplicationBuilder or taking ILoggerFactory and so on as parameters

2. If I then have a configure services method - it complicates further because the overload takes a different signature of configureservices compared to expected one defined for configure

Instead of trying to draw two parallels - using Sta

[2015-08-17 01:51] humblelistener commented on #333
and this is what I have to do to keep it working - right now

[code]

Doesn't feel good! any suggestions?

[2015-08-17 10:23] davidfowl commented on #314
Related https://github.com/aspnet/dnx/issues/1739

[2015-08-17 15:08] Tratcher commented on #320
Now I see your problem: https://github.com/tmds/RequestAbortedTestCase/blob/master/src/Tests/TestCase.cs#L21
`var response = await client.SendAsync(request, HttpCompletionOption.ResponseHeadersRead, cts.Token);`
HttpClient internally creates its own CTS linked to the once you passed in (for timeouts). However, that that CTS is only good for the duration of SendAsync and then it is disposed. When y

[2015-08-17 15:32] tmds commented on #320
Thanks for looking at this and figuring out where the ODE comes from!
I think most tests with RequestAborted will want to use ResponseHeadersRead or streamed responses to control when the request is aborted. At least, that's the case for the tests I want to write.

[2015-08-17 15:59] tmds commented on #320
Perhaps we can use HttpResponseMessage.Dispose to generate RequestAborted in the TestServer?

[2015-08-17 17:01] Tratcher commented on #320
That sounds promising. You could create a linked CTS so that it was attached to both the CT from SendAsync and HRM.Dispose. Note you'll only want to fire the CT from Dispose if the response has not completed.

[2015-08-17 17:07] Tratcher commented on #320
You can probably do this in the ResponseStream class here: https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.TestHost/ClientHandler.cs#L186

[2015-08-18 01:50] tmds commented on #320
@Tratcher I considered a number of alternatives and finally implemented this: https://github.com/tmds/RequestAbortedTestCase/commit/40b97b0e38c8e6c0a4f66c838f4d8b4dc9c7983f

The core is in [these lines of code](https://github.com/tmds/RequestAbortedTestCase/blob/master/src/Microsoft.AspNet.TestHost/ResponseStream.cs#L380-L383). The Abort logic hasn't changed, which means that if you do a read afte

[2015-08-18 03:47] Tratcher commented on #320
That looks feasible.

[2015-08-19 15:08] avanderhoorn opened #334 "EventNotification support for Hosting"
We want to add support for events via Microsoft.Framework.Notification to various components in Hosting that can be consumed in process by diagnostic tools.

To start with we want to include data/events with known tooling experiences built around them. This isn't a complete list, but includes things we can start on.

### Pipeline
 - Begin/End Request - HttpContext
 - Unhandled Exception - HttpCont

[2015-08-19 16:51] Tratcher commented on #334
This seems redundant, you can already put a data gathering middleware at the start of the pipeline (possibly via IStartupFilter) to get this kind of information.

[2015-08-19 21:52] avanderhoorn commented on #334
Same argument could be made for the logging that is [there](https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Internal/HostingEngine.cs#L76-L80) at the moment. Leveraging Event Notifications means we can tap in in a much more consistent way and when you have multiple instrumentation providers all playing in the same sandpit, its not like you are going to end up with a bunch o

[2015-08-20 10:33] tmds commented on #320
I worked this out further.

One other thing that became clear, is that the API wait for the pipeline to end (and check what exception caused the pipeline to end) became rather convoluted. See [these lines of code](https://github.com/tmds/Hosting/blob/e7ade98897e2b36ae78368f0a612434864a3d9a2/test/Microsoft.AspNet.TestHost.Tests/TestClientTests.cs#L135-L142).
I thought it would be nicer if the API w

[2015-08-22 23:53] BillKrat opened #337 "HostEngine Start not setting HttpContext.ApplicationServices - uses default DI provider"
I am returning a UnityServiceProvider from ConfigureServices and I can see that it is being set to the ApplicationServices property (above the HostingEngine.Start method in top right of image below), however the httpContext.ApplicationServices is null which causes it to use _services resulting in the default DI provider to be used.  I see the DefaultControllerActivator retrieves the HttpContext.Re

[2015-08-23 21:34] davidfowl commented on #337
Looks like a bug.

[2015-08-24 17:00] Tratcher opened #338 "Virtual Directory / Sub application in IIS Express"
_From @Fosol on August 5, 2015 18:17_

Is there a way to run in IIS Express multiple web applications?
For example I want a web MVC app and a separate web API.  Then when I start up to debug I want them under the same port (i.e. localhost:13245), but the web API should be a virtual directory /api/.
Currently the root MVC app attempts to handle the requests and of course throws a 404 because it has

[2015-08-24 17:00] Tratcher commented on #338
_From @Eilon on August 6, 2015 21:53_

@sayedihashimi do you know if it's possible to launch IIS Express to run multiple apps on the same port?

[2015-08-24 17:00] Tratcher commented on #338
_From @Fosol on August 6, 2015 21:54_

No it fails.  The first app starts, the second says it can't connect.

[2015-08-24 17:00] Tratcher commented on #338
_From @Fosol on August 6, 2015 21:56_

I've come up with the standard workaround - use full blown IIS.  This of course is frustrating to work with since I have to follow the below steps every time I want to make a change;
1) Make sure I'm running VS in admin mode
2) Stop the IIS web application
3) publish each web application in VS
4) Start the IIS web application
5) Hit a page in the browser
6) A

[2015-08-24 17:00] Tratcher commented on #338
_From @sayedihashimi on August 6, 2015 22:34_

No, you can only run one instance of iisexpress listening on a specific port.

But inside of the `applicationHost.config` file you can configure multiple sites/apps. I think you can look at the `applicationHost.config` from full IIS to see how you need to structure the elements in the `applicationHost.config` file used by IIS Express.

[2015-08-24 17:00] Tratcher commented on #338
_From @Eilon on August 6, 2015 22:59_

Ah good point, that might just work.

[2015-08-24 17:00] Tratcher commented on #338
_From @Fosol on August 6, 2015 23:10_

You can configure IIS Express with the applicationHost.config file, however I've yet to figure out how to get a DNX project to properly handle virtual applications below the root application.  Essentially IIS Express passes the request to the parent MVC application and it says the route doesn't exist.  So it throws a 404.

What IIS Express should do is pass t

[2015-08-24 17:00] Tratcher commented on #338
_From @danroth27 on August 24, 2015 16:40_

@Tratcher

[2015-08-24 17:58] glennc commented on #337
@HaoK Can you investigate?

[2015-08-24 18:02] HaoK commented on #337
Ah, this is probably a sideeffect of 'cleaning up' some of the weird logic last time... Yeah I'll take a look and add a test for this

[2015-08-24 18:44] HaoK commented on #337
So I added a test which is just verifying that ApplicationServices is set to the IServiceProvider returned via ConfigureServices (shown below), which works fine.  Are you not seeing context.ApplicationServices being set to the one returned from your ConfigureServices method?

[code]

[2015-08-24 21:58] Tratcher commented on #338
I got this working by configure multiple applications in a single site instead of configuring multiple sites.

See:
http://stackoverflow.com/questions/5937626/running-multiple-iis-express-instances-on-the-same-port-through-visual-studio/5940140#5940140

[2015-08-24 22:30] csunali opened #339 "Best practice to restart an application"
I am wondering what could be the best implementation supporting the following case:

Some middlewares need to be configured within the Startup methods. These middlewares need to use configuration coming from Json configuration files.

If the configurations are already in place, that is fine but in some scenarios - for instance during installation of a web application - we might need to ask the use

[2015-08-25 12:33] BillKrat commented on #337
Actually this observed during HostingEngine.Start.  In the following excerpt from the image above you'll see that at my breakpoint the ApplicationServices property is properly set to my UnityServiceProvider.   However, execution of line 79 has the middleware setting it to (default) ServiceProvider because httpContext.ApplicationServices was null.

Perhaps this was a beta 6 issue?  I'll upgrade to

[2015-08-25 16:50] Tratcher commented on #339
IApplicationShutdown.RequestShutdown should work, except that it will wait for active requests to finish. Note that if you're running in IIS the app instance will stop accepting new requests, IIS will spin up a new instance as soon as the next request arrives (and re-run Startup), and this new instance does not affect the old instance that is in the process of shutting down.

[2015-08-25 18:49] HaoK commented on #337
Ah okay yeah we tweaked this code a bit recently, so hopefully this was fixed already as part of that.  let me know if you still see issues once you've upgraded

[2015-08-25 18:54] HaoK commented on #337
Ah okay I think I see the issue, we aren't explicitly setting the ApplicationServices on the context it looks like, so maybe there's a gap somewhere

[2015-08-25 19:37] HaoK commented on #337
Fixed in 55b28abeab524c39bacc1a0e0717d5126ec3a6a7

[2015-08-25 19:37] #337 closed

[2015-08-25 20:36] HaoK commented on #333
Just to clarify the scenario you are trying to accomplish, you mostly want a way to configure a test to run with specific configuration (i.e. just tweak the configuration per test?)

[2015-08-26 12:43] BillKrat opened #342 "Hosting and IIS Express exceptions after getting latest source"
After getting the latest source I started seeing the following when launching via IIS Express:  "The Web server is configured to not list the contents of this directory." - Hosting just crashes.

I created a new ASP.NET MVC project and updated the global.json file to include Hosting and MVC and problem persist.  If I remove the source code lines from global.json everything works as expected.

glob

[2015-08-26 15:05] BillKrat commented on #342
Did a "GIT checkout 1.0.0-beta6" (versus using latest source) and problem went away.   Seems like the issue is with my ignorance on how to properly version repository with framework versions; time for R&D...

[2015-08-26 15:05] #342 closed

[2015-08-29 00:00] Tratcher commented on #310
Nevermind, FeatureCollection has made significant improvements in this scenario.

[2015-09-01 15:44] muratg opened #344 "Support auto restart"
https://github.com/aspnet/Mvc/issues/2348#issuecomment-136520685

[2015-09-01 17:35] dougbu commented on #322
@Tratcher and I suspect aspnet/Mvc#3066 is related. Could fix that one in other ways but could also piggy-back on a solution here.

[2015-09-01 21:22] Tratcher commented on #344
See also: https://github.com/aspnet/dnx/issues/1795

[2015-09-01 22:31] #329 closed

[2015-09-02 00:08] csunali commented on #339
Thank you @Tratcher. That provides the explanation I needed.

I have successfully implemented an API controller that has three actions:

`RequestShutdown`, `MonitorShutdownRequest` and `AcknowledgeShutdown`.

Everything seems to work.

Thank you.

[2015-09-02 00:08] #339 closed

[2015-09-02 18:52] #320 closed

[2015-09-03 19:06] #315 closed

[2015-09-08 16:58] #269 closed

[2015-09-08 17:04] Michael-DST commented on #269
Horray... very cool.  Some sanity restored. :)  Are there plans to make this more consistent with the rest of ASP.NET's configuration model and allow providers to dictate the configuration format?

[2015-09-08 17:09] Tratcher commented on #269
Not at the moment. You can open a separate issue.

[2015-09-08 17:28] Michael-DST opened #346 "Ensure Configuration Provider Used for Hosting Configuration"
This is related to issue #269.  A great effort was made to make the Hosting Configuration File in a consistent/expected file format of .json, but the underlying issue was not fully addressed: As discussed in [another issue in Tooling](https://github.com/aspnet/Tooling/issues/140), users (and teams) enjoy and prefer their own data formats when describing objects used for configuration.  Ideally, th

[2015-09-08 17:28] Michael-DST commented on #269
Cool.  Done.  Thank you!

[2015-09-08 17:38] muratg commented on #346
There are no current plans to do this. Closing.

[2015-09-08 17:38] #346 closed

[2015-09-08 17:40] davidfowl commented on #269
That would require a plugin model for config format since hosting won't depend on every format possible

[2015-09-08 17:42] Michael-DST commented on #346
LOL @Tratcher why suggest to me to open up an issue around this if it was only going to be immediately closed?  And @muratg  ... there might not be current plans around this, but the point of opening issues to *create* plans around them. :)  Isn't it better to label this issue for a future version?

[2015-09-08 17:42] davidfowl commented on #269
I think if you wanted that you'd be better off constructing the host in your own program main

[2015-09-08 17:44] Michael-DST commented on #269
Exactly.  The plugin model is already in use elsewhere and can be used here as well.  It obviously already has two different formats that users favor, so why not open it up to all formats if it's the same amount of work to do?

[2015-09-08 17:46] Michael-DST commented on #269
There is also the issue of providing proper guidance here in case someone else gets a crazy idea somewhere down the line to also use .ini or (god forbid) .xml :)

[2015-09-08 18:06] davidfowl commented on #346
I think the best way is for this to be in user code. Users can new up the hosting model using the API and provide any IConfiguration instance.

[2015-09-08 18:45] Michael-DST commented on #346
OK, we might actually be running into my confusion here.  I thought that the Hosting application was provided as a "web" command from ASP.NET projects to kick off hosting for their projects?  Are you suggesting that users go off and create their own Hosting command (by basically duplicating all of the functionality that is already in place with this Hosting command that we're talking about) instea

[2015-09-10 09:45] davidfowl opened #347 "Consider resolving IServiceScopeFactory once instead of per request in AutoRequestServicesStartupFilter"
Seems like we don't need to resolve it per request.

/cc @pranavkm @HaoK @halter73 @rynowak

[2015-09-10 18:13] halter73 commented on #347
IServiceScopeFactory no longer takes an IServiceProvider as an argument, so using a single IServiceScopeFactory instance in the RequestServicesContainerMiddleware might lead to some subtle issues.

Basically, if httpContext.ApplicationServices is replaced by a middleware/filter earlier in the request pipeline, the IServiceScopeFactory won't create a scope nested from the replaced service provider.

[2015-09-10 18:18] HaoK commented on #347
So it sounds like this change would be introducing a subtle bug then?

[2015-09-10 18:44] halter73 commented on #347
@HaoK That's what I'm afraid of. We might be able to fix the perf issue without changing functionality by changing the IServiceScopeFactory to take IServiceProvider as an argument to CreateScope.

[2015-09-10 18:46] davidfowl commented on #347
@halter73 That's why I added you to this bug :smile: . We should discuss this change and how it affects 3rd parties like autofac.

[2015-09-10 18:49] halter73 commented on #347
@davidfowl Yeah. I want to retract my last comment. Making IServiceProvider an argument to CreateScope won't work for 3rd party containers.

[2015-09-10 18:59] Tratcher commented on #331
Recomendation:
[code]

[2015-09-10 19:07] davidfowl commented on #331
Feels like we should break it into parts

[2015-09-10 19:15] Tratcher commented on #331
We had a long discussion on that. The server may support a variety of formats, so only it can really break it into meaningful parts. e.g. http vs unix sockets vs named pipes, etc..

Note Add may have some normalization, like "8080" turning into "http://*:8080/".  Add may also throw if you give it unrecognized formats.

[2015-09-11 05:07] davidfowl commented on #331
We also need to support the `--port` flag. Should that be another issue?

[2015-09-11 05:16] davidfowl opened #348 "[HttpPlatformHandler]: Allow retrieving the PID of the process via a DEBUG verb"
When we launch a webserver behind httpplatformhandler in VS, VS needs to be able to get the pid so that it can attach the debugger. There are 2 scenarios:

- Launching IIS Express
- Launching in IIS

The way this works today is that vs sends a request with a DEBUG verb that gets the pid. We might need to support this when running  in a particular mode.

We need to flesh this out

[2015-09-11 05:20] Tratcher commented on #331
We had the idea today to directly support ports in server.uls. If you just provided an int then we would assume you meant http://*:port/ (or localhost?). The same goes for the IServerAddressesFeature.
________________________________
From: David Fowler<mailto:notifications@github.com>
Sent: ‎9/‎10/‎2015 10:07 PM
To: aspnet/Hosting<mailto:Hosting@noreply.github.com>
Cc: Chris R<mailto:Tratcher@Outl

[2015-09-11 16:11] davidfowl opened #349 "[HttpPlatformHandler]: Forward common headers from reverse proxy"
This bug is to track the work that needs to happen so that items forwarded from httpplatformhandler show up in the user's application.

There are several parts to this:

- Windows Auth (coming soon)
- Client certs (not yet available)
- Https scheme

We could do some of it in middleware (like WindowsAuth) but that would mean it wouldn't work out of the box. It could also be in the template by defau

[2015-09-11 16:27] Tratcher commented on #349
Also of interest are the remote ip & port and the reverse proxy public IP & port. I'd recommend doing it all in middleware.

Eventually we'll need the TLS token binding.

[2015-09-11 16:41] davidfowl commented on #349
I think scheme is the only one we'd want to support by default.

[2015-09-11 17:09] Tratcher commented on #349
HttpPlatformHandler needs to forward them all, it's up to the app how many forwarders they check.

[2015-09-11 17:13] davidfowl commented on #349
Well let the user experience drive that. This is our new ootb experience for IIS and it can't be degraded in obvious ways. We'll discuss it in the design meeting

[2015-09-11 17:22] Tratcher commented on #348
Hosting will automatically handle a request that the application never sees? Hmm. This should only be enabled in Development mode.

[2015-09-11 17:29] davidfowl commented on #348
Yes

[2015-09-11 18:35] Tratcher commented on #348
What if this was inverted? Have a option that would make Hosting take some action to inform interested parties that the server was ready. E.g. make an HTTP request to a given url, write to an event log or a named pipe, etc..

[2015-09-12 02:16] davidfowl commented on #348
We can closes this. The Http platform handler will  allow passing the port to forward to. This means VScan launch the web server with the required port

[2015-09-12 22:51] Michael-DST commented on #346
Well, I didn't get any additional answers to my question here, but I will say that it feels a little disorganized (and best) and maybe a little spiteful (at worst) to have one team member suggest opening an issue and then another to close it immediately without any meaningful discussion around it first.  I realize everyone is busy, but please do know that my intent here is to ensure great (cross-)

[2015-09-12 23:07] davidfowl commented on #346
We're not going to build a generic configuration system that can dynamically load configurations based on extensions because of the problems mentioned before. There isn't some uber configuration format reader than can dispatch to every possible format. The way the configuration API was intended to be used was having user code depend on the package that supported their format, create an `IConfigura

[2015-09-13 17:54] davidfowl opened #351 "Print out the environment on the command line when launching hosting"
So the relevant information when booting up is:

- Port
- Environment

http://www.tugberkugurlu.com/archive/setting-ihostingenvironment-isdevelopment-as-true-in-an-asp-net-5-application

[2015-09-14 12:37] Michael-DST commented on #346
Great, thank you for taking time to address my points, David.  Much appreciated as always.

Even duplicating 1 line of code is in violation of DRY. :)  Obviously, a priority should be placed on design that preserves code instead of duplicating it.  As you are well aware, it is possible to provide flexibility with smart design.  Again, this is also about guidance and best practices as well (i.e..,

[2015-09-14 12:57] teyc commented on #346
Hi @Michael-DST - Personally as an outsider, I wouldn't mind if the CoreCLR project stayed lean and mean and focus relentlessly on making it a viable platform on non-Windows platform. Currently, it's not quite there yet - and the risk of putting extra things on the list of open issues when major features are being culled for v1 (no SignalR, or WebPages), I think it'd be a misallocation of prioriti

[2015-09-14 17:11] Tratcher commented on #351
RE: https://github.com/aspnet/Hosting/issues/328

[2015-09-14 17:21] muratg commented on #351
@Tratcher straightforward enough for Beta 8?

[2015-09-14 17:25] Tratcher commented on #351
Should be. I can do it in my current WriteLine PR.

[2015-09-14 17:32] muratg commented on #347
Looks like it's not going to work... is this good to close?

[2015-09-14 17:34] davidfowl commented on #347
Yes

[2015-09-14 17:34] #347 closed

[2015-09-14 17:48] victorhurdugaci commented on #344
Will open a new issue in DNX

[2015-09-14 17:48] #344 closed

[2015-09-14 19:23] victorhurdugaci commented on #344
https://github.com/aspnet/dnx/issues/2700

[2015-09-14 20:11] Eilon opened #353 "Move MVC's TelemetrySource registration to Hosting"
This avoids multiple components each trying to register the services themselves.

Source codes here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/DependencyInjection/MvcCoreServiceCollectionExtensions.cs#L139-L148

[2015-09-14 21:22] Eilon commented on #353
No, get it done in beta 6 :trollface:

[2015-09-14 21:38] Eilon opened #354 "Publish begin/end request and unhandled errors to telemetry source"
Publish these:
1. Request start/end, response start/end (or the closest we can get to these)
2. Unhandled errors that get bubbled up to the servers

Example in MVC: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNet.Mvc.Core/Actions/MvcRouteHandler.cs#L73-L78

[2015-09-14 21:38] Eilon commented on #354
Related: https://github.com/aspnet/Diagnostics/issues/180

[2015-09-14 22:51] Tratcher commented on #349
A few other interop questions:
100-continue support
http/2 termination (should just work, it happens in http.sys)
client disconnects

[2015-09-14 23:53] #351 closed

[2015-09-15 03:43] davidfowl commented on #349
We decided to make this a separate middleware `UseHttpPlatformHandler()`.

[2015-09-15 03:49] hekaiduo commented on #312
Hello, I've read [the Sep 10th webdev blog](http://blogs.msdn.com/b/webdev/archive/2015/09/10/asp-net-community-standup-september-8-2015.aspx). It says,

and

So here is my question: since WebListener will not be 'shipped', and kestrel doesn't have a self-host model, how do we achieve an *real* test server demonstrated by @Tratcher above? Thanks.

[2015-09-15 03:51] davidfowl commented on #312
Change this line:

[code]

[2015-09-15 04:35] hekaiduo commented on #312
@davidfowl

Thanks. What happens when changing to `hostBuilder.UseServer("Microsoft.AspNet.Server.Kestrel");`? Will it spin up a new process for kestrel? If yes,when will the external process will be shut down?

[2015-09-15 04:37] Tratcher commented on #312
No, it starts kestrel in process just like WebListener. Try it.

[2015-09-15 04:43] hekaiduo commented on #312
That is what I want :)

But what does the blog mean by `There is no self-host model` for kestrel? A bit confused, as the code here seems to be *a self-hosted model*.

[2015-09-15 04:44] davidfowl commented on #312
The blog might be wrong :smile: I'll check the wording.

[2015-09-15 13:19] benaadams opened #356 "Allow ContextAccessor.HttpContext be config opt-out"
Allow ContextAccessor.HttpContext be config opt-out-able (i.e. on by default)

For example a purely WebApi based site or one with no auth might not have need for a .Current equivalent as HttpContext  is passed in to each stage.

---
*Was* **High alloc setting ContextAccessor.HttpContext**
At https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNet.Hosting/Internal/HostingEngine.cs#L94 the `

[2015-09-15 14:16] tmds commented on #356
The IHttpContextAccessor can be used do retrieve the HttpContext via Dependency Injection.
The implementation handles the per 'context' part, see [HttpContextAccessor](https://github.com/aspnet/HttpAbstractions/blob/8487e42a6874eef8e0cd85b4c9f44eb6f9ec330e/src/Microsoft.AspNet.Http/HttpContextAccessor.cs)

I don't know what the benefit is of instantiating this globally vs per request.

[2015-09-15 14:20] Tratcher commented on #356
HttpContextAccessor uses thread local storage, so parallel execution should not be a problem.

[2015-09-15 14:23] tmds commented on #356
@Tratcher is there a benefit compared to per request instantiation?

[2015-09-15 14:26] benaadams commented on #356
Hmm, looking at the code, won't TLS kill the fast path for every async/await on 451 as it will no longer be a default execution context?

I assume AsyncLocal in core50 is more well behaved; so should be ok.

[2015-09-15 15:26] Tratcher opened #357 "Rename IApplication"
This new type's name is slightly too generic. How about IWebApplication?

[2015-09-15 15:45] davidfowl commented on #357
Does it need to be an interface? We should just make it a Poco.

Throwing out some names:

- `HostedApplication`
- `WebApplication`

[2015-09-15 16:02] Tratcher commented on #357
It's returned from IHostingEngine.Start(), so an interface seems appropriate.

[2015-09-15 16:04] davidfowl commented on #357
I disagree. It's a poco with 2 properties, there's no behavior. Nothing to be gained from making it an interface.

[2015-09-15 16:05] Tratcher commented on #357
It also handles the shutdown via IDisposable.

[2015-09-15 16:19] #331 closed

[2015-09-15 16:20] #328 closed

[2015-09-15 16:59] Tratcher commented on #356
It's designed to replace the static HttpContext.Current by letting you inject the service at startup into components that don't get HttpContext passed to them directly.

[2015-09-15 17:54] muratg commented on #268
This is now tracked in: https://github.com/aspnet/dnx/issues/2700

Closing this one. Thanks @leastprivilege

[2015-09-15 17:54] #268 closed

[2015-09-15 21:35] davidfowl opened #358 "[HttpPlatformHandler]: Support HTTP_PLATFORM_PORT env variable as an address"
The HttpPlatformHandler passes the port via the env variable `HTTP_PLATFORM_PORT`.

[2015-09-15 21:36] davidfowl commented on #358
We should also support port

/cc @Tratcher

[2015-09-15 21:46] Tratcher commented on #358
Have Hosting read HTTP_PLATFORM_PORT and add it to IServerAddressesFeature.Addresses?

[2015-09-16 00:06] davidfowl commented on #358
Yep

[2015-09-16 00:11] Tratcher commented on #358
Actually, we can do it in the new UseHttpPlatformHandler extension.

[2015-09-16 00:35] davidfowl commented on #358
We decided to put this in hosting

[2015-09-16 00:48] benaadams opened #359 "Dispose disposable HttpContext"
[HttpContext](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/HttpContext.cs) is IDisposable so should be disposed at the end of the request.

Would suggest ```Func<IFeatureCollection, Task> application``` change to ```Func<IFeatureCollection, Task<IDisposable>> application``` in [IServerFactory.Start](
https://github.com/aspnet/Hosting/blob/dev/src/Micro

[2015-09-16 01:54] tmds commented on #356
@Tratcher ok, thanks

[2015-09-16 03:30] davidfowl commented on #222
Closing this out as we're not going to support IIS MapPath.

[2015-09-16 03:30] #222 closed

[2015-09-16 06:22] benaadams commented on #356
Hmm, it allocates 680k for per 2000 requests in coreclr

![hc-0](http://aoa.blob.core.windows.net/aspnet/hc-0.png)

[2015-09-16 17:25] muratg commented on #359
@Tratcher was there a particular reason why we weren't doing this?

[2015-09-16 17:26] rubenprins commented on #222
@davidfowl, Since IIS integration (via Helios) will not be released, MapPath support will be the least of the existing ASP.NET user base's hosting & deployment concerns.

As for us, we're still running IIS 7.5 servers (I know :unamused:), so the suggested "alternative" to Helios – HttpPlatformHandler – is not supported. This pretty much means that ASP.NET 5 is no longer a viable platform for us, f

[2015-09-16 17:29] Tratcher commented on #359
I don't think we ever really thought though it. I don't know why it was ever marked as IDisposable in the first place, we haven't found a use for it before now.  @benaadams's attempted use of it highlights some of the potential issues, such as non-deterministic lifetime.

I'd recommend removing IDisposable rather than trying to call it.

[2015-09-16 17:39] rubenprins commented on #349
What about nested applications/child paths? Is that still something that will be supported out of the box? Or will we need to configure the application's base path (a.k.a. `~/`) manually?

[2015-09-16 17:45] davidfowl commented on #222
We're actually making http platform handler work down level

[2015-09-16 17:51] davidfowl commented on #349
Won't be supported out of the box. I haven't tried it myself with the platform handler.

[2015-09-16 20:53] Eilon commented on #334
Derp, forgot about this bug. This is now a dup of https://github.com/aspnet/Hosting/issues/354, which is out for PR.

[2015-09-16 20:53] #334 closed

[2015-09-16 21:01] #353 closed

[2015-09-16 21:01] #354 closed

[2015-09-16 21:13] lodejard opened #361 "Hosting must dispose the application services on tear-down"
Right now root services which are disposable would not be disposed correctly on shutdown. This has negative consequences, like logging may have partially filled file buffers that aren't flushed before closing.

[2015-09-16 21:15] Tratcher commented on #361
https://github.com/aspnet/Hosting/issues/322

[2015-09-16 21:15] #361 closed

[2015-09-16 22:09] avanderhoorn commented on #334
Sounds good!

[2015-09-16 22:19] #322 closed

[2015-09-17 09:38] davidfowl opened #363 "Create an EventNames static class with all of the things we log through TelemetrySource"
This will make it easier to track down where we trace stuff and it will act as a catalog of what events we use overall.

[2015-09-17 15:13] benaadams commented on #327
Updated nginx ticket: https://trac.nginx.org/nginx/ticket/538#comment:4

[2015-09-17 18:51] DamianEdwards opened #364 "[Announcement] Change to IIS hosting model"
Discussions for aspnet/Announcements#69

[2015-09-17 18:59] joeaudette commented on #364
I have a server that is Windows 2008 Web Server, not R2. Does this mean I won't be able to run ASP.NET 5 on my server?

[2015-09-17 19:02] DamianEdwards commented on #364
@joeaudette ASP.NET 5 was never supported on Windows Server 2008. The minimum requirement was always Windows Server 2008 R2.

[2015-09-17 19:06] joeaudette commented on #364
I guess I understand that but it is a real bummer for me as it is the only server I have.  I'm working on a new open source project for asp.net 5 and now I have nowhere to host it.

[2015-09-17 19:13] regisbsb commented on #364
azure

[2015-09-17 19:18] joeaudette commented on #364
yeah but Azure/SqlAzure is kind of expensive for me especially vs a free server that I already have, and especially for an open source project that isn't making me money.

[2015-09-17 19:27] tomasr commented on #364
I'm not entirely sure about the whole plus story here, but this seems like a big step backwards to me.

A few downsides and questions I can see:
* We're changing a robust application hosting platform for.... one that isn't (at least yet). What would the recycling story be here, for example?
* How about support? what tooling would a sysadmin have to quickly figure out which kestrel process belongs

[2015-09-17 19:32] Bartmax commented on #364
why Microsoft.AspNet.Server.WebListener server is still an option? I'm just curious.

[2015-09-17 19:40] jods4 commented on #364
Does the removal of `web.config` have any consequence in this new model? For .net we still have `app.config`, but in `<system.webserver>` we could configure quite a lot of IIS things. I know most of the stuff is now handled (and configurable) by ASP.NET 5 but probably not everything.

Let's say for a minute that I want to do the static file serving from IIS. Is it possible? If yes, previously I co